# Вводные

In [163]:
# Library
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import math
from statsmodels.stats.power import NormalIndPower, TTestIndPower 
from collections import namedtuple
import scipy.stats as sps

ExperimentComparisonResults = namedtuple('ExperimentComparisonResults', 
                                        ['pvalue', 'effect', 'ci_length', 'left_bound', 'right_bound'])

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.neighbors import NearestNeighbors

from sqlalchemy import create_engine
import pyodbc
import psycopg2
import psycopg2.extras
import os
import gc
import io
import time
from tqdm.notebook import tqdm as tqdm_notebook

# Для выгрузки отчёта
import xlwings as xw
import win32com.client as win32
import datetime as dt

# Графические настройки 
import matplotlib.pyplot as plt

import logging
from sqlalchemy.exc import OperationalError, ProgrammingError
from Connector_package import GreenPlumConnector, teradata

In [164]:
# Consts
os.chdir(r'e:\users\meshchaninov_av\Documents\Расчёты эффектов_готовые\Тест новых ноутбуков')

# Настройка логирования
logging.basicConfig(level=logging.INFO, format="%(asctime)s - %(levelname)s - %(message)s")

# Чтение пароля из файла
with open(r'e:\users\meshchaninov_av\Documents\Python!подключение_к_greenplum.txt', 'r', encoding='utf-8') as f:
    psw = f.read().strip()

# Параметры подключения к GreenPlum
GP_PARAMS = {
    "dbname": "dwh",
    "user": "meshchaninov_av",
    "password": psw,
    "host": "10.239.6.220",
    "port": "5432"
}


actn_name = 'Подписка_Премиум_март.25_пересчет'
actn_type = 'Механики MAU'

#in_code_ruls = "'FC_may25_P_23','FC_may25_P_10','FC_may25_P_20','FC_may25_P_6','FC_may25_P_14','FC_may25_P_2','FC_may25_P_7','FC_may25_P_17','FC_may25_P_11','FC_may25_P_19','FC_may25_P_8','FC_may25_P_3','FC_may25_P_9','FC_may25_P_24','FC_may25_P_13','FC_may25_P_16','FC_may25_P_18','FC_may25_P_1','FC_may25_P_22','FC_may25_P_21','FC_may25_P_5','FC_may25_P_12','FC_may25_P_15','FC_may25_P_4'"
#in_code_offer = ''


promo_start_date = '2025-03-01'
promo_end_date = '2025-03-31'

lengthPrev = 56
lengthPost = 28

mask = 'mav'
accaunt = 'meshchaninov_av'
odbc_td = 'DSN=teradata'
odbc_gp = 'DSN=GreenPlum'

# Подключение к базе данных с помощью SQLAlchemy - для Селектов
engine = create_engine(f'postgresql://{accaunt}:{psw}@10.239.6.220:5432/dwh')

gp_connector = GreenPlumConnector(GP_PARAMS, engine=engine)
logging.info("Подключение к GreenPlum установлено.")

2025-06-10 16:40:19,712 - INFO - Успешно подключились к GreenPlum.
2025-06-10 16:40:19,714 - INFO - Подключение к GreenPlum установлено.

# Заполнение справочников

### Локация

In [ ]:
#Справочник ТТ
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_whs;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_whs (
orgunit_id INTEGER
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_whs
SELECT distinct
    orgunit_id
FROM
    dm.whs
WHERE 
    working = '1'
;""")

In [ ]:
#Кол-во ТТ
gp_connector.gp(f"""select count(1) as cnt from ba.vt_{mask}_whs;""")

### Заполняю справочник участников акции

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_ruls;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus_ruls (
contact_id INTEGER
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_ruls
SELECT DISTINCT
     d.contact_id
FROM (
    SELECT 
        t.contact_id
        ,t.rule_code
        ,t.addition_point
        ,t.write_off_point
        ,t.created_on
        ,t.record_source
    FROM 
        dm.transaction_rule t
    WHERE
        t.rule_code in ({in_code_ruls})
        and t.created_on between '{promo_start_date}'::timestamp and '{promo_end_date}'::timestamp + interval '1' day - interval '1' second
    ) d
;""")

In [ ]:
gp_connector.gp(f"""select count(1) as cnt from ba.vt_{mask}_cus_ruls;""")

In [ ]:
#Заполняю справочник
gp_connector.execute_query(f"""
DELETE FROM BA.T_ZIG_SPR_IDN_ACTN
WHERE ACTN_NAME = '{actn_name}'
;
""")

gp_connector.execute_query(f"""
INSERT INTO BA.T_ZIG_SPR_IDN_ACTN
SELECT DISTINCT
     contact_id
    ,'{actn_name}'
    ,date('{promo_start_date}')
    ,date('{promo_end_date}')
FROM 
    ba.vt_{mask}_cus_ruls
;""")

In [ ]:
cnt_cus = gp_connector.gp(f"""SELECT count(1) FROM BA.T_ZIG_SPR_IDN_ACTN WHERE ACTN_NAME = '{actn_name}';""")
print('Количество участников акции: ', cnt_cus.iloc[0,0])

In [ ]:
# Соотношение ЦА:КГ. Переменная 1:n
n_KG = 10

### Заполняю справочник акций (для новых акций)

In [ ]:
gp_connector.execute_query(f"""
DELETE FROM BA.T_ZIG_SPR_ACTN
WHERE ACTN_NAME = '{actn_name}'
;
""")

In [ ]:
gp_connector.execute_query(f"""
INSERT INTO BA.T_ZIG_SPR_ACTN
SELECT
	ACTN_NAME
	,max_ACTN_ID + 1 AS ACTN_ID
	,DATE_START
	,DATE_END
	,DATE_END - DATE_START + 1 AS ACTN_LEGTH
	,'{actn_type}'
FROM (
	SELECT DISTINCT
		ACTN_NAME
		,DATE_START
		,DATE_END
	FROM
		BA.T_ZIG_SPR_IDN_ACTN TSIA
	WHERE
		ACTN_NAME = '{actn_name}'
	) D
LEFT JOIN (
	SELECT max(ACTN_ID) AS max_ACTN_ID FROM BA.T_ZIG_SPR_ACTN
	) s ON 1 = 1
;
""")

In [ ]:
gp_connector.gp(f"""select * from BA.T_ZIG_SPR_ACTN where ACTN_NAME = '{actn_name}';""")

In [ ]:
#update
gp_connector.execute_query(f"""
UPDATE BA.T_ZIG_SPR_ACTN
SET DATE_START  = date('{promo_start_date}')
WHERE ACTN_NAME = '{actn_name}'
; 
""")

gp_connector.execute_query(f"""
UPDATE BA.T_ZIG_SPR_ACTN
SET DATE_END  = date('{promo_end_date}')
WHERE ACTN_NAME = '{actn_name}'
; 
""")

gp_connector.execute_query(f"""
UPDATE BA.T_ZIG_SPR_ACTN
SET ACTN_LENGTH  = date('{promo_end_date}') - date('{promo_start_date}') + 1
WHERE ACTN_NAME = '{actn_name}'
; 
""")

# Переменные

In [ ]:
#Справочник акций с периодами
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_spr_actn;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_spr_actn (
ACTN_NAME VARCHAR(50),
ACTN_ID SMALLINT,
ACTN_GRP VARCHAR(50),
DATE_START DATE,
DATE_END DATE,
ACTN_LENGTH INTEGER,
DATE_ST_PRE DATE,
DATE_END_LAST DATE
)
;""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_spr_actn
SELECT
	 ACTN_NAME
	,ACTN_ID
	,ACTN_GRP
	,DATE_START
	,DATE_END
	,ACTN_LENGTH
	,DATE_START - {lengthPrev} AS DATE_ST_PRE
	,DATE_END + {lengthPost} AS DATE_END_LAST
FROM
	BA.T_ZIG_SPR_ACTN
;""")

In [ ]:
gp_connector.gp(f"""select * from ba.vt_{mask}_spr_actn where actn_name = '{actn_name}';""")

In [ ]:
#Переменные акции 
actnId = gp_connector.gp(f"""SELECT Actn_id FROM ba.vt_{mask}_spr_actn WHERE actn_name = '{actn_name}';""").actn_id[0]
lengthActn = gp_connector.gp(f"""SELECT Actn_Length FROM ba.vt_{mask}_spr_actn WHERE actn_name = '{actn_name}';""").actn_length[0]
DateStart = str(gp_connector.gp(f"""SELECT DATE_START FROM ba.vt_{mask}_spr_actn WHERE actn_name = '{actn_name}';""").date_start[0])
DateEnd = str(gp_connector.gp(f"""SELECT DATE_END FROM ba.vt_{mask}_spr_actn WHERE actn_name = '{actn_name}';""").date_end[0])
DateStPre = str(gp_connector.gp(f"""SELECT Date_St_Pre FROM ba.vt_{mask}_spr_actn WHERE actn_name = '{actn_name}';""").date_st_pre[0])
DateEndLast = str(gp_connector.gp(f"""SELECT Date_End_Last FROM ba.vt_{mask}_spr_actn WHERE actn_name = '{actn_name}';""").date_end_last[0])
actnGrp = gp_connector.gp(f"""SELECT ACTN_GRP FROM ba.vt_{mask}_spr_actn WHERE actn_name = '{actn_name}';""").actn_grp[0]

In [ ]:
# 1. Уже есть запись
row = gp_connector.gp(f"""
    SELECT cutoff_id
    FROM   ba.t_actn_fix
    WHERE  actn_id = {actnId};
""")

# 2. Если нет — берём актуальный cutoff и вставляем -----------------
if row.empty:
    cutoff = actnId - 1
    cutoff = gp_connector.gp("""
        SELECT MAX(actn_id) AS id
        FROM   ba.t_zig_spr_actn
    """).id[0]

    gp_connector.execute_query(f"""
        INSERT INTO ba.t_actn_fix (actn_id, cutoff_id)
        VALUES ({actnId}, {cutoff});
    """)
else:
    cutoff = row.cutoff_id[0]      # ← повторные запуски попадают сюда

In [ ]:
#КалендарныеНедели
gp_connector.execute_query(f""" Drop Table if exists ba.vt_{mask}_promo_week;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_promo_week (
day_id date,
week_id integer,
month_id integer
)
;""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_promo_week
SELECT 
	day_id
	,week_id_2
    ,month_id
FROM dict.days d
WHERE day_id BETWEEN '2019-11-01' AND CURRENT_DATE	
;""")

In [ ]:
#Справочник акция - день
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_days;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_days (
ACTN_NAME VARCHAR(50),
ACTN_ID SMALLINT,
DATE_START DATE,
DATE_END DATE,
ACTN_LENGTH INTEGER,
DAY_ID DATE,
WEEK_ID INTEGER,
MONTH_ID INTEGER,
ACTN_PERIOD SMALLINT
)
;
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_days
SELECT
	ACTN_NAME
	,ACTN_ID
	,DATE_START
	,DATE_END
	,ACTN_LENGTH
	,D.DAY_ID
	,D.WEEK_ID
    ,D.MONTH_ID
	,CASE WHEN D.DAY_ID < DATE_START THEN 1
		WHEN D.DAY_ID BETWEEN DATE_START AND DATE_END THEN 2
		WHEN D.DAY_ID > DATE_END THEN 3
	 END AS ACTN_PERIOD
FROM
	BA.T_ZIG_SPR_ACTN TSA
JOIN
	ba.vt_{mask}_promo_week D
	ON D.DAY_ID BETWEEN '{DateStPre}' AND '{DateEndLast}'
;
""")

In [ ]:
gp_connector.gp(f"""select * from ba.vt_{mask}_days;""")

# Расчет профиля покупателя

## Пересечение акций. Моно и МультиУчастники

In [ ]:
#Пересечение акций
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_actn_duble;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_actn_duble (
ACTN_NAME VARCHAR(50),
ACTN_ID SMALLINT,
ACTN_GRP VARCHAR(50),
DATE_START DATE,
DATE_END DATE,
ACTN_NAME_DUBLE VARCHAR(50),
ACTN_ID_DUBLE SMALLINT,
ACTN_GRP_DUBLE VARCHAR(50),
DATE_START_DUBLE DATE,
DATE_END_DUBLE DATE
)
;""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_actn_duble
SELECT
	ACTN_NAME
	,ACTN_ID
	,ACTN_GRP
	,DATE_START
	,DATE_END
	,ACTN_NAME_DUBLE
	,ACTN_ID_DUBLE
	,ACTN_GRP_DUBLE
	,DATE_START_DUBLE
	,DATE_END_DUBLE
FROM (
	SELECT DISTINCT
		SA.ACTN_NAME
		,SA.ACTN_ID
		,SA.ACTN_GRP
		,SA.DATE_START
		,SA.DATE_END
		,B.ACTN_NAME AS ACTN_NAME_DUBLE
		,B.ACTN_ID AS ACTN_ID_DUBLE
		,B.ACTN_GRP AS ACTN_GRP_DUBLE
		,B.DATE_START AS DATE_START_DUBLE
		,B.DATE_END AS DATE_END_DUBLE
		,CASE WHEN SA.ACTN_ID <> B.ACTN_ID THEN 1 ELSE 0 END IS_DUBLE
	FROM (
		SELECT DISTINCT
			SA.ACTN_NAME
			,SA.ACTN_ID
			,SA.ACTN_GRP
			,SA.DATE_START
			,SA.DATE_END
			,D.DAY_ID
		FROM 
			ba.vt_{mask}_days D
		JOIN
			ba.vt_{mask}_spr_actn SA
			ON D.DAY_ID BETWEEN SA.DATE_START AND SA.DATE_END
		) SA
	JOIN
		ba.vt_{mask}_spr_actn B
		ON SA.DAY_ID BETWEEN B.DATE_START AND B.DATE_END
        AND B.actn_id <= {cutoff} -- <<< добавил
	) D
WHERE
	IS_DUBLE = 1
    and ACTN_ID > ACTN_ID_DUBLE
    and (
           (
		   ACTN_GRP = 'Кроссформатная акция'
           and
           ACTN_GRP_DUBLE in ('Кроссформатная акция','Купонная акция','Механики MAU')
		   )
		or
           (
            ACTN_GRP in ('Акция Лояльности', 'Купонная акция','Механики MAU') 
            and
            ACTN_GRP_DUBLE in ('Акция Лояльности','Кроссформатная акция','Купонная акция','Механики MAU')
           )
        
    	or 
           (
            ACTN_GRP in ('Выпечка','Оценка проекта','Пилот','Розыгрыш','Розыгрыши','ТВ реклама') 
            and
            ACTN_GRP_DUBLE in ('Выпечка','Оценка проекта','Пилот','Розыгрыш','Розыгрыши','ТВ реклама')
           )
        )
;
""")

In [ ]:
# Акции в пересечении
df_duble_actn = gp_connector.gp(f"""SELECT * FROM ba.vt_{mask}_actn_duble WHERE ACTN_ID = {actnId};""")
df_duble_actn.sort_values(by = 'actn_name_duble')

In [ ]:
#Список акций, которые нужно исключить из exclude_actn_str
actions_to_exclude = []
#Фильтруем df_duble_actn, удаляя указанные акции
df_filtered = df_duble_actn[~df_duble_actn["actn_name_duble"].isin(actions_to_exclude)]

#Формируем строку для SQL
exclude_actn_str = gp_connector.to_sql_list(df_filtered["actn_name_duble"], quotes=True)

print(exclude_actn_str) # Проверяем результат

In [ ]:
exclude_actn = exclude_actn_str
exclude_actn

In [ ]:
#Справочник дней с пересечениями акций
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_days_cross;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_days_cross (
CONTACT_ID INTEGER,
ACTN_NAME VARCHAR(50),
ACTN_ID SMALLINT,
ACTN_GRP VARCHAR(50),
DATE_START DATE,
DATE_END DATE,
DAY_ID DATE,
WEEK_ID INTEGER,
IS_CROSS SMALLINT,
CNT_DAY_WO_CROSS INTEGER
)
;""")

gp_connector.execute_query(f""" --sql
insert into ba.vt_{mask}_days_cross
WITH data AS (
    SELECT DISTINCT
        c.CONTACT_ID
        ,c.ACTN_NAME
        ,c.ACTN_ID
        ,c.ACTN_GRP
        ,c.DATE_START
        ,c.DATE_END
        ,c.DAY_ID
        ,c.WEEK_ID
        ,CASE WHEN d.CONTACT_ID IS NOT NULL THEN 1 ELSE 0 END AS IS_CROSS
    FROM (
        SELECT
            si.CONTACT_ID
            ,sa.ACTN_NAME
            ,sa.ACTN_ID
            ,sa.ACTN_GRP
            ,sa.DATE_START
            ,sa.DATE_END
            ,d.DAY_ID
            ,d.WEEK_ID
        FROM 
            ba.vt_{mask}_promo_week d
        JOIN
            ba.vt_{mask}_spr_actn sa 
            ON d.DAY_ID BETWEEN SA.DATE_START AND SA.DATE_END
            AND sa.ACTN_ID = {actnId}
        JOIN
            BA.T_ZIG_SPR_IDN_ACTN si 
            on si.ACTN_NAME = sa.ACTN_NAME
        ) c
    LEFT JOIN (               --Определяю клиентов и свободные даты из других акций
        SELECT distinct
            CONTACT_ID
            ,DAY_ID
        FROM
            BA.T_ZIG_SPR_IDN_ACTN c
        JOIN
            ba.vt_{mask}_actn_duble a
            on a.ACTN_ID = {actnId}
            and a.actn_id_duble <= {cutoff} -- <<< добавил
            and a.ACTN_NAME_DUBLE = c.ACTN_NAME
            and a.ACTN_NAME_DUBLE not in ({exclude_actn})
        join
            ba.vt_{mask}_promo_week d
            on d.DAY_ID between a.date_start_duble and a.date_end_duble
        ) d ON d.DAY_ID = c.DAY_ID
            AND d.CONTACT_ID = c.CONTACT_ID
    WHERE
        c.ACTN_ID = {actnId}
)

SELECT DISTINCT
    CONTACT_ID
    ,ACTN_NAME
    ,ACTN_ID
    ,ACTN_GRP
    ,DATE_START
    ,DATE_END
    ,DAY_ID
    ,WEEK_ID
    ,IS_CROSS
    ,MAX(CNT_DAY) OVER (PARTITION BY CONTACT_ID)  AS CNT_DAY_WO_CROSS
FROM (
    SELECT DISTINCT
        CONTACT_ID
        ,ACTN_NAME
        ,ACTN_ID
        ,ACTN_GRP
        ,DATE_START
        ,DATE_END
        ,DAY_ID
        ,WEEK_ID
        ,IS_CROSS
        ,CASE WHEN IS_CROSS = 0 THEN COUNT(DAY_ID) OVER (PARTITION BY IS_CROSS, CONTACT_ID) ELSE 0 END as CNT_DAY
    FROM
        data
) d
order by DAY_ID
;
""")

In [ ]:
#Кол-во привязанных к акции клиентов
cus_actn_total = gp_connector.gp(f"""select count(distinct contact_id) as CNT_CUS from BA.T_ZIG_SPR_IDN_ACTN where ACTN_NAME = '{actn_name}';""").cnt_cus[0]
cus_actn = gp_connector.gp(f"""select count(distinct contact_id) as CNT_CUS from ba.vt_{mask}_days_cross WHERE CNT_DAY_WO_CROSS > 0;""").cnt_cus[0]
print(f'Тотал клиентов в акции: {cus_actn_total}')
print(f'Привязанные к акции клиенты: {cus_actn}')

In [ ]:
#Распределение клиентов по дням с без пересечения с другими акциями
gp_connector.gp(f""" --sql
select
    CNT_DAY_WO_CROSS
    ,count(distinct contact_id) as CNT_CUS
from
    ba.vt_{mask}_days_cross
GROUP by CNT_DAY_WO_CROSS
Order by CNT_DAY_WO_CROSS
;""")

In [ ]:
# Удаляю клиентов с пересечением
gp_connector.execute_query(f"""--sql 
   delete from ba.vt_{mask}_days_cross
   where CNT_DAY_WO_CROSS = 0
;""")

In [ ]:
gp_connector.gp(f"""select count(distinct contact_id) as CNT_CUS from ba.vt_{mask}_days_cross;""")

## Подбор ЦА/КГ

### Транзакции

In [ ]:
month = gp_connector.gp(f"""
           select
                month_id
                ,min(day_id) as min_dt
                ,max(day_id) as max_dt
           from
                ba.vt_{mask}_days
            where
                actn_id = {actnId} 
                and actn_period = 1
            group by 1 
            order by 1
        ;""")

month

In [ ]:
#Период "до". Транзакции
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_0;""")
gp_connector.execute_query(f""" --sql
CREATE TABLE ba.vt_{mask}_trn_0 (
CONTACT_ID NUMERIC,
ORGUNIT_ID INTEGER,
SQUARE_TRADE NUMERIC,
FRMT_ID INTEGER,
REGION_ID INTEGER,
DAY_DATE DATE,
CHEQUE_PK BYTEA,
SUMM_DISCOUNTED NUMERIC,
ACTN_PERIOD SMALLINT,
REGISTRATION_DATE DATE,
CNT_DAY_WO_CROSS INTEGER,
IS_TRN_FLTR SMALLINT,
CARD_NUMBER VARCHAR(50)
)  WITH (
    appendonly=true,
    blocksize=32768,
    compresstype=zstd,
    compresslevel=4,
    orientation=column)
DISTRIBUTED BY (contact_id)
;""")

for i in tqdm_notebook(range(len(month))):
    dt_start = str(month.min_dt[i])
    dt_end = str(month.max_dt[i])

    gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_temp;""")
    gp_connector.execute_query(f""" --sql
    CREATE TABLE ba.vt_{mask}_trn_temp (
    contact_id integer,
    orgunit_id integer,
    datetime date,
    cheque_pk bytea,
    summ_discounted numeric,
    card_number varchar,
    number varchar,
    dt_load date
    ) 
        WITH (
        appendonly=true,
        blocksize=32768,
        compresstype=zstd,
        compresslevel=4,
        orientation=column)
    DISTRIBUTED BY (card_number, datetime, number)
    ;""")

    gp_connector.execute_query(f""" --sql
    insert into ba.vt_{mask}_trn_temp 
    SELECT 
        t.contact_id
        ,t.orgunit_id
        ,t.datetime
        ,t.cheque_pk
        ,t.summ_discounted
        ,t.card_number
        ,t.number
        ,t.dt_load
    FROM 
        dm.cheque t
    WHERE
        operation_type_id = 1
        AND t.datetime between ('{dt_start}'::timestamp) AND ('{dt_end}'::timestamp + interval '1' day - interval '1' second)
    ;""")

    gp_connector.execute_query(f""" --sql
    INSERT INTO ba.vt_{mask}_trn_0
    SELECT 
        contact_id
        ,orgunit_id
        ,square_trade
        ,frmt_id
        ,region_id
        ,datetime
        ,cheque_pk
        ,summ_discounted
        ,ACTN_PERIOD                 -- Период "ДО"
        ,registration_date
        ,CNT_DAY_WO_CROSS
        ,IS_TRN_FLTR
        ,card_number
    from (
        SELECT 
            t.contact_id
            ,t.orgunit_id
            ,w.square_trade
            ,w.frmt_id
            ,w.region_id
            ,t.datetime
            ,t.cheque_pk
            ,t.summ_discounted
            ,1 as ACTN_PERIOD                 -- Период "ДО"
            ,c.registration_date
            ,{lengthPrev} as CNT_DAY_WO_CROSS
            ,0 as IS_TRN_FLTR
            ,t.card_number
            ,row_number() over(partition by t.card_number, t.datetime, t.number order by t.datetime nulls last, t.dt_load nulls first) rn
        FROM 
            ba.vt_{mask}_trn_temp t
        JOIN
            ba.vt_{mask}_whs ww on ww.orgunit_id = t.orgunit_id
        JOIN
            dm.whs w ON w.orgunit_id = t.orgunit_id
        JOIN 
            dm.contact c ON c.contact_id = t.contact_id
        ) d
    WHERE
        rn = 1
    ;""")

In [ ]:
month = gp_connector.gp(f"""
           select
                month_id
                ,min(day_id) as min_dt
                ,max(day_id) as max_dt
           from
                ba.vt_{mask}_days
            where
                actn_id = {actnId} 
                and actn_period = 2
            group by 1 
            order by 1
        ;""")

month

In [ ]:
for i in tqdm_notebook(range(len(month))):
    dt_start = month.min_dt[i]
    dt_end = month.max_dt[i]

    gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_temp;""")
    gp_connector.execute_query(f""" --sql
    CREATE TABLE ba.vt_{mask}_trn_temp  ( 
    contact_id integer,
    orgunit_id integer,
    datetime date,
    cheque_pk bytea,
    summ_discounted numeric,
    card_number varchar (50),
    number varchar (50),
    dt_load date
    )
    WITH (
        appendonly=true,
        blocksize=32768,
        compresstype=zstd,
        compresslevel=4,
        orientation=column)
    DISTRIBUTED BY (card_number, datetime, number)
    ;""")

    gp_connector.execute_query(f""" --sql
    insert into ba.vt_{mask}_trn_temp
    SELECT 
        t.contact_id
        ,t.orgunit_id
        ,t.datetime
        ,t.cheque_pk
        ,t.summ_discounted
        ,t.card_number
        ,t.number
        ,t.dt_load
    FROM 
        dm.cheque t
    WHERE
        operation_type_id = 1
        AND t.datetime between ('{dt_start}'::timestamp) AND ('{dt_end}'::timestamp + interval '1' day - interval '1' second)
    ;""")

    gp_connector.execute_query(f""" --sql
    INSERT INTO ba.vt_{mask}_trn_0
    SELECT 
        contact_id
        ,orgunit_id
        ,square_trade
        ,frmt_id
        ,region_id
        ,datetime
        ,cheque_pk
        ,summ_discounted
        ,ACTN_PERIOD                 -- Период "Акционный"
        ,registration_date
        ,CNT_DAY_WO_CROSS
        ,IS_TRN_FLTR
        ,card_number
    from (
        SELECT 
            t.contact_id
            ,t.orgunit_id
            ,w.square_trade
            ,w.frmt_id
            ,w.region_id
            ,t.datetime
            ,t.cheque_pk
            ,t.summ_discounted
            ,2 as ACTN_PERIOD                 -- Акционный период
            ,c.registration_date
            ,coalesce(cd.CNT_DAY_WO_CROSS, {lengthActn}) as CNT_DAY_WO_CROSS
            ,coalesce(cd.IS_CROSS, 0) as IS_TRN_FLTR
            ,t.card_number
            ,row_number() over(partition by t.card_number, t.datetime, t.number order by t.datetime nulls last, t.dt_load nulls first) rn
        FROM 
            ba.vt_{mask}_trn_temp t
        JOIN
            ba.vt_{mask}_whs ww on ww.orgunit_id = t.orgunit_id
        JOIN
            dm.whs w ON w.orgunit_id = t.orgunit_id
        JOIN 
            dm.contact c ON c.contact_id = t.contact_id
        left JOIN 
            ba.vt_{mask}_days_cross cd
            on cd.contact_id = t.contact_id
            and cd.day_id = date(t.datetime)
        ) d
    where
        rn = 1
    ;""")

In [ ]:
# Агрегация транзакций
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_1;""")
gp_connector.execute_query(f"""
CREATE TABLE ba.vt_{mask}_trn_1 (
CONTACT_ID INTEGER,
ACTN_PERIOD SMALLINT,
FRMT_ID INTEGER,
REGION_ID INTEGER,
REGISTRATION_DATE DATE,
CNT_DAY INTEGER,
CNT_TRN INTEGER,
OPSUM NUMERIC,
AVG_SPEND NUMERIC,
AVG_TXN NUMERIC,
LONG_VISIT INTEGER,
SQUARE_TRADE NUMERIC
)
DISTRIBUTED BY (contact_id)
;""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_trn_1
WITH trn AS ( 
    SELECT
        CONTACT_ID
        ,ORGUNIT_ID
        ,SQUARE_TRADE
        ,ACTN_PERIOD
        ,FRMT_ID
        ,REGION_ID
        ,REGISTRATION_DATE
        ,DAY_DATE
        ,CHEQUE_PK
        ,SUMM_DISCOUNTED
        ,CNT_DAY_WO_CROSS
    FROM
        ba.vt_{mask}_trn_0
    WHERE
        SUMM_DISCOUNTED > 0
        AND IS_TRN_FLTR = 0
        AND ACTN_PERIOD = 1    --Период "ДО"
    ), favorite_whs AS (
    select
        contact_id,
        orgunit_id,
        frmt_id,
        region_id,
        square_trade,
        cnt_trn,
        row_number() over (partition by contact_id, frmt_id, region_id order by cnt_trn desc) as rang_whs
    from (
        select
            contact_id,
            orgunit_id,
            frmt_id,
            region_id,
            max(square_trade) as square_trade,
            count(distinct cheque_pk) as cnt_trn
        from trn
        group by 1,2,3,4) d
    )

SELECT
	t.CONTACT_ID
	,ACTN_PERIOD
	,t.FRMT_ID
	,t.REGION_ID
	,REGISTRATION_DATE
	,COUNT(DISTINCT DAY_DATE)                       AS CNT_DAY
	,COUNT(DISTINCT CHEQUE_PK)                      AS CNT_TRN
	,SUM(SUMM_DISCOUNTED)                           AS OPSUM
    ,SUM(SUMM_DISCOUNTED) / MAX(CNT_DAY_WO_CROSS)   AS AVG_SPEND
	,AVG(SUMM_DISCOUNTED)                           AS AVG_TXN
    ,MAX(date('{DateStart}')) - MAX(DAY_DATE)       AS LONG_VISIT
    ,max(w.square_trade)                            as square_trade
FROM
    trn t
left join
    favorite_whs w 
    on w.contact_id = t.contact_id
    and w.orgunit_id = t.orgunit_id
    and w.rang_whs = 1
GROUP BY 1,2,3,4,5
;""")

In [ ]:
gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_trn_1
WITH trn AS ( 
    SELECT
        CONTACT_ID
        ,ORGUNIT_ID
        ,SQUARE_TRADE
        ,ACTN_PERIOD
        ,FRMT_ID
        ,REGION_ID
        ,REGISTRATION_DATE
        ,DAY_DATE
        ,CHEQUE_PK
        ,SUMM_DISCOUNTED
        ,CNT_DAY_WO_CROSS
    FROM
        ba.vt_{mask}_trn_0
    WHERE
        SUMM_DISCOUNTED > 0
        AND IS_TRN_FLTR = 0
        AND ACTN_PERIOD = 2    --Акц.период
    ), favorite_whs AS (
    select
        contact_id,
        orgunit_id,
        frmt_id,
        region_id,
        square_trade,
        cnt_trn,
        row_number() over (partition by contact_id, frmt_id, region_id order by cnt_trn desc) as rang_whs
    from (
        select
            contact_id,
            orgunit_id,
            frmt_id,
            region_id,
            max(square_trade) as square_trade,
            count(distinct cheque_pk) as cnt_trn
        from trn
        group by 1,2,3,4) d
    )

SELECT
	t.CONTACT_ID
	,ACTN_PERIOD
	,t.FRMT_ID
	,t.REGION_ID
	,REGISTRATION_DATE
	,COUNT(DISTINCT DAY_DATE)                       AS CNT_DAY
	,COUNT(DISTINCT CHEQUE_PK)                      AS CNT_TRN
	,SUM(SUMM_DISCOUNTED)                           AS OPSUM
    ,SUM(SUMM_DISCOUNTED) / MAX(CNT_DAY_WO_CROSS)   AS AVG_SPEND
	,AVG(SUMM_DISCOUNTED)                           AS AVG_TXN
    ,0                                              AS LONG_VISIT
    ,max(w.square_trade)                            as square_trade
FROM
    trn t
left join
    favorite_whs w 
    on w.contact_id = t.contact_id
    and w.orgunit_id = t.orgunit_id
    and w.rang_whs = 1
GROUP BY 1,2,3,4,5
;
""")

In [ ]:
gp_connector.gp(f"""select ACTN_PERIOD, count(distinct CONTACT_ID) as cnt_cont from ba.vt_{mask}_trn_1 group by ACTN_PERIOD;""")

In [ ]:
gp_connector.gp(f"""select * from ba.vt_{mask}_trn_1 where square_trade is null limit 5;""")

### Удаление экстремальных

In [ ]:
# от покупки
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_ca_clear;""")
gp_connector.execute_query(f"""
CREATE TABLE ba.vt_{mask}_ca_clear (
contact_id integer,
opsum numeric,
cnt_trn numeric,
RANK_OPSUM_MIN numeric,
RANK_OPSUM_MAX numeric,
RANK_TRN_MIN numeric,
RANK_TRN_MAX numeric
)
;""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_ca_clear
WITH cus_actn AS (
	select
        contact_id
	from
		ba.vt_{mask}_days_cross
    group by 1
	), cus_data as (
	select
		t.contact_id
		,sum(opsum) as opsum
		,sum(cnt_trn) as cnt_trn
	FROM 
		ba.vt_{mask}_trn_1 t
	JOIN
		cus_actn c on c.contact_id = t.contact_id
	GROUP BY 1
	), ca_rank as (
	SELECT 
		PERCENTILE_DISC(0.01) WITHIN GROUP (ORDER BY opsum) as RANK_OPSUM_MIN
		,PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY opsum) as RANK_OPSUM_MAX
		,PERCENTILE_DISC(0.01) WITHIN GROUP (ORDER BY cnt_trn) as RANK_TRN_MIN
		,PERCENTILE_DISC(0.99) WITHIN GROUP (ORDER BY cnt_trn) as RANK_TRN_MAX
	FROM
		cus_data
	)
select
	t.contact_id
    ,t.opsum
	,t.cnt_trn
	,RANK_OPSUM_MIN
	,RANK_OPSUM_MAX
	,RANK_TRN_MIN
	,RANK_TRN_MAX
from
	cus_data t
join
	ca_rank c on 1=1
;""")

In [ ]:
gp_connector.gp(f"""select * from ba.vt_{mask}_ca_clear limit 3;""")

In [ ]:
# Кол-во ЦА до очистки
cnt_1 = gp_connector.gp(f"""--sql
select
    count(distinct CONTACT_ID) as cnt_cus
    ,sum(opsum) as opsum
	,sum(cnt_trn) as cnt_trn
from
    ba.vt_{mask}_ca_clear
;""")

# Кол-во ЦА после очистки
cnt_2 = gp_connector.gp(f"""--sql
select
    count(distinct CONTACT_ID) as cnt_cus
    ,sum(opsum) as opsum
	,sum(cnt_trn) as cnt_trn
from
    ba.vt_{mask}_ca_clear
where
	opsum BETWEEN RANK_OPSUM_MIN AND RANK_OPSUM_MAX
	and cnt_trn BETWEEN RANK_TRN_MIN AND RANK_TRN_MAX
;""")

# Кол-во ЦА. Детали
cnt_3 = gp_connector.gp(f"""--sql
select
    case when opsum < RANK_OPSUM_MIN or cnt_trn < RANK_TRN_MIN then 1
          when opsum > RANK_OPSUM_MAX or cnt_trn > RANK_TRN_MAX then 3
          else 2
    end as rank_
    ,RANK_OPSUM_MIN
	,RANK_OPSUM_MAX
	,RANK_TRN_MIN
	,RANK_TRN_MAX
    ,count(distinct CONTACT_ID) as cnt_cus
    ,sum(opsum) as opsum
	,sum(cnt_trn) as cnt_trn
from
    ba.vt_{mask}_ca_clear
group by 1,2,3,4,5
order by 1
;""")

# Распределение в группах
cnt_4 = gp_connector.gp(f"""--sql
select
    case when opsum < RANK_OPSUM_MIN or cnt_trn < RANK_TRN_MIN then 1
          when opsum > RANK_OPSUM_MAX or cnt_trn > RANK_TRN_MAX then 3
          else 2
    end as rank_
    ,contact_id
    ,opsum
    ,cnt_trn
from
    ba.vt_{mask}_ca_clear
;""")

In [ ]:
# Инфо
print('Нижняя граница:              {}'.format(cnt_3.rank_opsum_min[0]))
print('Кол-во клиентов:             {}'.format(cnt_3.cnt_cus[0]))
print('Оборот:                      {:.2f}'.format(cnt_3.opsum[0]))
print('Оборот MIN:                  {:.2f}'.format(cnt_4[cnt_4.rank_ == 1]['opsum'].min()))
print('Оборот MAX:                  {:.2f}'.format(cnt_4[cnt_4.rank_ == 1]['opsum'].max()))
print('Ср.траты исключенных кл.:    {:.2f}'.format(cnt_3.opsum[0]/cnt_3.cnt_cus[0]))
print()
print('Верхняя граница:             {}'.format(cnt_3.rank_opsum_max[2]))
print('Кол-во клиентов:             {}'.format(cnt_3.cnt_cus[2]))
print('Оборот:                      {:.2f}'.format(cnt_3.opsum[2]))
print('Оборот MIN:                  {:.2f}'.format(cnt_4[cnt_4.rank_ == 3]['opsum'].min()))
print('Оборот MAX:                  {:.2f}'.format(cnt_4[cnt_4.rank_ == 3]['opsum'].max()))
print('Ср.траты исключенных кл.:    {:.2f}'.format(cnt_3.opsum[2]/cnt_3.cnt_cus[2]))
print()
print('Total')
print('Кол-во клиентов "ДО":        {}'.format(cnt_1.cnt_cus[0]))
print('Кол-во клиентов "После":     {}'.format(cnt_2.cnt_cus[0]))
print('Кол-во исключенных клиентов: {}'.format(cnt_1.cnt_cus[0] - cnt_2.cnt_cus[0]))
print('Исключенный оборот:          {:.2f}'.format(cnt_1.opsum[0] - cnt_2.opsum[0]))
print('Ср.траты исключенных кл.:    {:.2f}'.format((cnt_1.opsum[0] - cnt_2.opsum[0])/(cnt_1.cnt_cus[0] - cnt_2.cnt_cus[0])))
print('Доля исключенный кл.:        {:.2%}'.format((cnt_1.cnt_cus[0] - cnt_2.cnt_cus[0])/cnt_1.cnt_cus[0]))
print('Доля исключенного оборота:   {:.2%}'.format((cnt_1.opsum[0] - cnt_2.opsum[0])/cnt_1.opsum[0]))

In [ ]:
fig, ax = plt.subplots(1, 3, figsize=(20, 3))
fig.suptitle('Распределение Оборота')
sns.histplot(data=cnt_4[cnt_4.rank_ == 1]['opsum'], ax=ax[0]).set(title='Нижняя граница')
sns.histplot(data=cnt_4[cnt_4.rank_ == 2]['opsum'], ax=ax[1]).set(title='Норма')
sns.histplot(data=cnt_4[cnt_4.rank_ == 3]['opsum']/1000, ax=ax[2]).set(title='Верхняя граница')

fig, ax = plt.subplots(1, 3, figsize=(20, 3))
fig.suptitle('Распределение Частоты')
sns.histplot(data=cnt_4[cnt_4.rank_ == 1]['cnt_trn'], ax=ax[0]).set(title='Нижняя граница')
sns.histplot(data=cnt_4[cnt_4.rank_ == 2]['cnt_trn'], ax=ax[1]).set(title='Норма')
sns.histplot(data=cnt_4[cnt_4.rank_ == 3]['cnt_trn'], ax=ax[2]).set(title='Верхняя граница')
plt.show()

In [ ]:
# CA/KG
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_clear;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus_clear (
CONTACT_ID INTEGER
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_clear
WITH cus_kg as (
	select
		t.contact_id
		,sum(opsum) as opsum
		,sum(cnt_trn) as cnt_trn
	FROM 
		ba.vt_{mask}_trn_1 t
    left join
        (select contact_id from ba.vt_{mask}_days_cross group by 1) c on c.contact_id = t.contact_id
    where
        c.contact_id is null
	GROUP BY 1
    ), rank as (
    select distinct
        RANK_OPSUM_MIN
        ,RANK_OPSUM_MAX
        ,RANK_TRN_MIN
        ,RANK_TRN_MAX
    from
        ba.vt_{mask}_ca_clear
    )
select
    contact_id
from
    ba.vt_{mask}_ca_clear
where
	opsum BETWEEN RANK_OPSUM_MIN AND RANK_OPSUM_MAX
	and cnt_trn BETWEEN RANK_TRN_MIN AND RANK_TRN_MAX
UNION 
select
    t.contact_id
from
    cus_kg t
join
    rank r on 1=1
where
	opsum BETWEEN RANK_OPSUM_MIN AND RANK_OPSUM_MAX
	and cnt_trn BETWEEN RANK_TRN_MIN AND RANK_TRN_MAX
;""")

In [ ]:
# Агрегация транзакций
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn;""")
gp_connector.execute_query(f"""
CREATE TABLE ba.vt_{mask}_trn (
CONTACT_ID INTEGER,
ACTN_PERIOD SMALLINT,
FRMT_ID INTEGER,
REGION_ID INTEGER,
REGISTRATION_DATE DATE,
CNT_DAY INTEGER,
CNT_TRN INTEGER,
OPSUM NUMERIC,
AVG_SPEND NUMERIC,
AVG_TXN NUMERIC,
LONG_VISIT INTEGER,
SQUARE_TRADE NUMERIC
)
;""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_trn
SELECT
	t.CONTACT_ID
	,ACTN_PERIOD
	,FRMT_ID
	,REGION_ID
	,REGISTRATION_DATE
	,CNT_DAY
	,CNT_TRN
	,OPSUM
    ,AVG_SPEND
	,AVG_TXN
	,LONG_VISIT
    ,SQUARE_TRADE
FROM
	ba.vt_{mask}_trn_1 t
join
	ba.vt_{mask}_cus_clear c on c.contact_id = t.contact_id
;
""")

In [ ]:
# проверка
gp_connector.gp(f"""--sql
WITH cus_actn AS (
    select
        contact_id
    from
        ba.vt_{mask}_days_cross
    group by 1
    )

select
    is_ca
    ,count(distinct contact_id) as cnt_cus
    ,sum(opsum) as opsum
    ,sum(cnt_trn) as cnt_trn
    ,sum(opsum)/count(distinct contact_id) as avg_spend
    ,min(opsum) as opsum_min
    ,max(opsum) as opsum_max
    ,min(cnt_trn) as trn_min
    ,max(cnt_trn) as trn_max
from (
    select
        case when c.contact_id is not null then 1 else 0 end as is_ca
        ,t.contact_id
        ,sum(opsum) as opsum
        ,sum(cnt_trn) as cnt_trn
    FROM 
        ba.vt_{mask}_trn t
    left JOIN
        cus_actn c on c.contact_id = t.contact_id
    group by 1,2
    ) d
group by 1
order by 1
;""")

In [ ]:
gp_connector.gp(f"""select * from ba.vt_{mask}_trn where contact_id = 4185;""")

### Тип клиента

In [ ]:
#ОПЕРЕДЕЛЯЮ ТИП КЛИЕНТА: РЕГУЛЯРНЫЙ/НОВЫЙ/ВЕРНУВШИЙСЯ
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_type;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus_type (
CONTACT_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CUS_TYPE VARCHAR(10)
);
""")

#regular
gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_type
SELECT
    CONTACT_ID
    ,FRMT_ID
    ,REGION_ID
    ,'REGULAR'
FROM
    ba.vt_{mask}_trn
GROUP BY 
	CONTACT_ID
	,FRMT_ID
	,REGION_ID
HAVING COUNT(DISTINCT ACTN_PERIOD) = 2
;
""")

In [ ]:
#returned
gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_type
SELECT DISTINCT
	CONTACT_ID
	,FRMT_ID
	,REGION_ID
	,'RETURNED'
FROM (
	SELECT DISTINCT
		CONTACT_ID
		,FRMT_ID
		,REGION_ID
	FROM
		ba.vt_{mask}_trn
	WHERE
		ACTN_PERIOD = 2
		AND REGISTRATION_DATE < '{promo_start_date}'
	EXCEPT 
		SELECT DISTINCT
			CONTACT_ID
			,FRMT_ID
			,REGION_ID
		FROM
			ba.vt_{mask}_trn
		WHERE
			ACTN_PERIOD = 1
	) D
;
""")

In [ ]:
#new
gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_type
SELECT DISTINCT
	CONTACT_ID
	,FRMT_ID
	,REGION_ID
	,'NEW'
FROM (
	SELECT DISTINCT
		CONTACT_ID
		,FRMT_ID
		,REGION_ID
	FROM
		ba.vt_{mask}_trn
	WHERE
		ACTN_PERIOD = 2
	EXCEPT 
		SELECT DISTINCT
			CONTACT_ID
			,FRMT_ID
			,REGION_ID
		FROM
			ba.vt_{mask}_cus_type
	) D
;
""")

In [ ]:
gp_connector.gp(f"""select cus_type, count(distinct CONTACT_ID) as cnt_contc from ba.vt_{mask}_cus_type group by cus_type;""")

### Очистка клиентов от случайных

In [ ]:
#Очистка Регулярных
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_reg;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus_reg (
CONTACT_ID INTEGER,
IS_CA SMALLINT,
ACTN_ID SMALLINT,
ACTN_PERIOD SMALLINT,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CUS_TYPE varchar(10),
CNT_DAY INTEGER,
CNT_TRN INTEGER,
OPSUM NUMERIC,
AVG_SPEND NUMERIC,
AVG_TXN NUMERIC,
LONG_VISIT INTEGER,
SQUARE_TRADE NUMERIC
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_reg
SELECT
    CONTACT_ID
    ,IS_CA
    ,ACTN_ID
    ,ACTN_PERIOD
    ,FRMT_ID
    ,REGION_ID
    ,CUS_TYPE
    ,CNT_DAY
    ,CNT_TRN
    ,OPSUM
    ,AVG_SPEND
    ,AVG_TXN
    ,LONG_VISIT
    ,SQUARE_TRADE
FROM (
    SELECT
        T.CONTACT_ID
        ,case when ca.CONTACT_ID is not null then 1 else 0 end IS_CA
        ,{actnId} AS ACTN_ID
        ,ACTN_PERIOD
        ,T.FRMT_ID
        ,T.REGION_ID
        ,CUS_TYPE
        ,CNT_DAY
        ,CNT_TRN
        ,OPSUM
        ,AVG_SPEND
        ,AVG_TXN
        ,LONG_VISIT
        ,SQUARE_TRADE
        ,max(case when ACTN_PERIOD = 1 then CNT_TRN else 0 end) over (partition by t.CONTACT_ID, t.FRMT_ID, t.REGION_ID) as CNT_TRN_PREV
        ,max(case when ACTN_PERIOD = 2 then CNT_TRN else 0 end) over (partition by t.CONTACT_ID, t.FRMT_ID, t.REGION_ID) as CNT_TRN_ACTN
    FROM 
        ba.vt_{mask}_trn T
    JOIN
        ba.vt_{mask}_cus_type C
        ON C.CONTACT_ID = T.CONTACT_ID 
        AND C.FRMT_ID = T.FRMT_ID
        AND C.REGION_ID = T.REGION_ID
    left JOIN
        (SELECT distinct CONTACT_ID FROM BA.T_ZIG_SPR_IDN_ACTN WHERE ACTN_NAME = '{actn_name}') CA 
        ON CA.CONTACT_ID = T.CONTACT_ID
    ) D
WHERE 1=1
    and CNT_DAY >= 2
    and CNT_TRN_PREV BETWEEN 2 AND {lengthPrev}
    and CNT_TRN_ACTN BETWEEN 2 AND {lengthActn}
;
""")

In [ ]:
gp_connector.gp(f""" --sql
select
    ACTN_PERIOD
    ,IS_CA
    ,CUS_TYPE
    ,count(distinct CONTACT_ID)
    ,min(CNT_TRN)
    ,max(CNT_TRN)
from
    ba.vt_{mask}_cus_reg
group by
    ACTN_PERIOD
    ,IS_CA
    ,CUS_TYPE
order by
    ACTN_PERIOD
    ,IS_CA
    ,CUS_TYPE
;""")

### ДНК клиента

In [ ]:
#ДНК клиента по признакам Траты/ср.чек/частота покупок
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_ca_frmt;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_ca_frmt (
CONTACT_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CUS_TYPE varchar(10),
OPSUM_LVL INTEGER,
AVG_TXN_LVL INTEGER,
CNT_TRN_LVL INTEGER
);
""")

In [ ]:
#подбираю КГ со схожим поведением
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_kg_frmt;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_kg_frmt (
CONTACT_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CUS_TYPE varchar(10),
OPSUM_LVL INTEGER,
AVG_TXN_LVL INTEGER,
CNT_TRN_LVL INTEGER
);
""")

In [ ]:
gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_ca_frmt
SELECT
	c.CONTACT_ID
	,FRMT_ID
	,REGION_ID
	,CUS_TYPE
	,COALESCE((FLOOR(AVG_SPEND/100) * 100), 0) AS OPSUM_LVL	--100
	,COALESCE((FLOOR(AVG_TXN/50) * 50), 0) AS AVG_TXN_LVL
	,COALESCE((FLOOR(CNT_TRN/1)*1), 0) AS CNT_TRN_LVL
FROM
	ba.vt_{mask}_cus_reg c
JOIN
    (SELECT distinct CONTACT_ID FROM ba.vt_{mask}_days_cross) CA 
    ON CA.CONTACT_ID = c.CONTACT_ID
WHERE 
	CUS_TYPE = 'REGULAR'
    and IS_CA = 1
    and ACTN_PERIOD = 1 -- prev
;
""")

In [ ]:
gp_connector.gp(f"""select * from ba.vt_{mask}_ca_frmt limit 3;""")

In [ ]:
gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_kg_frmt
SELECT
	CONTACT_ID
	,FRMT_ID
	,REGION_ID
	,CUS_TYPE
	,COALESCE((FLOOR(AVG_SPEND/100) * 100), 0) AS OPSUM_LVL	--100
	,COALESCE((FLOOR(AVG_TXN/50) * 50), 0) AS AVG_TXN_LVL
	,COALESCE((FLOOR(CNT_TRN/1)*1), 0) AS CNT_TRN_LVL
FROM
	ba.vt_{mask}_cus_reg
WHERE 
	CUS_TYPE = 'REGULAR'
    and IS_CA = 0
    and ACTN_PERIOD = 1 -- prev
;
""")

In [ ]:
gp_connector.gp(f"""select * from ba.vt_{mask}_kg_frmt limit 3;""")

### Подбор КГ для ЦА

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_ca_frmt_grp;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_ca_frmt_grp (
FRMT_ID INTEGER,
REGION_ID INTEGER,
CUS_TYPE VARCHAR(10),
OPSUM_LVL INTEGER,
AVG_TXN_LVL INTEGER,
CNT_TRN_LVL INTEGER,
CNT_CUS INTEGER
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_ca_frmt_grp
SELECT
	FRMT_ID
	,REGION_ID
	,CUS_TYPE
	,OPSUM_LVL
	,AVG_TXN_LVL
	,CNT_TRN_LVL
	,COUNT(DISTINCT CONTACT_ID) AS CNT_CUS
FROM
	ba.vt_{mask}_ca_frmt
GROUP BY
	FRMT_ID
	,REGION_ID
	,CUS_TYPE
	,OPSUM_LVL
	,AVG_TXN_LVL
	,CNT_TRN_LVL
;
""")

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_kg_lfl_frmt;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_kg_lfl_frmt (
CONTACT_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CUS_TYPE varchar(10),
OPSUM_LVL INTEGER,
AVG_TXN_LVL INTEGER,
CNT_TRN_LVL INTEGER,
CNT_CUS INTEGER,
CNT_KG INTEGER
)
;""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_kg_lfl_frmt
SELECT
	 CONTACT_ID
	,FRMT_ID
	,REGION_ID
	,CUS_TYPE
	,OPSUM_LVL
	,AVG_TXN_LVL
	,CNT_TRN_LVL
	,CNT_CUS
    ,CNT_KG
FROM (
    SELECT
         CONTACT_ID
        ,FRMT_ID
        ,REGION_ID
        ,CUS_TYPE
        ,OPSUM_LVL
        ,AVG_TXN_LVL
        ,CNT_TRN_LVL
        ,CNT_CUS
        ,ROW_NUM
        ,count(CONTACT_ID) over (partition by FRMT_ID, REGION_ID, CUS_TYPE, OPSUM_LVL, AVG_TXN_LVL, CNT_TRN_LVL) as CNT_KG
    FROM (
        SELECT
             KF.CONTACT_ID
            ,KF.FRMT_ID
            ,KF.REGION_ID
            ,kf.CUS_TYPE
            ,KF.OPSUM_LVL
            ,KF.AVG_TXN_LVL
            ,KF.CNT_TRN_LVL
            ,CFG.CNT_CUS
            ,ROW_NUMBER() OVER (PARTITION BY KF.REGION_ID, KF.FRMT_ID, KF.CUS_TYPE, KF.OPSUM_LVL, KF.AVG_TXN_LVL, KF.CNT_TRN_LVL order by KF.CNT_TRN_LVL desc) AS ROW_NUM
        FROM
            ba.vt_{mask}_kg_frmt KF
        JOIN
            ba.vt_{mask}_ca_frmt_grp CFG
            on CFG.FRMT_ID = KF.FRMT_ID
            AND CFG.REGION_ID = KF.REGION_ID
            AND cfg.CUS_TYPE = kf.CUS_TYPE
            AND CFG.OPSUM_LVL = KF.OPSUM_LVL
            AND CFG.AVG_TXN_LVL = KF.AVG_TXN_LVL
            AND CFG.CNT_TRN_LVL = KF.CNT_TRN_LVL
        ) d
    WHERE
        (case when FRMT_ID = 1 then ROW_NUM else 0 end) <= CNT_CUS * {n_KG}
    ) d
;
""")

In [ ]:
#Фильтрую ЦА для которых не подобралась КГ
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_ca_lfl_frmt;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_ca_lfl_frmt (
CONTACT_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CUS_TYPE varchar(10),
OPSUM_LVL INTEGER,
AVG_TXN_LVL INTEGER,
CNT_TRN_LVL INTEGER
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_ca_lfl_frmt
SELECT
	C.CONTACT_ID
	,C.FRMT_ID
	,C.REGION_ID
	,c.CUS_TYPE
	,C.OPSUM_LVL
	,C.AVG_TXN_LVL
	,C.CNT_TRN_LVL
FROM 
	ba.vt_{mask}_ca_frmt C
JOIN (
	SELECT DISTINCT
		FRMT_ID
		,REGION_ID
		,CUS_TYPE
		,OPSUM_LVL
		,AVG_TXN_LVL
		,CNT_TRN_LVL
	FROM 
		ba.vt_{mask}_kg_lfl_frmt
	) D
	on D.FRMT_ID = C.FRMT_ID
	AND D.REGION_ID = C.REGION_ID
	AND d.CUS_TYPE = c.CUS_TYPE
	AND d.OPSUM_LVL = c.OPSUM_LVL
	AND D.AVG_TXN_LVL = C.AVG_TXN_LVL
	AND D.CNT_TRN_LVL = C.CNT_TRN_LVL
;
""")

In [ ]:
#Собираю в таблицу ЦА/КГ
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus (
CONTACT_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CUS_TYPE VARCHAR(10),
IS_CA SMALLINT
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus
SELECT DISTINCT
	CONTACT_ID
	,FRMT_ID
	,REGION_ID
	,CUS_TYPE
	,1 AS IS_CA
FROM 
	ba.vt_{mask}_ca_lfl_frmt
UNION 
SELECT DISTINCT
	CONTACT_ID
	,FRMT_ID
	,REGION_ID
	,CUS_TYPE
	,0 AS IS_CA
FROM 
	ba.vt_{mask}_kg_lfl_frmt
;
""")

In [ ]:
gp_connector.gp(f""" --sql
select
    IS_CA
    ,FRMT_ID
    ,CUS_TYPE
    ,count(distinct CONTACT_ID)
from
    ba.vt_{mask}_cus
group by
    IS_CA
    ,FRMT_ID
    ,CUS_TYPE
order by
    IS_CA
    ,FRMT_ID
    ,CUS_TYPE
;""")

In [ ]:
gp_connector.gp(f"""select IS_CA, count(distinct CONTACT_ID) from ba.vt_{mask}_cus group by IS_CA;""")

### Динамика Гр20

In [ ]:
month = gp_connector.gp(f"""
           select
                month_id
                ,min(day_id) as min_dt
                ,max(day_id) as max_dt
           from
                ba.vt_{mask}_days
            where
                actn_id = {actnId} 
                and actn_period = 1
            group by 1 
            order by 1
        ;""")

month

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_gr_0;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus_gr_0 (
CONTACT_ID INTEGER,
GR20_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CNT_TRN INTEGER,
OPSUM NUMERIC,
QNTY NUMERIC
);
""")

for i in tqdm_notebook(range(len(month))):
    dt_start = str(month.min_dt[i])
    dt_end = str(month.max_dt[i])

    gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_temp;""")
    gp_connector.execute_query(f""" --sql
    CREATE TABLE ba.vt_{mask}_trn_temp  (
    contact_id integer,
    orgunit_id integer,
    frmt_id integer,
    region_id integer,
    cheque_pk bytea,
    article_id integer,
    summ_discounted numeric,
    quantity numeric
    )
    WITH (
        appendonly=true,
        blocksize=32768,
        compresstype=zstd,
        compresslevel=4,
        orientation=column)
    ;""")

    gp_connector.execute_query(f""" --sql
    insert into ba.vt_{mask}_trn_temp
    with trn as (
        select 
            t.contact_id,
            t.orgunit_id,
            t.frmt_id,
            t.region_id,
            t.cheque_pk,
            t.summ_discounted
        from ba.vt_{mask}_trn_0 t
        join ba.vt_{mask}_cus cc 
            on cc.contact_id = t.contact_id
            and cc.frmt_id = t.frmt_id
            and cc.region_id = t.region_id
        where day_date between ('{dt_start}'::timestamp) AND ('{dt_end}'::timestamp + interval '1' day - interval '1' second)
    )
    SELECT 
        t.contact_id,
        t.orgunit_id,
        t.frmt_id,
        t.region_id,
        t.cheque_pk,
        ci.article_id,
        ci.summ_discounted,
        ci.quantity
    FROM trn t
    JOIN dm.cheque_item ci on ci.cheque_pk = t.cheque_pk
    WHERE ci.datetime between ('{dt_start}'::timestamp) AND ('{dt_end}'::timestamp + interval '1' day - interval '1' second)
    ;""")

    gp_connector.execute_query(f""" --sql
    insert into ba.vt_{mask}_cus_gr_0
    SELECT
        t.contact_id,
        ae.ART_GRP_LVL_0_ID as gr20_id,
        t.frmt_id,
        t.region_id,
        count(DISTINCT t.cheque_pk) AS cnt_trn,
        sum(t.summ_discounted) AS opsum,
        sum(t.quantity) AS qnty
    from ba.vt_{mask}_trn_temp t
    JOIN dm.art_ext ae ON ae.article_id = t.article_id
    GROUP BY 1,2,3,4
    ;""")

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_gr;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus_gr (
CONTACT_ID INTEGER,
GR20_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CNT_TRN INTEGER,
OPSUM NUMERIC,
QNTY NUMERIC
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_gr
SELECT
    CONTACT_ID
    ,GR20_ID
    ,FRMT_ID
    ,REGION_ID
    ,sum(cnt_trn) AS cnt_trn
    ,sum(opsum) AS opsum
    ,sum(qnty) AS qnty
from
    ba.vt_{mask}_cus_gr_0
GROUP BY 
    CONTACT_ID
    ,GR20_ID
    ,FRMT_ID
    ,REGION_ID
;""")

In [ ]:
gp_connector.gp(f"""select count(distinct CONTACT_ID) from ba.vt_{mask}_cus_gr;""")

### Гр20 - транспонирование таблицы

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_gr_transp;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus_gr_transp (
CONTACT_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
"opsum_Бакалея" NUMERIC,
"opsum_Безалкогольные напитки" NUMERIC,
"opsum_Бытовая химия" NUMERIC,
"opsum_Вино" NUMERIC,
"opsum_Детское питание" NUMERIC,
"opsum_Замороженная продукция" NUMERIC,
"opsum_Кондитерские изделия" NUMERIC,
"opsum_Консервированные продукты" NUMERIC,
"opsum_Кофе, какао" NUMERIC,
"opsum_Крепкий алкоголь" NUMERIC,
"opsum_Кулинария" NUMERIC,
"opsum_Молочная продукция" NUMERIC,
"opsum_Мучные кондитерские изделия" NUMERIC,
"opsum_Мясная гастрономия" NUMERIC,
"opsum_Мясо" NUMERIC,
"opsum_Парфюмерия и декоративная косметика" NUMERIC,
"opsum_Продукция для животных" NUMERIC,
"opsum_Промышленные товары" NUMERIC,
"opsum_Птица" NUMERIC,
"opsum_Рыба" NUMERIC,
"opsum_Рыбная гастрономия" NUMERIC,
"opsum_Свежие овощи" NUMERIC,
"opsum_Свежие фрукты" NUMERIC,
"opsum_Слабоалкогольные напитки" NUMERIC,
"opsum_Снэки" NUMERIC,
"opsum_Специальное питание" NUMERIC,
"opsum_Сыры" NUMERIC,
"opsum_Табачные изделия" NUMERIC,
"opsum_Уход и гигиена" NUMERIC,
"opsum_Хлеб и хлебобулочные изделия" NUMERIC,
"opsum_Чай" NUMERIC,
"opsum_Яичные товары" NUMERIC
)
;""")

gp_connector.execute_query(f""" --sql
insert into ba.vt_{mask}_cus_gr_transp
SELECT
	CONTACT_ID
    ,FRMT_ID
    ,REGION_ID
	,max(CASE WHEN GR20_ID = 16722	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Бакалея"
	,max(CASE WHEN GR20_ID = 2135	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Безалкогольные напитки"
	,max(CASE WHEN GR20_ID = 1262	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Бытовая химия"
	,max(CASE WHEN GR20_ID = 1173	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Вино"
	,max(CASE WHEN GR20_ID = 551	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Детское питание"
	,max(CASE WHEN GR20_ID = 16906	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Замороженная продукция"
	,max(CASE WHEN GR20_ID = 102	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Кондитерские изделия"
	,max(CASE WHEN GR20_ID = 16562	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Консервированные продукты"
	,max(CASE WHEN GR20_ID = 78		THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Кофе, какао"
	,max(CASE WHEN GR20_ID = 17034	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Крепкий алкоголь"
	,max(CASE WHEN GR20_ID = 684	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Кулинария"
	,max(CASE WHEN GR20_ID = 16352	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Молочная продукция"
	,max(CASE WHEN GR20_ID = 17079	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Мучные кондитерские изделия"
	,max(CASE WHEN GR20_ID = 16315	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Мясная гастрономия"
	,max(CASE WHEN GR20_ID = 16332	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Мясо"
	,max(CASE WHEN GR20_ID = 1181	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Парфюмерия и декоративная косметика"
	,max(CASE WHEN GR20_ID = 1155	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Продукция для животных"
	,max(CASE WHEN GR20_ID = 1869	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Промышленные товары"
	,max(CASE WHEN GR20_ID = 16322	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Птица"
	,max(CASE WHEN GR20_ID = 16342	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Рыба"
    ,max(CASE WHEN GR20_ID = 16752	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Рыбная гастрономия"
	,max(CASE WHEN GR20_ID = 16864	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Свежие овощи"
	,max(CASE WHEN GR20_ID = 17241	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Свежие фрукты"
	,max(CASE WHEN GR20_ID = 323	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Слабоалкогольные напитки"
	,max(CASE WHEN GR20_ID = 1128	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Снэки"
    ,max(CASE WHEN GR20_ID = 1327	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Специальное питание"
	,max(CASE WHEN GR20_ID = 16343	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Сыры"
	,max(CASE WHEN GR20_ID = 367	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Табачные изделия"
	,max(CASE WHEN GR20_ID = 252	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Уход и гигиена"
	,max(CASE WHEN GR20_ID = 679	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Хлеб и хлебобулочные изделия"
	,max(CASE WHEN GR20_ID = 415	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Чай"
	,max(CASE WHEN GR20_ID = 222	THEN AVG_SPEND_GR ELSE 0 END) AS "opsum_Яичные товары"                  
FROM ( 
    SELECT
        cg.CONTACT_ID
        ,cg.GR20_ID
        ,cg.FRMT_ID
        ,cg.REGION_ID
        ,cg.OPSUM / co.CNT_TRN as AVG_SPEND_GR
    FROM
        ba.vt_{mask}_cus_gr cg
    JOIN
        ba.vt_{mask}_cus_reg co 
        on co.CONTACT_ID = cg.CONTACT_ID
        and co.FRMT_ID = cg.FRMT_ID
        and co.REGION_ID = cg.REGION_ID
        and co.ACTN_PERIOD = 1
	) d
GROUP BY
    CONTACT_ID
    ,FRMT_ID
    ,REGION_ID
;
""")

In [ ]:
gp_connector.gp(f"""select FRMT_ID, count(distinct CONTACT_ID) from ba.vt_{mask}_cus_gr_transp group by FRMT_ID;""")

### Пол-Возраст покупателя

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_gender;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus_gender (
CONTACT_ID INTEGER,
GENDER_CODE smallint,
AGE_CALC INTEGER
)
;""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_gender
SELECT
	c.CONTACT_ID
	,case when gendercalc = 'F' then 1
          when gendercalc = 'M' then 2
          else 0
    end as GENDER_CODE
	,(current_date - date(birth_date))/364 AS AGE_CALC
FROM 
	dm.contact c
JOIN
    (select distinct CONTACT_ID from ba.vt_{mask}_cus) cg on cg.CONTACT_ID = c.CONTACT_ID
;""")

In [ ]:
gp_connector.gp(f"""select count(distinct CONTACT_ID) from ba.vt_{mask}_cus_gender;""")

### Активный пользователь вирт.карты

In [ ]:
#Выделяю клиентов с виртуальной картой
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_virt;""")
gp_connector.execute_query(f""" --sql
Create TABLE ba.vt_{mask}_cus_virt (
CONTACT_ID INTEGER
)
;""")

# CA
gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_virt
WITH trn AS (
SELECT distinct
	contact_id
    ,card_number
FROM
    ba.vt_{mask}_trn_0
WHERE
    actn_period = 1
)

SELECT DISTINCT
	t.CONTACT_ID
FROM
    trn t
JOIN
    (select distinct CONTACT_ID from ba.vt_{mask}_cus) cg on cg.CONTACT_ID = T.CONTACT_ID
JOIN
    dm.card cc ON cc.card_number = t.card_number
WHERE
    cc.card_type_id in (1, 90) -- VIRTUAL_01, VIRTUAL_02
;""")

In [ ]:
gp_connector.gp(f"""select count(distinct CONTACT_ID) from ba.vt_{mask}_cus_virt;""")

### Итоговый профиль клиента

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_profile;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus_profile (
CONTACT_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
IS_CA SMALLINT,
IS_VIRT SMALLINT,
GENDER SMALLINT,
AGE INTEGER,
LONG_VISIT INTEGER,
SQUARE_TRADE NUMERIC,
SPEND_PREV float,
SPEND_ACTN float,
AVG_TXN_PREV float,
AVG_TXN_ACTN float,
CNT_TRN_PREV float,
CNT_TRN_ACTN float,
"opsum_Бакалея" NUMERIC,
"opsum_Безалкогольные напитки" NUMERIC,
"opsum_Бытовая химия" NUMERIC,
"opsum_Вино" NUMERIC,
"opsum_Детское питание" NUMERIC,
"opsum_Замороженная продукция" NUMERIC,
"opsum_Кондитерские изделия" NUMERIC,
"opsum_Консервированные продукты" NUMERIC,
"opsum_Кофе, какао" NUMERIC,
"opsum_Крепкий алкоголь" NUMERIC,
"opsum_Кулинария" NUMERIC,
"opsum_Молочная продукция" NUMERIC,
"opsum_Мучные кондитерские изделия" NUMERIC,
"opsum_Мясная гастрономия" NUMERIC,
"opsum_Мясо" NUMERIC,
"opsum_Парфюмерия и декоративная косметика" NUMERIC,
"opsum_Продукция для животных" NUMERIC,
"opsum_Промышленные товары" NUMERIC,
"opsum_Птица" NUMERIC,
"opsum_Рыба" NUMERIC,
"opsum_Рыбная гастрономия" NUMERIC,
"opsum_Свежие овощи" NUMERIC,
"opsum_Свежие фрукты" NUMERIC,
"opsum_Слабоалкогольные напитки" NUMERIC,
"opsum_Снэки" NUMERIC,
"opsum_Специальное питание" NUMERIC,
"opsum_Сыры" NUMERIC,
"opsum_Табачные изделия" NUMERIC,
"opsum_Уход и гигиена" NUMERIC,
"opsum_Хлеб и хлебобулочные изделия" NUMERIC,
"opsum_Чай" NUMERIC,
"opsum_Яичные товары" NUMERIC
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_profile
WITH opsum_agg AS ( 
    select
        t.CONTACT_ID
        ,t.FRMT_ID
        ,t.REGION_ID
        ,c.IS_CA
        ,t.ACTN_PERIOD
        ,t.AVG_SPEND
        ,t.AVG_TXN
        ,t.CNT_TRN
        ,t.LONG_VISIT
        ,t.SQUARE_TRADE
        ,case when cv.CONTACT_ID is not null then 1 else 0 end as IS_VIRT
    from
        ba.vt_{mask}_cus_reg t
    JOIN
        ba.vt_{mask}_cus c 
        on c.CONTACT_ID = t.CONTACT_ID
        and c.FRMT_ID = t.FRMT_ID
        and c.REGION_ID = t.REGION_ID
        and c.IS_CA = t.IS_CA
    left JOIN
        ba.vt_{mask}_cus_virt cv on cv.CONTACT_ID = t.CONTACT_ID
), opsum_agg_transp AS (
    select
        CONTACT_ID
        ,FRMT_ID
        ,REGION_ID
        ,IS_CA
        ,IS_VIRT
        ,sum(case when ACTN_PERIOD = 1 then AVG_SPEND end) as SPEND_PREV
        ,sum(case when ACTN_PERIOD = 2 then AVG_SPEND end) as SPEND_ACTN
        ,max(case when ACTN_PERIOD = 1 then AVG_TXN end) as AVG_TXN_PREV
        ,max(case when ACTN_PERIOD = 2 then AVG_TXN end) as AVG_TXN_ACTN
        ,sum(case when ACTN_PERIOD = 1 then CNT_TRN end) as CNT_TRN_PREV
        ,sum(case when ACTN_PERIOD = 2 then CNT_TRN end) as CNT_TRN_ACTN
        ,max(case when ACTN_PERIOD = 1 then LONG_VISIT end) as LONG_VISIT
        ,max(case when ACTN_PERIOD = 1 then SQUARE_TRADE end) as SQUARE_TRADE
    from
        opsum_agg
    group by
        CONTACT_ID
        ,FRMT_ID
        ,REGION_ID
        ,IS_CA
        ,IS_VIRT
)

SELECT distinct
    t.CONTACT_ID
    ,t.FRMT_ID
    ,t.REGION_ID
    ,t.IS_CA
    ,t.IS_VIRT
    ,cg.GENDER_CODE
    ,cg.AGE_CALC
    ,t.LONG_VISIT
    ,t.SQUARE_TRADE
    ,t.SPEND_PREV
    ,t.SPEND_ACTN
    ,t.AVG_TXN_PREV
    ,t.AVG_TXN_ACTN
    ,t.CNT_TRN_PREV
    ,t.CNT_TRN_ACTN
    ,"opsum_Бакалея"
    ,"opsum_Безалкогольные напитки"
    ,"opsum_Бытовая химия"
    ,"opsum_Вино"
    ,"opsum_Детское питание"
    ,"opsum_Замороженная продукция"
    ,"opsum_Кондитерские изделия"
    ,"opsum_Консервированные продукты"
    ,"opsum_Кофе, какао"
    ,"opsum_Крепкий алкоголь"
    ,"opsum_Кулинария"
    ,"opsum_Молочная продукция"
    ,"opsum_Мучные кондитерские изделия"
    ,"opsum_Мясная гастрономия"
    ,"opsum_Мясо"
    ,"opsum_Парфюмерия и декоративная косметика"
    ,"opsum_Продукция для животных"
    ,"opsum_Промышленные товары"
    ,"opsum_Птица"
    ,"opsum_Рыба"
    ,"opsum_Рыбная гастрономия"
    ,"opsum_Свежие овощи"
    ,"opsum_Свежие фрукты"
    ,"opsum_Слабоалкогольные напитки"
    ,"opsum_Снэки"
    ,"opsum_Специальное питание"
    ,"opsum_Сыры"
    ,"opsum_Табачные изделия"
    ,"opsum_Уход и гигиена"
    ,"opsum_Хлеб и хлебобулочные изделия"
    ,"opsum_Чай"
    ,"opsum_Яичные товары"
FROM
    opsum_agg_transp t
JOIN
    ba.vt_{mask}_cus_gender cg on cg.CONTACT_ID = t.CONTACT_ID
left JOIN
    ba.vt_{mask}_cus_gr_transp cgt 
    on cgt.CONTACT_ID = t.CONTACT_ID
    and cgt.FRMT_ID = t.FRMT_ID
    and cgt.REGION_ID = t.REGION_ID
;
""")

In [ ]:
gp_connector.gp(f"""
SELECT FRMT_ID, IS_CA, count(distinct CONTACT_ID) 
FROM ba.vt_{mask}_cus_profile 
GROUP by FRMT_ID, IS_CA 
ORDER by FRMT_ID, IS_CA 
;""")

In [ ]:
gp_connector.gp(f"""select * from ba.vt_{mask}_cus_profile limit 5;""")

### Propensity score matching (PSM). Подбор ЦА/КГ

In [ ]:
#ЗАПОЛНИТЬ!
mde_ratio = 10.0 / 100.0 #10% минимальный детектируемый эффект прироста трат

In [ ]:
# Оптимизированная функция
def perform_matching(indexes: np.ndarray,
                        is_ca_array: np.ndarray,
                        frmt_id_array: np.ndarray,
                        region_id_array: np.ndarray) -> np.ndarray:
        """
        Batch-функция для мэтчинга KNN.
        Перебирает все индексы, где is_ca == 1, для каждого такого индекса ищет
        первого подходящего кандидата (is_ca == 0) из его ближайших соседей, который:
        1) Не совпадает с самим индексом.
        2) Имеет тот же frmt_id.
        3) Имеет тот же region_id.
        4) Ещё не использован (уникальный).
        Параметры:
        ----------
        indexes : np.ndarray
            Результат вызова knn.kneighbors(...)[1], массив индексов ближайших соседей.
            Размерность: (n_samples, n_neighbors).
        is_ca_array : np.ndarray
            Массив признака is_ca (0/1) для каждой строки.
        frmt_id_array : np.ndarray
            Массив, в котором хранится frmt_id для каждой строки.
        region_id_array : np.ndarray
            Массив, в котором хранится region_id для каждой строки.

        Возвращает:
        ----------
        np.ndarray
            Массив matched_element длиной n_samples, где:
            - matched_element[i] = индекс подобранного «не ЦА» для строки i,
            - matched_element[i] = np.nan, если подходящий кандидат не найден.
        """

        n = len(is_ca_array)
        # Сюда запишем итоговый индекс «пары» для каждой строки (или np.nan, если нет)
        matched_element = np.full(n, np.nan, dtype=np.float32)

        # Булевый массив для учёта уже использованных кандидатов:
        used_kg_mask = np.zeros(n, dtype=bool)

        # Определяем индексы, где is_ca == 1 (лечебная группа)
        treated_indices = np.where(is_ca_array == 1)[0]

        for current_index in treated_indices:
            # Ближайшие соседи для текущего индекса
            candidates = indexes[current_index, :]

            # Маска: не сам себя
            mask_not_self = (candidates != current_index)
            # Маска: кандидат из контрольной группы (is_ca == 0)
            mask_ca = (is_ca_array[candidates] == 0)
            # Маска: тот же формат
            mask_frmt = (frmt_id_array[candidates] == frmt_id_array[current_index])
            # Маска: тот же регион
            mask_region = (region_id_array[candidates] == region_id_array[current_index])
            # Маска: ещё не использован (unique pair)
            mask_unused = ~used_kg_mask[candidates]

            valid_mask = mask_not_self & mask_ca & mask_frmt & mask_region & mask_unused
            valid_indices = np.where(valid_mask)[0]

            if len(valid_indices) > 0:
                # Берём первого подходящего кандидата
                chosen_idx = candidates[valid_indices[0]]
                matched_element[current_index] = chosen_idx
                # Отмечаем, что chosen_idx теперь нельзя использовать повторно
                used_kg_mask[chosen_idx] = True

        return matched_element

def perfom_matching_v1(row, indexes, df):
    current_index = int(row['level_0']) # Obtain value from index-named column, not the actual DF index.
    for idx in indexes[current_index,:]:
        if (current_index != idx) and (row.is_ca == 1) and (df.loc[idx].is_ca == 0) and\
           (row.frmt_id == df.loc[idx].frmt_id) and (row.region_id == df.loc[idx].region_id):
            return int(idx)
        
def perfom_matching_v2(row, indexes, df, kg_lst):
    current_index = int(row['level_0']) # Obtain value from index-named column, not the actual DF index.
    for idx in indexes[current_index,:]:
        if (current_index != idx) and (row.is_ca == 1) and (df.loc[idx].is_ca == 0) and (idx not in kg_lst) and\
           (row.frmt_id == df.loc[idx].frmt_id) and (row.region_id == df.loc[idx].region_id):
            kg_lst.append(idx)
            return int(idx)

def min_sample_size_avg(std, mean_diff, power = 0.8, sig_level = 0.05, alternative = "two-sided", control_ratio = 0.5):
    if alternative == "one-sided":
          alternative = "larger"
    power_analysis  = TTestIndPower()
    d = mean_diff / std 
    ratio = (1 - control_ratio) / control_ratio
    sample_size = power_analysis.solve_power(
		effect_size=d,
		nobs1=None,
		alpha=sig_level,
		power=power,
		ratio=ratio,
		alternative=alternative)
    sample_power = power_analysis.power(
		effect_size=d,
		nobs1=sample_size,
		alpha=sig_level,
		ratio=ratio)
    return int(sample_size), float(sample_power) # nobs1 = размер контрольной группы

def absolute_ttest(control, test):
    mean_control = np.mean(control)
    mean_test = np.mean(test)
    var_mean_control  = np.var(control) / len(control)
    var_mean_test  = np.var(test) / len(test)
    
    difference_mean = mean_test - mean_control
    difference_mean_var = var_mean_control + var_mean_test
    difference_distribution = sps.norm(loc=difference_mean, scale=np.sqrt(difference_mean_var))

    left_bound, right_bound = difference_distribution.ppf([0.025, 0.975])
    ci_length = (right_bound - left_bound)
    pvalue = 2 * min(difference_distribution.cdf(0), difference_distribution.sf(0))
    effect = difference_mean
    return ExperimentComparisonResults(round(pvalue, 4), round(effect, 4), round(ci_length, 4), round(left_bound, 4), round(right_bound, 4))


def cuped_ttest(control, test, control_before, test_before):
    theta = (np.cov(control, control_before)[0, 1] + np.cov(test, test_before)[0, 1]) /\
                (np.var(control_before) + np.var(test_before))
    control_cup = control - theta * control_before
    test_cup = test - theta * test_before
    return absolute_ttest(control_cup, test_cup)

In [ ]:
query = f"""select distinct FRMT_ID, REGION_ID from ba.vt_{mask}_cus_profile order by FRMT_ID desc;"""
frmt_region = gp_connector.gp(query)
len(frmt_region)

In [ ]:
#Использование новой функции с заранее выделенными массивами
frmt = frmt_region.frmt_id.unique().tolist()
region = frmt_region.region_id.unique().tolist()
#frmt = [1]
#region = [275]

#Сразу создадим списки, куда будем складывать результаты
cus_lfl_list = []
stat_test_list = []

print('Доля мэтчинга ЛФЛ ЦА/КГ:')

batch_size = 100000

for f in range(len(frmt)):
    for r in range(len(region)):
        gc.collect()

        data_chunks = []
        offset = 0
            
        print(f"\nЗагрузка данных frmt_id={frmt[f]}, region_id={region[r]} батчами...")

        # Загрузка батчами
        while True:
            query = f"""
                SELECT * FROM ba.vt_{mask}_cus_profile 
                WHERE frmt_id = '{frmt[f]}' AND region_id = '{region[r]}'
                LIMIT {batch_size} OFFSET {offset}
            """
            batch_df = gp_connector.gp(query)

            if batch_df.empty:
                break

            batch_df = gp_connector.reduce_mem_usage(batch_df, verbose=False)
            data_chunks.append(batch_df)
            offset += batch_size

            print(f"Загружено всего строк: {offset}, в текущем батче: {len(batch_df)}")

        if not data_chunks:
            print(f"Нет данных для frmt_id={frmt[f]}, region_id={region[r]}. Пропускаем.")
            continue

        # Объединяем все батчи в один DataFrame
        df = pd.concat(data_chunks, ignore_index=True)
        data_chunks = []  # Освобождаем память
        gc.collect()    

        df = df.dropna().reset_index(drop=True)
        df_len = df.groupby('is_ca')['contact_id'].count()
    
        #Модель
        if len(df_len) > 1 and df_len.values[0] > 1 and df_len.values[1] > 1:
            df['treatment'] = df['is_ca'] == 1
            df['is_female'] = df['gender'] == 1

            TREATMENT = 'treatment'
            OUTCOME = 'spend_actn'

            cols = ['is_female', 'age', 'is_virt', 'long_visit', 'square_trade'
            ,'spend_prev', 'avg_txn_prev', 'cnt_trn_prev'
            ,"opsum_Бакалея","opsum_Безалкогольные напитки","opsum_Бытовая химия","opsum_Вино"
            ,"opsum_Детское питание","opsum_Замороженная продукция","opsum_Кондитерские изделия","opsum_Консервированные продукты"
            ,"opsum_Кофе, какао","opsum_Крепкий алкоголь","opsum_Кулинария","opsum_Молочная продукция"
            ,"opsum_Мучные кондитерские изделия","opsum_Мясная гастрономия","opsum_Мясо","opsum_Парфюмерия и декоративная косм"
            ,"opsum_Продукция для животных","opsum_Промышленные товары","opsum_Птица","opsum_Рыба"
            ,"opsum_Рыбная гастрономия","opsum_Свежие овощи","opsum_Свежие фрукты","opsum_Слабоалкогольные напитки"
            ,"opsum_Снэки","opsum_Специальное питание","opsum_Сыры","opsum_Табачные изделия"
            ,"opsum_Уход и гигиена","opsum_Хлеб и хлебобулочные изделия","opsum_Чай","opsum_Яичные товары"]

            # Estimate propensity scores 
            # Build a descriptive model
            t = df[TREATMENT]
            X = df[cols]
            pipe = Pipeline([
                ('minmax', MinMaxScaler()),
                ('scaler', StandardScaler()),
                ('logistic_classifier', LogisticRegression(random_state=123))
            ])
            pipe.fit(X, t)

            threshold = 0.5
            df['proba'] = pipe.predict_proba(X)[:,1]
            ind = df[df.proba == 1].index
            df.loc[ind, 'proba'] = 0.9999
            df['logit'] = df['proba'].apply(lambda p: np.log(p/(1-p)))
            df['pred'] = np.where(df['proba']>=threshold, 1, 0)

            #Мэтчинг KNN
            caliper = np.std(df.proba) * 0.25
            knn = NearestNeighbors(n_neighbors=5, p = 2, radius=caliper)
            knn.fit(df[['logit', 'spend_prev', 'avg_txn_prev', 'cnt_trn_prev']].to_numpy())

            # Common support distances and indexes
            distances , indexes = knn.kneighbors(df[['logit', 'spend_prev', 'avg_txn_prev', 'cnt_trn_prev']].to_numpy(), n_neighbors=5)

            treated_x = df[df[TREATMENT]][['logit']].values
            non_treated_x = df[~df[TREATMENT]][['logit']].values

            # Выносим массивы
            is_ca_array = df['is_ca'].values
            frmt_id_array = df['frmt_id'].values
            region_id_array = df['region_id'].values

            # Применяем batch-функцию мэтчинга
            matched_element_array = perform_matching(
                indexes, is_ca_array, frmt_id_array, region_id_array
            )
            df['matched_element'] = matched_element_array

            treated_with_match = ~pd.isna(df['matched_element'])
            treated_matched_data = df.loc[treated_with_match, [
                'contact_id','frmt_id','region_id','is_ca',
                'spend_prev','spend_actn','logit','matched_element'
            ]].copy()

            attributes = ['contact_id', 'frmt_id', 'region_id', 'is_ca', 'spend_prev', 'spend_actn', 'logit']
            untreated_matched_data = df.loc[treated_matched_data.matched_element.values, attributes]

            if len(treated_matched_data) > 1:
                all_mached_data = pd.concat([treated_matched_data, untreated_matched_data])
                # Сохраняем в список (потом склеим за пределами цикла)
                cus_lfl_list.append(
                all_mached_data[['contact_id', 'frmt_id', 'region_id', 'is_ca', 'logit']]
                )

                #Расчет репрезентативности выборки
                n1 = len(all_mached_data.query('is_ca == 0')['contact_id'].unique())
                n2 = len(all_mached_data.query('is_ca == 1')['contact_id'].unique())
                std = all_mached_data['spend_actn'].std()
                mean_diff = all_mached_data.query('is_ca == 1')['spend_actn'].mean() -\
                            all_mached_data.query('is_ca == 0')['spend_actn'].mean()
                
                #mean_diff = df.query('is_ca == 1')['spend_prev'].mean() * mde_ratio
                
                min_sample_size, power = min_sample_size_avg(std = std, mean_diff = mean_diff)
                if n2 >= min_sample_size:
                    is_ok_sample = 1
                else:
                    is_ok_sample = 0

                # Сходимость на периоде "ДО"
                treated_outcome_prev = treated_matched_data.spend_prev
                untreated_outcome_prev = untreated_matched_data.spend_prev
                _ , p_val_prev = stats.ttest_ind(treated_outcome_prev, untreated_outcome_prev)

                # Сходимость на периоде "АКЦ"
                treated_outcome_actn = treated_matched_data.spend_actn
                untreated_outcome_actn = untreated_matched_data.spend_actn
                ttest_actn = cuped_ttest(untreated_outcome_actn, treated_outcome_actn, untreated_outcome_prev, treated_outcome_prev)
                #_ , p_val_actn = stats.ttest_ind(treated_outcome_actn, untreated_outcome_actn, equal_var=False)
                
                stat_temp = pd.DataFrame({'frmt_id':[frmt[f]],
                                        'region_id':[region[r]],
                                        'n_ca_total':[n2],
                                        'min_sample_size':[min_sample_size],
                                        'is_ok_sample':[is_ok_sample],
                                        'power':[power],
                                        'stat_prev':[p_val_prev],
                                        'stat_actn':[ttest_actn[0]],
                                        'effect':[ttest_actn[1]],
                                        'ci_length':[ttest_actn[2]],
                                        'left_bound':[ttest_actn[3]],
                                        'right_bound':[ttest_actn[4]]})
                stat_test_list.append(stat_temp)

                # Доля мэтчинга ЛФЛ ЦА/КГ
                match_ratio = treated_matched_data.groupby(['frmt_id', 'region_id'])['contact_id'].count() /\
                            df[df.is_ca == 1].groupby(['frmt_id', 'region_id'])['contact_id'].count() * 100
                print(f'{match_ratio.index[0][0]} {match_ratio.index[0][1]} {match_ratio.values}')
        else:
            stat_temp = pd.DataFrame({'frmt_id':[frmt[f]],
                                    'region_id':[region[r]],
                                    'n_ca_total':[n2],
                                    'min_sample_size':[0],
                                    'is_ok_sample':[0],
                                    'power':[0],
                                    'stat_prev':[0.0],
                                    'stat_actn':[1.0],
                                    'effect':[0.0],
                                    'ci_length':[0.0],
                                    'left_bound':[0.0],
                                    'right_bound':[0.0]})
            stat_test_list.append(stat_temp)
        
        df_last = df

        if not (f == len(frmt) - 1 and r == len(region) - 1):
        # Не держим df в памяти, сохраняем только последний для визуализации
            del df
            gc.collect()

gc.collect()

#Итоговые объединения
cus_lfl = pd.concat(cus_lfl_list, ignore_index=True) if cus_lfl_list else pd.DataFrame(
    columns=['contact_id', 'frmt_id', 'region_id', 'is_ca', 'logit']
)
stat_test = pd.concat(stat_test_list, ignore_index=True) if stat_test_list else pd.DataFrame(
    columns=['frmt_id', 'region_id', 'n_ca_total', 'min_sample_size', 'is_ok_sample',
            'power', 'stat_prev', 'stat_actn', 'effect', 'ci_length', 'left_bound', 'right_bound']
)

print('Процесс завершен.')

In [ ]:
stat_test.reset_index(drop=True, inplace=True)
stat_test['stat_shod'] = 0
stat_test['stat_test'] = 0

for i in range(len(stat_test)):
    if stat_test.loc[i, 'stat_prev'] > 0.05:
        stat_test.loc[i, 'stat_shod'] = 1
        if stat_test.loc[i, 'is_ok_sample'] == 1:
            if stat_test.loc[i, 'stat_actn'] < 0.05:
                stat_test.loc[i, 'stat_test'] = 1

stat_test.to_excel('stat_test.xlsx')

print('Оцениваемый признак: Траты покупателя')
print('Тотал результатов: ', len(stat_test))
print()
print('Тип клиента: REGULAR')
print('Кол-во: ', len(stat_test))
print('Кол-во сходимых результатов: ', sum(stat_test.stat_shod))
print('Доля сходимых результатов: {:.1f}%'.format(sum(stat_test.stat_shod)/len(stat_test)*100))
print()
print('Из них: Кол-во значимых эффектов: ', sum(stat_test.stat_test))
print('        Доля значимых эффектов: {:.1f}%'.format(sum(stat_test.stat_test)/len(stat_test)*100))
print()

In [ ]:
stat_test

In [ ]:
cus_lfl.groupby('is_ca')['contact_id'].nunique()

### Сохраняю Стат.тест

In [ ]:
#Сохраняю Стат.тест
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_stat_temp;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_stat_temp (
FRMT_ID INTEGER,
REGION_ID INTEGER,
STAT_TEST SMALLINT
);
""")

res = stat_test[['frmt_id', 'region_id', 'stat_test']]
gp_connector.insert_data(df=res, tablename=f'ba.vt_{mask}_stat_temp')

In [ ]:
gp_connector.execute_query(f"""
DELETE FROM BA.T_ZIG_STAT_TEST_PSM
WHERE ACTN_NAME = '{actn_name}';
""")

gp_connector.execute_query(f"""
INSERT INTO BA.T_ZIG_STAT_TEST_PSM
SELECT
	'{actn_name}'
	,FRMT_ID
	,REGION_ID
	,STAT_TEST
FROM 
	ba.vt_{mask}_stat_temp
;
""")

In [ ]:
gp_connector.gp(f"""SELECT count(1) FROM BA.T_ZIG_STAT_TEST_PSM where ACTN_NAME = '{actn_name}';""").iloc[:,0][0]

### Сохраняю ЦА/КГ (ЛФЛ)

In [ ]:
cus_lfl.contact_id.nunique()

In [ ]:
#Сохраняю результат
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_temp;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus_temp (
CONTACT_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
IS_CA SMALLINT,
LOGIT NUMERIC
);
""")

cus_lfl = cus_lfl.reset_index(drop=True)
gp_connector.insert_data(df=cus_lfl, tablename=f'ba.vt_{mask}_cus_temp')

In [ ]:
#Собираю в таблицу ЦА/КГ
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_cus (
CONTACT_ID INTEGER,
ACTN_ID SMALLINT,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CUS_TYPE VARCHAR(10),
IS_CA SMALLINT,
IS_CUS_LFL SMALLINT,
LOGIT NUMERIC
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus
SELECT DISTINCT
	CONTACT_ID
	,{actnId}
	,FRMT_ID
	,REGION_ID
	,'REGULAR' as CUS_TYPE
	,IS_CA
	,1 AS IS_CUS_LFL
    ,LOGIT
FROM 
	ba.vt_{mask}_cus_temp
;
""")

In [ ]:
#NEW, RETURNED
gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus
SELECT DISTINCT
	CONTACT_ID
	,{actnId}
	,FRMT_ID
	,REGION_ID
	,CUS_TYPE
	,1 AS IS_CA
	,1 AS IS_CUS_LFL
--    ,null as LOGIT
FROM (
    SELECT DISTINCT
        T.CONTACT_ID
        ,T.FRMT_ID
        ,T.REGION_ID
        ,C.CUS_TYPE
    FROM
        ba.vt_{mask}_trn T
    JOIN
        (SELECT distinct CONTACT_ID FROM ba.vt_{mask}_days_cross) CA 
        ON CA.CONTACT_ID = T.CONTACT_ID
    JOIN
        ba.vt_{mask}_cus_type C
        ON C.CONTACT_ID = T.CONTACT_ID 
        AND C.FRMT_ID = T.FRMT_ID
        AND C.REGION_ID = T.REGION_ID
    WHERE
        ACTN_PERIOD = 2
        and CUS_TYPE IN ('NEW', 'RETURNED')
        and CNT_TRN >= 2
    ) d
;
""")

In [ ]:
#оставшиеся ЦА - не ЛФЛ
gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus
SELECT distinct
	CONTACT_ID
	,{actnId}
    ,FRMT_ID
    ,REGION_ID
    ,CUS_TYPE
    ,1 AS IS_CA
    ,0 AS IS_CUS_LFL
--    ,NULL as LOGIT
FROM (
    SELECT distinct
        CONTACT_ID
        ,FRMT_ID
        ,REGION_ID
        ,CUS_TYPE
    FROM (
        SELECT DISTINCT
            T.CONTACT_ID
            ,T.FRMT_ID
            ,T.REGION_ID
            ,C.CUS_TYPE
        FROM
            ba.vt_{mask}_trn T
        JOIN
            (SELECT distinct CONTACT_ID FROM ba.vt_{mask}_days_cross) CA 
            ON CA.CONTACT_ID = T.CONTACT_ID
        JOIN
            ba.vt_{mask}_cus_type C
            ON C.CONTACT_ID = T.CONTACT_ID 
            AND C.FRMT_ID = T.FRMT_ID
            AND C.REGION_ID = T.REGION_ID
        WHERE
            ACTN_PERIOD = 2) d
    EXCEPT
    SELECT
        CONTACT_ID
        ,FRMT_ID
        ,REGION_ID
        ,CUS_TYPE
    FROM 
        ba.vt_{mask}_cus
    WHERE 
        IS_CA = 1
    ) d
;
""")

In [ ]:
#сохраняю ЦА/КГ
gp_connector.execute_query(f"""
DELETE FROM BA.T_ZIG_SPR_CUS_LFL
WHERE ACTN_ID = {actnId}
;
""")

gp_connector.execute_query(f"""
INSERT INTO BA.T_ZIG_SPR_CUS_LFL
SELECT
	CONTACT_ID
	,ACTN_ID
	,FRMT_ID
	,REGION_ID
	,CUS_TYPE
	,IS_CA
	,IS_CUS_LFL
    ,LOGIT
FROM 
	ba.vt_{mask}_cus
;
""")

In [ ]:
#Проверка 1
gp_connector.gp(f"""
SELECT ACTN_ID, FRMT_ID, CUS_TYPE, IS_CA, COUNT(DISTINCT CONTACT_ID) AS cnt_cus 
FROM BA.T_ZIG_SPR_CUS_LFL
WHERE ACTN_ID = {actnId}
    and IS_CUS_LFL = 1
--    and FRMT = 'МД'
GROUP BY ACTN_ID, FRMT_ID, CUS_TYPE, IS_CA
ORDER BY FRMT_ID,  CUS_TYPE, IS_CA
;
""")

In [ ]:
gp_connector.gp(f"""
SELECT
	COUNT(DISTINCT a.CONTACT_ID) AS cnt_cus
	,COUNT(DISTINCT b1.CONTACT_ID) AS cnt_cus_duble
	,COUNT(DISTINCT b.CONTACT_ID) AS cnt_cus_lfl
	,COUNT(DISTINCT f.CONTACT_ID) AS cnt_cus_ca_w_kg
	,COUNT(DISTINCT e.CONTACT_ID) AS cnt_cus_ca_final
   	,cast(COUNT(DISTINCT f.CONTACT_ID) as float) / cast(COUNT(DISTINCT e.CONTACT_ID) as float) * 100 as ratio_lfl
FROM 
	BA.T_ZIG_SPR_IDN_ACTN  a
LEFT JOIN 
	(SELECT DISTINCT CONTACT_ID FROM ba.vt_{mask}_days_cross) b1	-- привязка к акции
	ON b1.CONTACT_ID = a.CONTACT_ID
LEFT JOIN 
	(SELECT DISTINCT CONTACT_ID FROM ba.vt_{mask}_cus_reg where IS_CA = 1) b	-- есть период "до" и период "акц" и с двумя покупками, но не более длит.акции, в два разных дня
	ON b.CONTACT_ID = a.CONTACT_ID
LEFT JOIN 
	(SELECT DISTINCT CONTACT_ID FROM ba.vt_{mask}_cus where is_ca = 1 and IS_CUS_LFL = 1) f		-- ЦА под которых нашли КГ
	ON f.CONTACT_ID = a.CONTACT_ID
LEFT JOIN 
	(SELECT DISTINCT CONTACT_ID FROM ba.vt_{mask}_cus WHERE is_ca = 1) e		-- итоговый список ЦА
	ON e.CONTACT_ID = a.CONTACT_ID
WHERE 
	ACTN_NAME = '{actn_name}'
;
""")

### Визуализация. Оценка качества выборочного ДатаСета (формат-регион)

In [ ]:
print('Выборочный ДатаСет для {} {}'.format(frmt[f], region[r]))
print('Размер ДатаСета: ', len(df))

In [ ]:
df.columns

In [ ]:
attributes = [
       'index', 'contact_id', 'frmt_id', 'region_id', 'is_ca', 'is_virt', 'long_visit', 'square_trade',
       'gender', 'age', 'spend_prev', 'spend_actn', 'avg_txn_prev', 'avg_txn_actn', 'cnt_trn_prev', 'cnt_trn_actn',
       'opsum_Бакалея',
       'opsum_Безалкогольные напитки', 'opsum_Бытовая химия', 'opsum_Вино',
       'opsum_Детское питание', 'opsum_Замороженная продукция',
       'opsum_Кондитерские изделия', 'opsum_Консервированные продукты',
       'opsum_Кофе, какао', 'opsum_Крепкий алкоголь', 'opsum_Кулинария',
       'opsum_Молочная продукция', 'opsum_Мучные кондитерские изделия',
       'opsum_Мясная гастрономия', 'opsum_Мясо',
       'opsum_Парфюмерия и декоративная косм',
       'opsum_Продукция для животных', 'opsum_Промышленные товары',
       'opsum_Птица', 'opsum_Рыба', 'opsum_Рыбная гастрономия',
       'opsum_Свежие овощи', 'opsum_Свежие фрукты',
       'opsum_Слабоалкогольные напитки', 'opsum_Снэки',
       'opsum_Специальное питание', 'opsum_Сыры', 'opsum_Табачные изделия',
       'opsum_Уход и гигиена', 'opsum_Хлеб и хлебобулочные изделия',
       'opsum_Чай', 'opsum_Яичные товары', 'treatment', 'is_female', 'proba', 'logit',
       'pred']

untreated_matched_data = df.loc[treated_matched_data.matched_element.values, attributes]
untreated_matched_data.head(3)

In [ ]:
treated_matched_data = df[treated_with_match]

In [ ]:
print('Размер КГ ', untreated_matched_data.shape)
print('Размер ЦА ', treated_matched_data.shape)

In [ ]:
print('Уникальных КГ: ', untreated_matched_data.contact_id.nunique())
print('Уникальных ЦА: ', treated_matched_data.contact_id.nunique())

In [ ]:
all_mached_data = pd.concat([treated_matched_data, untreated_matched_data])
all_mached_data.treatment.value_counts()

In [ ]:
#all_mached_data.drop(columns=['level_0'], inplace=True)
all_mached_data.reset_index(inplace=True)

In [ ]:
args = ['proba', 'logit', 'age', 'is_virt', 'long_visit', 'square_trade', 'spend_prev', 'avg_txn_prev', 'cnt_trn_prev',
        'opsum_Бакалея', 'opsum_Безалкогольные напитки', 'opsum_Бытовая химия', 'opsum_Вино',
       'opsum_Детское питание', 'opsum_Замороженная продукция',
       'opsum_Кондитерские изделия', 'opsum_Консервированные продукты',
       'opsum_Кофе, какао', 'opsum_Крепкий алкоголь', 'opsum_Кулинария',
       'opsum_Молочная продукция', 'opsum_Мучные кондитерские изделия',
       'opsum_Мясная гастрономия', 'opsum_Мясо',
       'opsum_Парфюмерия и декоративная косм',
       'opsum_Продукция для животных', 'opsum_Промышленные товары',
       'opsum_Птица', 'opsum_Рыба', 'opsum_Рыбная гастрономия',
       'opsum_Свежие овощи', 'opsum_Свежие фрукты',
       'opsum_Слабоалкогольные напитки', 'opsum_Снэки',
       'opsum_Специальное питание', 'opsum_Сыры', 'opsum_Табачные изделия',
       'opsum_Уход и гигиена', 'opsum_Хлеб и хлебобулочные изделия',
       'opsum_Чай', 'opsum_Яичные товары']

def plot(arg):
    fig, ax = plt.subplots(1,2, figsize=(15, 3))
    fig.suptitle('Сравнение {} по ЦА/КГ'.format(arg))
    sns.kdeplot(data = df, x = arg, hue = TREATMENT, ax = ax[0]).set(title='Распределение ДО')
    sns.kdeplot(data = all_mached_data, x = arg, hue = TREATMENT,  ax = ax[1]).set(title='Распределение ПОСЛЕ')
    plt.show()

for arg in args:
    plot(arg)

In [ ]:
def cohenD (tmp, metricName):
    treated_metric = tmp[tmp.treatment == 1][metricName]
    untreated_metric = tmp[tmp.treatment == 0][metricName]

    d = ( treated_metric.mean() - untreated_metric.mean() ) / math.sqrt(((treated_metric.count()-1)*\
        treated_metric.std()**2 + (untreated_metric.count()-1)*untreated_metric.std()**2) /\
        (treated_metric.count() + untreated_metric.count()-2))
    return d

In [ ]:
cols = ['age', 'is_virt', 'long_visit', 'square_trade', 'spend_prev', 'avg_txn_prev', 'cnt_trn_prev',
        'opsum_Бакалея', 'opsum_Безалкогольные напитки', 'opsum_Бытовая химия', 'opsum_Вино',
       'opsum_Детское питание', 'opsum_Замороженная продукция',
       'opsum_Кондитерские изделия', 'opsum_Консервированные продукты',
       'opsum_Кофе, какао', 'opsum_Крепкий алкоголь', 'opsum_Кулинария',
       'opsum_Молочная продукция', 'opsum_Мучные кондитерские изделия',
       'opsum_Мясная гастрономия', 'opsum_Мясо',
       'opsum_Парфюмерия и декоративная косм',
       'opsum_Продукция для животных', 'opsum_Промышленные товары',
       'opsum_Птица', 'opsum_Рыба', 'opsum_Рыбная гастрономия',
       'opsum_Свежие овощи', 'opsum_Свежие фрукты',
       'opsum_Слабоалкогольные напитки', 'opsum_Снэки',
       'opsum_Специальное питание', 'opsum_Сыры', 'opsum_Табачные изделия',
       'opsum_Уход и гигиена', 'opsum_Хлеб и хлебобулочные изделия',
       'opsum_Чай', 'opsum_Яичные товары']

In [ ]:
#Допустимое значение после мэтчинга до 0.2
data = []

for cl in cols:
    data.append([cl,'before', cohenD(df, cl)])
    data.append([cl,'after', cohenD(all_mached_data, cl)])

res = pd.DataFrame(data, columns=['variable','matching','effect_size'])
plt.figure(figsize=(15, 15))
sn_plot = sns.barplot(data = res, y = 'variable', x = 'effect_size', hue = 'matching', orient='h')
sn_plot.set(title='Standardised Mean differences accross covariates before and after matching')

In [ ]:
overview = all_mached_data[['spend_prev', 'spend_actn','is_ca']].groupby(by = ['is_ca']).\
                aggregate([np.mean, np.var, np.std, 'count'])
overview

In [ ]:
treated_outcome = overview[OUTCOME]['mean'][1]
treated_counterfactual_outcome = overview[OUTCOME]['mean'][0]

In [ ]:
att = treated_outcome - treated_counterfactual_outcome
print('The Average Treatment Effect (ATT): {:.4f}'.format(att))

In [ ]:
# Сходимость на периоде "ДО"
treated_outcome = treated_matched_data.spend_prev
untreated_outcome = untreated_matched_data.spend_prev
_ , p_val = stats.ttest_ind(treated_outcome, untreated_outcome)
print('p_value {:f}'.format(p_val))

In [ ]:
# Значимость эффекта на периоде "Акц"
treated_outcome = treated_matched_data.spend_actn
untreated_outcome = untreated_matched_data.spend_actn
_ , p_val = stats.ttest_ind(treated_outcome, untreated_outcome, equal_var=False)
print('p_value {:f}'.format(p_val))

#### Сводные статистики набора данных

In [ ]:
def f_describe(a, b, name=''):
    '''Показать сводные статистики набора данных,
       подчиняющегося экспоненциональному распределению'''
    print('Показатель: ', name)
    print('Среднее "ЦА", "КГ": {:.2f}, {:.2f}'.format(a.mean(), b.mean()))    
    print('Медиана "ЦА", "КГ": {:.2f}, {:.2f}'.format(a.median(), b.median()))
    print('Стандартное отклонение "ЦА", "КГ": {:.2f}, {:.2f}'.format(a.std(), b.std()))

In [ ]:
f_describe(treated_matched_data.spend_actn, untreated_matched_data.spend_actn, 'Траты')

In [ ]:
f_describe(treated_matched_data.spend_prev, untreated_matched_data.spend_prev, 'Траты')

In [ ]:
f_describe(treated_matched_data.avg_txn_prev, untreated_matched_data.avg_txn_prev, 'Ср.чек')

In [ ]:
f_describe(treated_matched_data.cnt_trn_prev, untreated_matched_data.cnt_trn_prev, 'Частота')

#### Доверительный интервал

In [ ]:
# Системные библиотеки
import itertools
import scipy as sp 
from scipy import stats
import numpy as np
import csv

In [ ]:
# Определение функции стандартной ошибки среднего
def variance(xs):
    '''Вычисление дисперсии, несмещенная дисперсия при n <= 30'''
    x_hat = xs.mean() 
    n = len(xs)
    n = n-1 if n in range(1, 30) else n  
    square_deviation = lambda x : (x - x_hat) ** 2 
    return sum( map(square_deviation, xs) ) / n

def standard_deviation(xs):
    '''Вычисление стандартного отклонения'''
    return np.sqrt(variance(xs))

def standard_error(xs):
    '''Вычисление стандартной ошибки'''
    return standard_deviation(xs) / np.sqrt(len(xs))

def confidence_interval(p, xs):
    '''Интервал уверенности'''
    x_hat = xs.mean()
    se = standard_error(xs)
    '''критическое значение z
    Критическое значение z - это число стандартных отклонений, на которые 
    нужно отойти от среднего значения нормального распределения, чтобы захватить 
    долю данных, связанную с нужным интервалом уверенности.'''
    z_crit = stats.norm.ppf(1 - (1-p) / 2)  #q=0.975 -> 1.96
    return [x_hat - z_crit * se, x_hat + z_crit * se]

def confidence_interval_ab(a, b, name=''):
    '''Вычислить интервал уверенности '''
    print('Показатель: ', name)
    print('Интервал уверенности "ЦА": ', confidence_interval(0.95, a))
    print('Интервал уверенности "КГ": ', confidence_interval(0.95, b))

In [ ]:
confidence_interval_ab(treated_matched_data.spend_actn, untreated_matched_data.spend_actn, 'Траты')

In [ ]:
confidence_interval_ab(treated_matched_data.spend_prev, untreated_matched_data.spend_prev, 'Траты')

In [ ]:
confidence_interval_ab(treated_matched_data.avg_txn_prev, untreated_matched_data.avg_txn_prev, 'Ср.чек')

In [ ]:
confidence_interval_ab(treated_matched_data.cnt_trn_prev, untreated_matched_data.cnt_trn_prev, 'Частота')

#### Bootstrap

In [ ]:
#Bootstrap функция из хакатона
def bootstrap(test, control, boot_it = 5000, statistic = np.mean, bootstrap_conf_lvl = 0.95):
    #init
    boot_data = []
    control = pd.Series(control)
    test = pd.Series(test)
    
    #getting boot samples
    for _ in range(boot_it):
        samples_1 = control.sample(len(control), replace=True).values
        samples_2 = test.sample(len(test), replace=True).values
        boot_data.append(statistic(samples_1) - statistic(samples_2))
        
    pd_boot_data = pd.DataFrame(boot_data)
    #CI
    left_quant = (1 - bootstrap_conf_lvl) / 2
    right_quant = 1 - (1 - bootstrap_conf_lvl) / 2
    ci = pd_boot_data.quantile([left_quant, right_quant])
    #p-value
    p_1 = stats.norm.cdf(x=0, loc=np.mean(boot_data), scale=np.std(boot_data))
    p_2 = stats.norm.cdf(x=0, loc=-np.mean(boot_data), scale=np.std(boot_data))
    p_value = min(p_1, p_2)*2
    
    return p_value

In [ ]:
# Stat.test Prev
p_val = bootstrap(treated_matched_data.spend_prev, untreated_matched_data.spend_prev)
print('P-value "ДО": {:.4f}'.format(p_val))

In [ ]:
# Stat.test Actn
p_val = bootstrap(treated_matched_data.spend_actn, untreated_matched_data.spend_actn)
print('P-value "АКЦ": {:.4f}'.format(p_val))

#### Bootstrap single

In [ ]:
#Перпериод. Проверка нормальности распределения данных
# При использовании новой функции при большом количестве уникальных ЦА/КГ, сократить batch_sz, если не хватает памяти
def bootstrap_single(test, control, test_type = 'relative', n_step=50, batch_sz=2000):
    # Функция от средних, которую надо посчитать на каждой выборке.
    absolute_func = lambda C, T: T - C
    relative_func = lambda C, T: T / C - 1

    boot_func = absolute_func if test_type == 'absolute' else relative_func
    stat_sample = []
    stat_sample_t = []
    stat_sample_c = []
    
    test = np.array(test)
    control = np.array(control)
    
    n_t = len(test)
    n_c = len(control)
    
    for i in range(0, n_step):

        samples_t = np.random.choice(test, size=(n_t, batch_sz), replace=True)
        samples_c = np.random.choice(control, size=(n_c, batch_sz), replace=True)

        samples_mean_t = np.mean(samples_t, axis=0)
        samples_mean_c = np.mean(samples_c, axis=0)

        # добавляем в массив посчитанных ранее статистик batch_sz новых значений
        # X в статье – это boot_func(control_sample_mean, test_sample_mean)
        stat_sample += list(boot_func(samples_mean_c, samples_mean_t))
        stat_sample_t += list(samples_mean_t)
        stat_sample_c += list(samples_mean_c)
    
    stat_sample = np.array(stat_sample)
    # считаем истинный эффект
    pvalue = min(np.mean(stat_sample > 0), np.mean(stat_sample < 0))
    
    return pvalue, stat_sample_t, stat_sample_c

In [ ]:
pvalue, stat_sample_t, stat_sample_c = bootstrap_single(treated_matched_data.spend_prev, untreated_matched_data.spend_prev)
print(pvalue)

In [ ]:
def qq_plot(a, b, name=''):
    print('Показатель: ',  name)
    plt.figure(figsize=(12,8))
    plt.subplot(2,2,1)
    stats.probplot(a, dist="norm", plot=plt)
    plt.subplot(2,2,2)
    stats.probplot(b, dist="norm", plot=plt)
    plt.show()
    
qq_plot(stat_sample_t, stat_sample_c, 'Траты')

In [ ]:
#Акционный период. Проверка нормальности распределения данных
pvalue, stat_sample_t, stat_sample_c = bootstrap_single(treated_matched_data.spend_actn, untreated_matched_data.spend_actn)
print(pvalue)

In [ ]:
qq_plot(stat_sample_t, stat_sample_c, 'Траты')

#### Визуализация групп

In [ ]:
#Визуализация групп на Периоде "до"
def plot_ca_kg(a, b, name=''):
    '''Построение графика синтетических трат путем извлечения бутстраповских выборок'''
    plt.figure(figsize=(15, 5))
    xs_a = [a.sample(len(a), replace=True).mean() for _ in range(1000)]
    xs_b = [b.sample(len(b), replace=True).mean() for _ in range(1000)] 
    pd.Series(xs_a).hist(bins=50, color='b', label='CA')
    pd.Series(xs_b).hist(bins=50, color='r', label='KG')
    plt.xlabel('Бутстрапированные средние {}, руб'.format(name))
    plt.ylabel('Частота') 
    plt.title(name)
    plt.legend()
    #saveplot('ex_2_19.png') 
    plt.show() 
    
plot_ca_kg(treated_matched_data.spend_prev, untreated_matched_data.spend_prev, 'Траты')

In [ ]:
#Визуализация групп на Акц.Периоде
plot_ca_kg(treated_matched_data.spend_actn, untreated_matched_data.spend_actn, 'Траты')

In [ ]:
del df
del t
del X
del treated_matched_data
del untreated_matched_data
del all_mached_data
gc.collect()

# Маржа. Динамика

## Транзакции

In [ ]:
month = gp_connector.gp(f""" --sql
    SELECT
        MONTH_ID
        ,min(DAY_ID) as min_dt
        ,max(DAY_ID) as max_dt
    FROM ba.vt_{mask}_days 
    WHERE ACTN_NAME = '{actn_name}'
        and ACTN_PERIOD IN (1,2,3)
    group by MONTH_ID
    order by MONTH_ID
    ;""")

print(len(month))

In [ ]:
month

In [ ]:
gp_connector.execute_query(f"""DROP TABLE IF EXISTS ba.vt_{mask}_trn_prd;""")
gp_connector.execute_query(f""" --sql
CREATE TABLE ba.vt_{mask}_trn_prd (
cheque_pk bytea,
contact_id integer,
is_ca smallint,
day_id date,
orgunit_id integer,
article_id numeric,
summ_discounted numeric,
qnty numeric
)   
WITH (
    appendonly=true,
    blocksize=32768,
    compresstype=zstd,
    compresslevel=4,
    orientation=column)
DISTRIBUTED BY (cheque_pk)
;""")

for i in tqdm_notebook(range(len(month))):
    dt_start = str(month.min_dt[i])
    dt_end = str(month.max_dt[i])
    
    gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_temp;""")
    gp_connector.execute_query(f""" --sql
    CREATE TABLE ba.vt_{mask}_trn_temp (
    contact_id integer,
    orgunit_id integer,
    cheque_pk bytea,
    datetime date,
    article_id integer,
    summ_discounted numeric,
    quantity numeric,
    rn smallint
    )
    WITH (
        appendonly=true,
        blocksize=32768,
        compresstype=zstd,
        compresslevel=4,
        orientation=column)
    DISTRIBUTED BY (cheque_pk)
    ;""")

    gp_connector.execute_query(f""" --sql
    insert into ba.vt_{mask}_trn_temp
    SELECT 
        t.contact_id
        ,t.orgunit_id
        ,t.cheque_pk
        ,t.day_id as datetime
        ,t.article_id
        ,SUM(t.summ_discounted) AS summ_discounted
        ,SUM(t.quantity) AS quantity
        ,1 as rn
    FROM (
        SELECT 
            c.contact_id
            ,c.orgunit_id
            ,c.cheque_pk
            ,date_trunc('day', c.datetime)::date AS day_id
            ,ci.article_id
            ,ci.summ_discounted
            ,ci.quantity
        FROM 
            dm.cheque c
        JOIN
            dm.cheque_item ci on ci.cheque_pk = c.cheque_pk
        WHERE
            operation_type_id = 1
            AND c.contact_id > 0
            AND c.datetime between ('{dt_start}'::timestamp) AND ('{dt_end}'::timestamp + interval '1' day - interval '1' second)
            AND ci.datetime between ('{dt_start}'::timestamp) AND ('{dt_end}'::timestamp + interval '1' day - interval '1' second)
        ) t
    GROUP BY
        t.contact_id,
        t.orgunit_id,
        t.cheque_pk,
        t.day_id,
        t.article_id;
    ;""")

    gp_connector.execute_query(f""" --sql                          
    insert into ba.vt_{mask}_trn_prd
    SELECT
        t.cheque_pk
        ,t.contact_id
        ,c.is_ca
        ,t.datetime
        ,t.orgunit_id
        ,t.article_id
        ,t.summ_discounted
        ,t.quantity
    from
        ba.vt_{mask}_trn_temp t
    JOIN 
        (SELECT DISTINCT contact_id, is_ca FROM BA.T_ZIG_SPR_CUS_LFL WHERE ACTN_ID = {actnId}) c    -- Клиенты для оценки
        ON c.contact_id = t.contact_id
    JOIN 
        ba.vt_{mask}_whs w ON w.orgunit_id = t.orgunit_id
    WHERE
        t.rn = 1
    ;""")

In [ ]:
gp_connector.execute_query(f"""DROP TABLE IF EXISTS ba.vt_{mask}_trn_clear;""")
gp_connector.execute_query(f""" --sql
CREATE TABLE ba.vt_{mask}_trn_clear (
cheque_pk bytea,
contact_id integer,
is_ca smallint,
day_id date,
orgunit_id integer,
article_id integer,
summ_discounted numeric,
qnty numeric,
is_trn_fltr smallint
)
WITH (
    appendonly=true,
    blocksize=32768,
    compresstype=zstd,
    compresslevel=4,
    orientation=column)
DISTRIBUTED BY (cheque_pk)
;""")

gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_temp;""")
gp_connector.execute_query(f""" --sql
CREATE TABLE ba.vt_{mask}_trn_temp AS (
SELECT
    t.cheque_pk
    ,t.contact_id
    ,t.day_id
FROM
    ba.vt_{mask}_trn_prd t
WHERE
    t.day_id between '{DateStart}' AND '{DateEnd}'
group by 
    t.cheque_pk
    ,t.contact_id
    ,t.day_id
);""")

gp_connector.execute_query(f""" --sql
insert into ba.vt_{mask}_trn_clear
WITH trn_ca AS (
    SELECT
        t.cheque_pk
        ,t.contact_id
        ,t.day_id
        ,cd.IS_CROSS         -- чеки с пересечением в других акциях
    FROM
        ba.vt_{mask}_trn_temp t
    JOIN 
        (SELECT DISTINCT contact_id FROM ba.vt_{mask}_days_cross) c    -- Клиенты для оценки
        ON c.contact_id = t.contact_id
    JOIN
        ba.vt_{mask}_days_cross cd
        on cd.CONTACT_ID = t.CONTACT_ID
        and cd.DAY_ID = t.day_id
    )

SELECT
    t.cheque_pk
    ,t.contact_id
    ,t.is_ca
    ,t.day_id
    ,t.orgunit_id
    ,t.article_id
    ,t.summ_discounted
    ,t.qnty
    ,coalesce(tc.IS_CROSS, 0) AS IS_TRN_FLTR         -- чеки с пересечением в других акциях
FROM
    ba.vt_{mask}_trn_prd t
left JOIN
    trn_ca tc on tc.cheque_pk = t.cheque_pk
;
""")

In [ ]:
#Проверка транзакций ЦА для удаления
gp_connector.gp(f"""SELECT IS_CA, IS_TRN_FLTR, count(distinct cheque_pk) 
from ba.vt_{mask}_trn_clear
group by IS_CA, IS_TRN_FLTR;""")

In [ ]:
gp_connector.execute_query(f"""
DELETE from ba.vt_{mask}_trn_clear
where IS_TRN_FLTR = 1
;""")

In [ ]:
#Проверка по периодам ДО/АКЦ/ПОСТ
gp_connector.gp(f"""
SELECT 
    CASE    WHEN day_id < '{DateStart}' THEN 1
            WHEN day_id between '{DateStart}' and '{DateEnd}' THEN 2
            ELSE 3 END AS ACTN_PERIOD
    ,IS_CA
    ,count(distinct contact_id) as cnt_cus
    ,count(distinct cheque_pk) as cnt_trn
from 
    ba.vt_{mask}_trn_clear
group by 1,2
order by 1,2
;""")

## AUM

In [ ]:
# Расчет параметров коммерческой маржи
print(f'Создаем пустую таблицу для параметров расчета маржи.')
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_aum;""")
gp_connector.execute_query(f""" --sql
create table ba.vt_{mask}_aum (
	day_id date,
	article_id integer,
	orgunit_id integer,
	cp_sum numeric,
	comm_comp_out_bill numeric,
	bonus numeric,
	ri_la_intco_margin_sum numeric,
	sp_intco_margin_sum numeric,
	logistics_sum numeric,
	vat_factor numeric
)
with (
    appendonly=true,
    blocksize=32768,
    compresstype=zstd,
    compresslevel=4,
    orientation=column)
;""")

# собираем налоги на товары
print(f'Создаем таблицу с налогами на товары.')
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_vat_vatrate;""")
gp_connector.execute_query(f""" --sql
	create table ba.vt_{mask}_vat_vatrate as (
	select distinct
		article_id,
		tax_prcnt as vat_vatrate
	from dm.art_ext
);""")

for i in tqdm_notebook(range(len(month))):
	dt_start = str(month.min_dt[i])
	dt_end = str(month.max_dt[i])

	print(f'Собираем строки из таблицы с чеками за период c {dt_start} по {dt_end}.')
	gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_temp;""")
	gp_connector.execute_query(f""" --sql
	create table ba.vt_{mask}_trn_temp as (
	select
		day_id,
		orgunit_id,
		article_id
	from ba.vt_{mask}_trn_clear
	where day_id between '{dt_start}' and '{dt_end}'
	group by 
		day_id,
		orgunit_id,
		article_id
	);""")

	
	# собираем строки из AUM за исследуемый период
	print(f'Cобираем строки из AUM за период c {dt_start} по {dt_end}.')
	gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cbi_aum;""")
	gp_connector.execute_query(f""" --sql
	create table ba.vt_{mask}_cbi_aum as (
	select 
		day_id,
		article_id, 
		orgunit_id,
		cp_sum_wo_nds,
		comm_comp_out_bill_wo_nds,
		opsum_bonus_wo_nds,
		ri_la_intco_margin_sum,
		sp_intco_margin_sum,
		logistics_sum,
		qnty
	from dm.cbi_aum_whs_art
	where day_id between '{dt_start}' and '{dt_end}'
	);""")

	# Предобработка строк из AUM за исследуемый период
	print(f'Предобработка строк из AUM за период c {dt_start} по {dt_end}.')
	gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_aum_pre_calc;""")
	gp_connector.execute_query(f""" --sql
	create table ba.vt_{mask}_aum_pre_calc as (
	select 
		aum.day_id,
		aum.article_id,
		aum.orgunit_id,
		coalesce(sum(aum.cp_sum_wo_nds::float * (1 + (a.vat_vatrate::float / 100))), 0) as cp_sum,
		coalesce(sum(aum.comm_comp_out_bill_wo_nds::float * (1 + (a.vat_vatrate::float / 100))), 0) as comm_comp_out_bill,
		coalesce(sum(aum.opsum_bonus_wo_nds::float * (1 + (a.vat_vatrate::float / 100))), 0) as bonus,
		coalesce(sum(aum.ri_la_intco_margin_sum::float), 0) as ri_la_intco_margin_sum,
		coalesce(sum(aum.sp_intco_margin_sum::float), 0) as sp_intco_margin_sum,
		coalesce(sum(aum.logistics_sum::float), 0) as logistics_sum,
		coalesce(sum(aum.qnty), 0) as qnty,
		max( 1 / (1 + (a.vat_vatrate::float / 100))) as vat_factor
	from 
		ba.vt_{mask}_cbi_aum as aum
		join ba.vt_{mask}_trn_temp as t
			on t.day_id = aum.day_id
			and  t.orgunit_id = aum.orgunit_id
			and  t.article_id = aum.article_id
		join ba.vt_{mask}_vat_vatrate as a
			on a.article_id = aum.article_id
	group by 
		aum.day_id,
		aum.article_id,
		aum.orgunit_id 
	having sum(aum.qnty) > 0.01 
	);""")

	print(f'Заполняем таблицу параметров для расчета маржи за период c {dt_start} по {dt_end}.')
	gp_connector.execute_query(f""" --sql
	insert into ba.vt_{mask}_aum 
	select
		day_id, 													-- дата
		article_id, 												-- продукт
		orgunit_id, 												-- магазин
		cp_sum / qnty as cp_sum, 									-- себестоимость (средняя стоимость товара со склада)
		comm_comp_out_bill / qnty as comm_comp_out_bill,			-- компенсация вне накладной
		bonus / qnty as bonus,										-- бонусы от поставщиков
		ri_la_intco_margin_sum / qnty as ri_la_intco_margin_sum, 	-- внутригрупповые трансферты
		sp_intco_margin_sum / qnty as sp_intco_margin_sum, 			-- внутригрупповые трансферты
		logistics_sum / qnty as logistics_sum, 						-- затраты на логистику
		vat_factor
	from ba.vt_{mask}_aum_pre_calc
	;""")
	print('***********************************')

In [ ]:
gp_connector.gp(f"""select count(1) from ba.vt_{mask}_aum;""")

In [ ]:
gp_connector.gp(f"""select * from ba.vt_{mask}_aum limit 5;""")

## Bonuses

In [ ]:
#бонусы списанные / начисленные
#вариант 1 без вычитания бонусов по механике

gp_connector.execute_query(f"""DROP TABLE IF EXISTS ba.vt_{mask}_bonuses;""")
gp_connector.execute_query(f"""
CREATE TABLE ba.vt_{mask}_bonuses (
CHEQUE_PK BYTEA,
SUMM_DISCOUNTED NUMERIC,
BONUS_ACCRUAL NUMERIC,
BONUS_REDEMPTION NUMERIC
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_bonuses
WITH trn_clear AS ( 
		select
			cheque_pk
			,sum(summ_discounted) as summ_discounted
		from
			ba.vt_{mask}_trn_prd
        where
			summ_discounted <> 0
		GROUP by 1
	), bonus AS (
		select
            cheque_pk
            ,sum(case when bonus_type = 'addition' then value end)/100.0 as BONUS_ACCRUAL --- бонусы начисленные
            ,sum(case when bonus_type = 'write_off' then value end)/100.0 as BONUS_REDEMPTION ---- бонусы списанные
		from
			dm.bonus_all
        where
            date(created_on) between '{DateStPre}' and '{DateEndLast}'
        group by 1
	)

select
	t.cheque_pk
    ,t.summ_discounted
    ,coalesce(b.BONUS_ACCRUAL, 0)/summ_discounted as BONUS_ACCRUAL --- бонусы начисленные в расчете на 1 руб. 
    ,coalesce(b.BONUS_REDEMPTION, 0)/summ_discounted as BONUS_REDEMPTION ---- бонусы списанные в расчете на 1 руб.
from
	trn_clear t
join
	bonus b on b.cheque_pk = t.cheque_pk
;
""")

In [ ]:
gp_connector.gp(f"""select count(1), sum(BONUS_ACCRUAL), sum(BONUS_REDEMPTION) from ba.vt_{mask}_bonuses;""")

## Rules

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_ruls;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_trn_ruls (
CHEQUE_PK BYTEA,
CONTACT_ID INTEGER,
ORGUNIT_ID INTEGER,
OPSUM NUMERIC,
DISC NUMERIC,
ACCRUEDPOINTS NUMERIC,
DISCOUNTPOINTS NUMERIC,
REDEEMEDPOINTS NUMERIC
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_trn_ruls
SELECT
    cheque_pk
    ,contact_id
    ,orgunit_id
    ,sum(transaction_value)       AS opsum 
    ,sum(discount_value)          AS disc
    ,sum(addition_point)/100.0   AS accruedpoints
    ,sum(write_off_point)/100.0  AS redeemedpoints
FROM (
    SELECT
        rule_code 
        ,orgunit_id
        ,contact_id
        ,cheque_pk
        ,transaction_value
        ,discount_value
        ,addition_point
        ,write_off_point
    FROM 
        dm.transaction_rule t
    WHERE 
        rule_code IN ('{in_code_ruls}')
        and created_on between '{promo_start_date}'::timestamp and '{promo_end_date}'::timestamp + interval '1' day - interval '1' second
    ) d
GROUP by 
    cheque_pk
    ,contact_id
    ,orgunit_id
;
""")

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_ruls_clear;""")
gp_connector.execute_query(f""" --sql
Create Table ba.vt_{mask}_trn_ruls_clear (
CONTACT_ID INTEGER,
FRMT_ID INTEGER,
REGION_ID INTEGER,
OPSUM NUMERIC,
DISC NUMERIC,
ACCRUEDPOINTS NUMERIC,
DISCOUNTPOINTS NUMERIC,
REDEEMEDPOINTS NUMERIC
);
""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_trn_ruls_clear
SELECT
    contact_id
    ,frmt_id
    ,region_id
    ,sum(opsum)         AS opsum 
    ,sum(disc)          AS disc
    ,sum(accruedpoints) AS accruedpoints
    ,sum(redeemedpoints) AS redeemedpoints
FROM 
    ba.vt_{mask}_trn_ruls r
JOIN
    (select distinct cheque_pk from ba.vt_{mask}_trn_clear) t on t.cheque_pk = r.cheque_pk
JOIN
    dm.WHS w on w.orgunit_id = r.orgunit_id
GROUP by
    contact_id
    ,frmt_id
    ,region_id
;""")

In [ ]:
# Все транзакции
gp_connector.gp(f"""select sum(disc) as summ_disc, sum(accruedpoints) as accpoints from ba.vt_{mask}_trn_ruls;""")

In [ ]:
# Транзакции без пересечений
gp_connector.gp(f"""select sum(disc) as summ_disc, sum(accruedpoints) as accpoints from ba.vt_{mask}_trn_ruls_clear;""")

## DataSet

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_dataset;""")
gp_connector.execute_query(f"""
CREATE TABLE ba.vt_{mask}_dataset (
CHEQUE_PK BYTEA,
CONTACT_ID INTEGER,
IS_CA SMALLINT,
ACTN_PERIOD SMALLINT,
DAY_ID DATE,
ORGUNIT_ID INTEGER,
ARTICLE_ID INTEGER,
IS_ACTN_ART SMALLINT,
OPSUM_KONTROLLING DECIMAL(20, 2),
OPSUM_WO_NDS DECIMAL(20, 2),
GROSS_MARGIN_WO_NDS DECIMAL(20, 2),
GROSS_MARGIN_WO_NDS_WO_LOGIST DECIMAL(20, 2)
)
;""")

for i in tqdm_notebook(range(len(month))):
    dt_start = str(month.min_dt[i])
    dt_end = str(month.max_dt[i])

    gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_aum_temp;""")
    gp_connector.execute_query(f""" --sql
    CREATE TABLE ba.vt_{mask}_aum_temp AS (
    SELECT 
        day_id
        ,article_id 
        ,orgunit_id 
        ,cp_sum
        ,comm_comp_out_bill
        ,bonus
        ,ri_la_intco_margin_sum
        ,sp_intco_margin_sum
        ,logistics_sum
        ,vat_factor                      
    FROM 
        ba.vt_{mask}_aum aum
    WHERE
        day_id between '{dt_start}' and '{dt_end}'
    );""")

    gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_trn_temp;""")
    gp_connector.execute_query(f""" --sql
    CREATE TABLE ba.vt_{mask}_trn_temp AS (
    SELECT
        cheque_pk
        ,contact_id
        ,is_ca
        ,day_id
        ,orgunit_id
        ,article_id
        ,summ_discounted
        ,qnty
        ,is_trn_fltr
    FROM
        ba.vt_{mask}_trn_clear
    WHERE
        day_id between '{dt_start}' and '{dt_end}'
    );""")
    
    gp_connector.execute_query(f""" --sql
    INSERT INTO ba.vt_{mask}_dataset    
    SELECT
        cheque_pk
        ,contact_id
        ,is_ca
        ,actn_period
        ,day_id
        ,orgunit_id
        ,article_id
        ,IS_ACTN_ART
        ,sku_sale_amt - bonus_redemption AS OPSUM_KONTROLLING ---так контроллинг считает РТО
        ,(sku_sale_amt - bonus_redemption) * VAT_FACTOR AS OPSUM_WO_NDS
        ,(sku_sale_amt - bonus_redemption - bonus_accrual - cp_sum + comm_comp_out_bill + bonus) *
            VAT_FACTOR + ri_la_intco_margin_sum + sp_intco_margin_sum - logistics_sum AS GROSS_MARGIN_WO_NDS ---- гросс-маржа
        ,(sku_sale_amt - bonus_redemption - bonus_accrual - cp_sum + comm_comp_out_bill + bonus) *
            VAT_FACTOR + ri_la_intco_margin_sum + sp_intco_margin_sum AS GROSS_MARGIN_WO_NDS_WO_LOGIST ---- гросс-маржа без логистики
    FROM (
        SELECT
            t.cheque_pk
            ,t.contact_id
            ,t.is_ca
            ,CASE WHEN t.day_id < '{DateStart}' THEN 1
                  WHEN t.day_id between '{DateStart}' and '{DateEnd}' THEN 2
                  ELSE 3 END
            AS ACTN_PERIOD
            ,t.day_id
            ,t.orgunit_id
            ,t.article_id
            ,CASE WHEN aa.article_id IS NOT NULL THEN 1 ELSE 0 END AS IS_ACTN_ART
            ,t.summ_discounted                                      AS sku_sale_amt
            ,COALESCE(bonus_accrual * t.summ_discounted, 0)         AS bonus_accrual
            ,COALESCE(bonus_redemption * t.summ_discounted, 0)      AS bonus_redemption
            ,COALESCE(cp_sum * qnty, 0)                             AS cp_sum
            ,COALESCE(comm_comp_out_bill * qnty, 0)                 AS comm_comp_out_bill
            ,COALESCE(bonus * qnty, 0)                              AS bonus
            ,COALESCE(ri_la_intco_margin_sum * qnty, 0)             AS ri_la_intco_margin_sum
            ,COALESCE(sp_intco_margin_sum * qnty, 0)                AS sp_intco_margin_sum
            ,COALESCE(logistics_sum * qnty, 0)                      AS logistics_sum
            ,COALESCE(vat_factor, 1)                                AS VAT_FACTOR
        FROM
            ba.vt_{mask}_trn_temp t
        JOIN
            ba.vt_{mask}_aum_temp aum
            ON aum.day_id = t.day_id
            AND aum.article_id = t.article_id
            AND aum.orgunit_id = t.orgunit_id
        LEFT JOIN 
            ba.vt_{mask}_bonuses b ON b.cheque_pk = t.cheque_pk
        LEFT JOIN
            BA.T_ZIG_SPR_ART_ACTN aa
            on aa.article_id = t.article_id
            and aa.actn_name = '{actn_name}'
        ) d
    ;
    """)

In [ ]:
gp_connector.gp(f"""select is_ca, actn_period, count(distinct contact_id) from ba.vt_{mask}_dataset group by is_ca, actn_period order by is_ca, actn_period;""")

In [ ]:
#Проверка наличия тестового ассортимента
gp_connector.gp(f"""select is_ca, actn_period, IS_ACTN_ART, count(distinct cheque_pk) from ba.vt_{mask}_dataset group by is_ca, actn_period, IS_ACTN_ART;""")

## DataSetAgg

In [ ]:
#Проверка кол-ва покупателей
gp_connector.gp(f"""select count(distinct contact_id) as cnt_cus, count(1) as cnt_row from ba.vt_{mask}_dataset;""")

In [ ]:
#Т.к. Покупателей в выборке слишком много, то делю на несколько групп
n = 3 #Кол-во групп. ~по 1 млн. в группе

gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_dataset_cus;""")
gp_connector.execute_query(f"""
CREATE TABLE ba.vt_{mask}_dataset_cus (
GRP smallint,
contact_id integer
)
;""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_dataset_cus
SELECT distinct
    mod(contact_id, {n}) AS GRP
    ,contact_id
FROM 
    ba.vt_{mask}_dataset
;""")

In [ ]:
grp = gp_connector.gp(f"""select GRP from ba.vt_{mask}_dataset_cus group by GRP order by GRP;""")
len(grp)

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_dataset_agg;""")
gp_connector.execute_query(f"""
CREATE TABLE ba.vt_{mask}_dataset_agg (
CONTACT_ID INTEGER,
IS_CA SMALLINT,
ACTN_PERIOD SMALLINT,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CNT_TRN INTEGER,
CNT_TRN_ART_ACTN INTEGER,
OPSUM_WO_NDS NUMERIC,
GROSS_MARGIN_WO_NDS_WO_LOGIST NUMERIC,
OPSUM_WO_NDS_ART_ACTN NUMERIC,
GROSS_MARGIN_WO_NDS_WO_LOGIST_ART_ACTN NUMERIC
)
;""")

for n in tqdm_notebook(range(len(grp))):
    gp_connector.execute_query(f""" --sql
    INSERT INTO ba.vt_{mask}_dataset_agg
    WITH dataset AS (
            SELECT
            d.cheque_pk
            ,d.contact_id
            ,d.is_ca
            ,d.actn_period
            ,d.orgunit_id
            ,d.is_actn_art
            ,SUM(OPSUM_WO_NDS) AS OPSUM_WO_NDS
            ,SUM(GROSS_MARGIN_WO_NDS_WO_LOGIST) AS GROSS_MARGIN_WO_NDS_WO_LOGIST
            ,SUM(case when d.IS_ACTN_ART = 1 then OPSUM_WO_NDS else 0 end) AS OPSUM_WO_NDS_ART_ACTN
            ,SUM(case when d.IS_ACTN_ART = 1 then GROSS_MARGIN_WO_NDS_WO_LOGIST else 0 end) AS GROSS_MARGIN_WO_NDS_WO_LOGIST_ART_ACTN
        FROM
            ba.vt_{mask}_dataset d
        JOIN
            ba.vt_{mask}_dataset_cus cl on cl.contact_id = d.contact_id
        WHERE
            cl.GRP = {n}
        GROUP BY
            d.cheque_pk
            ,d.contact_id
            ,d.is_ca
            ,d.actn_period
            ,d.orgunit_id
            ,d.is_actn_art
    ), dataset_agg AS (
        SELECT
            d.cheque_pk
            ,d.contact_id
            ,d.is_ca
            ,d.is_actn_art
            ,d.actn_period
            ,w.frmt_id
            ,w.region_id
            ,OPSUM_WO_NDS
            ,GROSS_MARGIN_WO_NDS_WO_LOGIST
            ,OPSUM_WO_NDS_ART_ACTN
            ,GROSS_MARGIN_WO_NDS_WO_LOGIST_ART_ACTN
            ,case when d.IS_ACTN_ART = 1 then d.cheque_pk end as TRANSACTIONID_ART_ACTN
        FROM
            dataset d
        JOIN
            dm.WHS w on w.orgunit_id = d.orgunit_id
    )

    SELECT
        d.contact_id
        ,d.is_ca
        ,d.actn_period
        ,d.frmt_id
        ,d.region_id
        ,COUNT(distinct d.cheque_pk)                    AS CNT_TRN
        ,COUNT(distinct d.TRANSACTIONID_ART_ACTN)       AS CNT_TRN_ART_ACTN
        ,SUM(OPSUM_WO_NDS)                              AS OPSUM_WO_NDS
        ,SUM(GROSS_MARGIN_WO_NDS_WO_LOGIST)             AS GROSS_MARGIN_WO_NDS_WO_LOGIST
        ,SUM(OPSUM_WO_NDS_ART_ACTN)                     AS OPSUM_WO_NDS_ART_ACTN
        ,SUM(GROSS_MARGIN_WO_NDS_WO_LOGIST_ART_ACTN)    AS GROSS_MARGIN_WO_NDS_WO_LOGIST_ART_ACTN
    FROM
        dataset_agg d
    GROUP by 
        d.contact_id
        ,d.is_ca
        ,d.actn_period
        ,d.frmt_id
        ,d.region_id
    ;""")

In [ ]:
gp_connector.gp(f""" --sql
select 
    is_ca
    ,actn_period
    ,count(distinct contact_id) as cnt_cus
    ,cast(sum(CNT_TRN) as float) as cnt_trn
    ,cast(sum(OPSUM_WO_NDS) as float) as OPSUM_WO_NDS
from
    ba.vt_{mask}_dataset_agg
group by
    is_ca
    ,actn_period
order by
    is_ca
    ,actn_period
;""")

## Margin

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_cus_margin;""")
gp_connector.execute_query(f"""
CREATE TABLE ba.vt_{mask}_cus_margin (
CONTACT_ID INTEGER,
IS_CA SMALLINT,
ACTN_PERIOD SMALLINT,
FRMT_ID INTEGER,
REGION_ID INTEGER,
CUS_TYPE VARCHAR(10),
IS_CUS_LFL SMALLINT,
STAT_TEST SMALLINT,
CNT_TRN INTEGER,
CNT_TRN_ART_ACTN INTEGER,
OPSUM_WO_NDS NUMERIC,
OPSUM_WO_NDS_ART_ACTN NUMERIC,
GROSS_MARGIN_WO_NDS_WO_LOGIST NUMERIC,
GROSS_MARGIN_WO_NDS_WO_LOGIST_ART_ACTN NUMERIC,
DISC NUMERIC
)
;""")

gp_connector.execute_query(f"""
INSERT INTO ba.vt_{mask}_cus_margin
SELECT
    d.contact_id
    ,d.is_ca
    ,d.actn_period
    ,d.frmt_id
    ,d.region_id
    ,cl.cus_type
    ,cl.is_cus_lfl
    ,stat.stat_test
    ,CNT_TRN
    ,CNT_TRN_ART_ACTN
    ,OPSUM_WO_NDS
    ,OPSUM_WO_NDS_ART_ACTN
    ,GROSS_MARGIN_WO_NDS_WO_LOGIST
    ,GROSS_MARGIN_WO_NDS_WO_LOGIST_ART_ACTN
    ,coalesce(r.ACCRUEDPOINTS, 0) as DISC                         -- Кэшбек на ЛК
FROM
    ba.vt_{mask}_dataset_agg d
JOIN
    BA.T_ZIG_SPR_CUS_LFL cl
    on cl.ACTN_ID = {actnId}
    and cl.contact_id = d.contact_id
    and cl.frmt_id = d.frmt_id
    and cl.region_id = d.region_id
    and cl.is_ca = d.is_ca
JOIN
    BA.T_ZIG_STAT_TEST_PSM stat
    on stat.ACTN_NAME = '{actn_name}'
    and stat.frmt_id = d.frmt_id
    and stat.region_id = d.region_id
left JOIN
    ba.vt_{mask}_trn_ruls_clear r  
    on r.contact_id = d.contact_id
    and r.frmt_id = d.frmt_id
    and r.region_id = d.region_id
    and d.ACTN_PERIOD = 2
;
""")

In [ ]:
#Проверка
gp_connector.gp(f""" --sql
select 
    is_ca
    ,actn_period
    ,count(distinct contact_id)  as cnt_cus
    ,sum(CNT_TRN) as cnt_trn
    ,sum(OPSUM_WO_NDS) as OPSUM_WO_NDS
    ,sum(disc) as DISC
from
    ba.vt_{mask}_cus_margin
group by
    is_ca
    ,actn_period
order by
    is_ca
    ,actn_period
;""")

In [ ]:
gp_connector.execute_query(f"""
DELETE FROM BA.T_ZIG_ACTN_MARGIN
WHERE ACTN_NAME = '{actn_name}'
;""")

gp_connector.execute_query(f"""
INSERT INTO BA.T_ZIG_ACTN_MARGIN
select
    '{actn_name}' as ACTN_NAME
    ,cm.contact_id
    ,IS_CA
    ,IS_CUS_LFL
    ,ACTN_PERIOD
    ,case when ACTN_PERIOD = 1 then {lengthPrev}
      when ACTN_PERIOD = 3 then {lengthPost}
      when ACTN_PERIOD = 2 and IS_CA = 0 then {lengthActn}
      when CNT_DAY_WO_CROSS is not NULL then CNT_DAY_WO_CROSS
      else 0
    end as CNT_DAY_WO_CROSS
    ,FRMT_ID
    ,REGION_ID
    ,CUS_TYPE
    ,STAT_TEST
    ,CNT_TRN
    ,CNT_TRN_ART_ACTN
    ,OPSUM_WO_NDS
    ,OPSUM_WO_NDS_ART_ACTN
    ,GROSS_MARGIN_WO_NDS_WO_LOGIST
    ,GROSS_MARGIN_WO_NDS_WO_LOGIST_ART_ACTN
    ,DISC
    ,CNT_CUS_TOTAL
from
    ba.vt_{mask}_cus_margin cm
left join
    (select distinct contact_id, CNT_DAY_WO_CROSS from ba.vt_{mask}_days_cross) cd
    on cd.contact_id = cm.contact_id
    and cm.ACTN_PERIOD = 2
JOIN
    (SELECT COUNT(DISTINCT contact_id) AS CNT_CUS_TOTAL FROM BA.T_ZIG_SPR_IDN_ACTN WHERE ACTN_NAME = '{actn_name}') A ON 1=1
;""")

In [ ]:
#Проверка
gp_connector.gp(f""" --sql
select 
    is_ca
    ,actn_period
    ,count(distinct contact_id)  as cnt_cus
    ,sum(CNT_TRN) as cnt_trn
    ,sum(OPSUM_WO_NDS) as OPSUM_WO_NDS
    ,sum(disc) as disc
from
    BA.T_ZIG_ACTN_MARGIN
where
    actn_name = '{actn_name}'
group by
    is_ca
    ,actn_period
order by
    is_ca
    ,actn_period
;""")

# Оборот сети в акцию

In [ ]:
query = f"""
SELECT
	code
FROM
	dm.WHS w
JOIN
	ba.vt_{mask}_whs ww 
	on ww.orgunit_id = w.orgunit_id
;
"""

whs_code = gp_connector.gp(query)
len(whs_code)

In [ ]:
whs_code_lst = gp_connector.to_sql_list(whs_code['code'], quotes=True)

In [ ]:
RTO = teradata(f"""
SELECT
    FRMT_ID
    ,REGION_ID
    ,cast(SUM(SALE_WO_NDS) as float) AS SALE_WO_NDS
FROM
    PRD_VD_DM.V_SALE_WHS_DAY S
JOIN
    PRD_VD_DM.V_WHS W ON W.WHS_ID = S.WHS_ID
WHERE
    DAY_ID BETWEEN '{promo_start_date}' and '{promo_end_date}'
    AND W.CODE in ({whs_code_lst})
GROUP by
    FRMT_ID
    ,REGION_ID
;""", odbc_td)

In [ ]:
RTO['ACTN_NAME'] = actn_name
RTO = RTO[['ACTN_NAME', 'FRMT_ID', 'REGION_ID', 'SALE_WO_NDS']]

In [ ]:
RTO['FRMT_ID'] = RTO.FRMT_ID.astype('str')
RTO['REGION_ID'] = RTO.REGION_ID.astype('str')

In [ ]:
gp_connector.execute_query(f"""drop table if exists ba.vt_{mask}_opsum_temp;""")
gp_connector.execute_query(f""" --sql
CREATE TABLE ba.vt_{mask}_opsum_temp (
actn_name varchar(50),
frmt_id integer,
region_id integer,
opsum numeric
)
;""")

gp_connector.insert_data(df=RTO, tablename=f'ba.vt_{mask}_opsum_temp')

gp_connector.execute_query(f"""
DELETE FROM BA.T_ZIG_OPSUM_FRMT_REGION
WHERE ACTN_NAME = '{actn_name}';
""")

gp_connector.execute_query(f""" --sql
insert into BA.T_ZIG_OPSUM_FRMT_REGION
select * from ba.vt_{mask}_opsum_temp
;""")

In [ ]:
gp_connector.gp(f"""
SELECT
    actn_name
    ,frmt_id
    ,region_id
    ,opsum_frmt_region
FROM 
    BA.T_ZIG_OPSUM_FRMT_REGION
WHERE
    ACTN_NAME = '{actn_name}'
;""").head(5)

# Удаление таблиц

In [6]:
tables = gp_connector.gp(f"""--sql
select table_schema, table_name
from information_schema.tables
where table_schema='ba'
	AND table_name LIKE '%%{mask}%%'
;""")

print('Кол-во таблиц ', len(tables))

Кол-во таблиц  4

In [7]:
for table in tables['table_name']:
    gp_connector.execute_query(f""" --sql
        drop table ba.{table}
    ;""")

# Выгрузка отчёта

In [110]:
# шаблон для выгрузки отчёта в excel
file = 'Шаблон_Расчет эффекта.xlsx'

dt_start = pd.to_datetime(promo_start_date)
dt_end = pd.to_datetime(promo_end_date)

## Расчет

In [111]:
# Вычисляем из дат продолжительность акции
actn_length = (dt_end - dt_start + dt.timedelta(days=1)).days
actn_length

31

### Формат-Регион-Тип клиента (доп.РТО)

In [112]:
df_frmt_region_type = gp_connector.gp(f"""	--sql
WITH frmt_region_cus_type_metrics AS (
SELECT
frmt_id,
region_id,
cus_type,
is_ca,
is_cus_lfl,
contact_id,
    /* Средние траты на 1 клиента в неделю до / вовремя акции */
    SUM(CASE WHEN actn_period = 1 THEN opsum_wo_nds /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 END) AS spend_prev,
    SUM(CASE WHEN actn_period = 2 THEN opsum_wo_nds /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 END) AS spend_actn,

    /* Средние траты без акц-товаров */
    SUM(CASE WHEN actn_period = 1 THEN (opsum_wo_nds - COALESCE(opsum_wo_nds_art_actn, 0)) /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 END) AS spend_wo_art_actn_prev,
    SUM(CASE WHEN actn_period = 2 THEN (opsum_wo_nds - COALESCE(opsum_wo_nds_art_actn, 0)) /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 END) AS spend_wo_art_actn_actn,

    /* Частота */
    SUM(CASE WHEN actn_period = 1 THEN cnt_trn /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 END) /
    COUNT(DISTINCT CASE WHEN actn_period = 1 THEN contact_id END) AS frq_prev,

    SUM(CASE WHEN actn_period = 2 THEN cnt_trn /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 END) /
    COUNT(DISTINCT CASE WHEN actn_period = 2 THEN contact_id END) AS frq_actn,

    /* Сумма / кол-во транзакций (для среднего чека) */
    SUM(CASE WHEN actn_period = 1 THEN opsum_wo_nds /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 ELSE 0 END) AS opsum_wo_nds_week_prev,
    SUM(CASE WHEN actn_period = 2 THEN opsum_wo_nds /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 ELSE 0 END) AS opsum_wo_nds_week_actn,
    SUM(CASE WHEN actn_period = 1 THEN cnt_trn /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 ELSE 0 END) AS cnt_trn_week_prev,
    SUM(CASE WHEN actn_period = 2 THEN cnt_trn /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 ELSE 0 END) AS cnt_trn_week_actn,

    /* Маржа (на 1 клиента) */
    SUM(CASE WHEN actn_period = 1 THEN (gross_margin_wo_nds_wo_logist * 0.966) /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 END) AS margin_prev,
    SUM(CASE WHEN actn_period = 2 THEN (gross_margin_wo_nds_wo_logist * 0.966) /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 END) AS margin_actn,

    /* Маржа без акц-товаров */
    SUM(CASE WHEN actn_period = 1 THEN ((gross_margin_wo_nds_wo_logist -
                  COALESCE(gross_margin_wo_nds_wo_logist_art_actn, 0)) * 0.966) /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 END) AS margin_wo_art_actn_prev,
    SUM(CASE WHEN actn_period = 2 THEN ((gross_margin_wo_nds_wo_logist -
                  COALESCE(gross_margin_wo_nds_wo_logist_art_actn, 0)) * 0.966) /
                  NULLIF(cnt_day_wo_cross::float, 0) * 7 END) AS margin_wo_art_actn_actn,

    -- Скидки
    SUM(CASE WHEN actn_period = 1 THEN disc END) AS disc_prev,
    SUM(CASE WHEN actn_period = 2 THEN disc END) AS disc_actn,

    -- Макс. число клиентов (ЦА)
    MAX(cnt_cus_total) AS cnt_cus_total
FROM ba.t_zig_actn_margin
WHERE
    actn_name = '{actn_name}'
    AND stat_test = 1
GROUP BY 1,2,3,4,5,6
)
SELECT
w.frmt,
w.region,
a.cus_type,
a.is_ca,
-- ЦА: cnt_cus_total
MAX(CASE WHEN a.is_ca=1 THEN a.cnt_cus_total END) AS cnt_cus_total,

COUNT(DISTINCT a.contact_id) AS cnt_cus_actn,
COUNT(DISTINCT CASE WHEN a.is_cus_lfl=1 THEN a.contact_id END) AS cnt_cus_lfl,

-- LFL (общие)
AVG(CASE WHEN a.is_cus_lfl=1 THEN spend_prev END) AS lfl_spend_prev,
AVG(CASE WHEN a.is_cus_lfl=1 THEN spend_actn END) AS lfl_spend_actn,

-- REGULAR LFL
AVG(CASE WHEN a.cus_type='REGULAR'  AND a.is_cus_lfl=1 THEN spend_prev END)  AS reg_spend_prev,
AVG(CASE WHEN a.cus_type='REGULAR'  AND a.is_cus_lfl=1 THEN spend_actn END)  AS reg_spend_actn,

-- NEW / RETURNED LFL (акционные траты)
AVG(CASE WHEN a.cus_type='NEW'      AND a.is_cus_lfl=1 THEN spend_actn END)     AS new_spend_actn,
AVG(CASE WHEN a.cus_type='RETURNED' AND a.is_cus_lfl=1 THEN spend_actn END)     AS return_spend_actn,

-- Без акц.товаров
AVG(CASE WHEN a.is_cus_lfl=1 THEN spend_wo_art_actn_actn END)                  AS lfl_spend_wo_art_actn_actn,
AVG(CASE WHEN a.cus_type='REGULAR'  AND a.is_cus_lfl=1 THEN spend_wo_art_actn_prev END)  AS reg_spend_wo_art_actn_prev,
AVG(CASE WHEN a.cus_type='REGULAR'  AND a.is_cus_lfl=1 THEN spend_wo_art_actn_actn END)  AS reg_spend_wo_art_actn_actn,

-- NEW/RETURNED: без акц.товаров (всё во время акции)
AVG(CASE WHEN a.cus_type='NEW'      AND a.is_cus_lfl=1 THEN spend_wo_art_actn_actn END) AS new_spend_wo_art_actn_actn,
AVG(CASE WHEN a.cus_type='RETURNED' AND a.is_cus_lfl=1 THEN spend_wo_art_actn_actn END) AS return_spend_wo_art_actn_actn,

-- Частота покупок (LFL)
AVG(CASE WHEN a.is_cus_lfl=1 THEN frq_actn END) AS lfl_frq_actn,
AVG(CASE WHEN a.cus_type='REGULAR'  AND a.is_cus_lfl=1 THEN frq_prev END) AS reg_frq_prev,
AVG(CASE WHEN a.cus_type='REGULAR'  AND a.is_cus_lfl=1 THEN frq_actn END) AS reg_frq_actn,

-- NEW / RETURNED частота
AVG(CASE WHEN a.cus_type='NEW'      AND a.is_cus_lfl=1 THEN frq_actn END) AS new_frq_actn,
AVG(CASE WHEN a.cus_type='RETURNED' AND a.is_cus_lfl=1 THEN frq_actn END) AS return_frq_actn,

-- Средний чек (LFL)
SUM(CASE WHEN a.is_cus_lfl=1 THEN opsum_wo_nds_week_actn END)
  / NULLIF(SUM(CASE WHEN a.is_cus_lfl=1 THEN cnt_trn_week_actn END),0) AS lfl_avg_cheque_actn,
SUM(CASE WHEN a.cus_type='REGULAR' AND a.is_cus_lfl=1 THEN opsum_wo_nds_week_prev END)
  / NULLIF(SUM(CASE WHEN a.cus_type='REGULAR' AND a.is_cus_lfl=1 THEN cnt_trn_week_prev END),0) AS reg_avg_cheque_prev,
SUM(CASE WHEN a.cus_type='REGULAR' AND a.is_cus_lfl=1 THEN opsum_wo_nds_week_actn END)
  / NULLIF(SUM(CASE WHEN a.cus_type='REGULAR' AND a.is_cus_lfl=1 THEN cnt_trn_week_actn END),0) AS reg_avg_cheque_actn,

-- NEW / RETURNED средний чек (акционный)
SUM(CASE WHEN a.cus_type='NEW'      AND a.is_cus_lfl=1 THEN opsum_wo_nds_week_actn END)
  / NULLIF(SUM(CASE WHEN a.cus_type='NEW'      AND a.is_cus_lfl=1 THEN cnt_trn_week_actn END),0) AS new_avg_cheque_actn,
SUM(CASE WHEN a.cus_type='RETURNED' AND a.is_cus_lfl=1 THEN opsum_wo_nds_week_actn END)
  / NULLIF(SUM(CASE WHEN a.cus_type='RETURNED' AND a.is_cus_lfl=1 THEN cnt_trn_week_actn END),0) AS return_avg_cheque_actn,

-- Маржа (LFL)
AVG(CASE WHEN a.is_cus_lfl=1 THEN margin_actn END)              AS lfl_margin_actn,
AVG(CASE WHEN a.cus_type='REGULAR'  AND a.is_cus_lfl=1 THEN margin_prev END)  AS reg_margin_prev,
AVG(CASE WHEN a.cus_type='REGULAR'  AND a.is_cus_lfl=1 THEN margin_actn END)  AS reg_margin_actn,

-- NEW / RETURNED маржа (акционная)
AVG(CASE WHEN a.cus_type='NEW'      AND a.is_cus_lfl=1 THEN margin_actn END)  AS new_margin_actn,
AVG(CASE WHEN a.cus_type='RETURNED' AND a.is_cus_lfl=1 THEN margin_actn END)  AS return_margin_actn,

-- Маржа без акц.товаров
AVG(CASE WHEN a.is_cus_lfl=1 THEN margin_wo_art_actn_actn END)                        AS lfl_margin_wo_art_actn_actn,
AVG(CASE WHEN a.cus_type='REGULAR'  AND a.is_cus_lfl=1 THEN margin_wo_art_actn_prev END)  AS reg_margin_wo_art_actn_prev,
AVG(CASE WHEN a.cus_type='REGULAR'  AND a.is_cus_lfl=1 THEN margin_wo_art_actn_actn END)  AS reg_margin_wo_art_actn_actn,

AVG(CASE WHEN a.cus_type='NEW'      AND a.is_cus_lfl=1 THEN margin_wo_art_actn_actn END) AS new_margin_wo_art_actn_actn,
AVG(CASE WHEN a.cus_type='RETURNED' AND a.is_cus_lfl=1 THEN margin_wo_art_actn_actn END) AS return_margin_wo_art_actn_actn,

-- Сумма скидок
SUM(a.disc_prev) AS disc_prev,
SUM(a.disc_actn) AS disc_actn,

-- (Если нужно) суммарные поля для расчёта маржинальности
SUM(spend_prev)  AS opsum_prev,
SUM(spend_actn)  AS opsum_actn,
SUM(margin_prev) AS opsum_margin_prev,
SUM(margin_actn) AS opsum_margin_actn,

-- Оборот (Формат+Регион), только для ЦА
MAX(CASE WHEN a.is_ca=1 THEN f.opsum_frmt_region END) AS opsum_frmt_region
FROM frmt_region_cus_type_metrics a
JOIN (
  SELECT DISTINCT frmt_id, frmt, region_id, region
  FROM dm.whs
) w
ON w.frmt_id = a.frmt_id
AND w.region_id = a.region_id
JOIN ba.t_zig_opsum_frmt_region f
ON f.actn_name = '{actn_name}'
AND f.frmt_id = a.frmt_id
AND f.region_id = a.region_id
GROUP BY
  w.frmt,
  w.region,
  a.cus_type,
  a.is_ca
ORDER BY
  w.frmt,
  w.region,
  a.cus_type,
  a.is_ca
;""")

df_frmt_region_type.head(4)

,frmt,region,cus_type,is_ca,cnt_cus_total,cnt_cus_actn,cnt_cus_lfl,lfl_spend_prev,lfl_spend_actn,reg_spend_prev,...,reg_margin_wo_art_actn_actn,new_margin_wo_art_actn_actn,return_margin_wo_art_actn_actn,disc_prev,disc_actn,opsum_prev,opsum_actn,opsum_margin_prev,opsum_margin_actn,opsum_frmt_region
0,БФ,Волжский округ,NEW,1,276837.0,84,42,NaN,1038.690914,NaN,...,NaN,266.159695,NaN,NaN,3443.93,NaN,6.061396e+04,NaN,1.409328e+04,3.024755e+09
1,БФ,Волжский округ,REGULAR,0,NaN,5692,5692,1523.194569,1636.571287,1523.194569,...,445.811516,NaN,NaN,0.0,0.00,8.670023e+06,9.315364e+06,2.247475e+06,2.537559e+06,NaN
2,БФ,Волжский округ,REGULAR,1,276837.0,9592,5206,1562.735109,1790.982977,1562.735109,...,418.949362,NaN,NaN,0.0,799623.01,1.150705e+07,1.314017e+07,2.643725e+06,3.082934e+06,3.024755e+09
3,БФ,Волжский округ,RETURNED,1,276837.0,3154,957,314.843750,879.435941,NaN,...,NaN,NaN,204.144712,0.0,101652.02,3.148438e+02,1.579853e+06,1.356409e+02,3.580709e+05,3.024755e+09

In [113]:
# Объединение ЦА и КГ по frmt и region
def get_incr(df, metric_actn, metric_prev, incr_name):
    ca = df.query('is_ca == 1 and cus_type == "REGULAR"')[["frmt", "region", metric_actn, metric_prev]]
    kg = df.query('is_ca == 0 and cus_type == "REGULAR"')[["frmt", "region", metric_actn, metric_prev]]

    ca = ca.rename(columns={metric_actn: metric_actn + '_ca', metric_prev: metric_prev + '_ca'})
    kg = kg.rename(columns={metric_actn: metric_actn + '_kg', metric_prev: metric_prev + '_kg'})

    merged = ca.merge(kg, on=['frmt', 'region'], how='inner')

    merged[incr_name] = (
        (merged[metric_actn + '_ca'] / merged[metric_prev + '_ca']) /
        (merged[metric_actn + '_kg'] / merged[metric_prev + '_kg']) - 1
    )

    return merged[['frmt', 'region', incr_name]]

# Считаем все приросты
incr_metrics = [
    ('reg_spend_actn', 'reg_spend_prev', 'incr_spend'),
    ('reg_frq_actn', 'reg_frq_prev', 'incr_frq'),
    ('reg_avg_cheque_actn', 'reg_avg_cheque_prev', 'incr_avg_cheque'),
    ('reg_spend_wo_art_actn_actn', 'reg_spend_wo_art_actn_prev', 'incr_wo_art_spend'),
    ('reg_margin_actn', 'reg_margin_prev', 'incr_margin'),
    ('reg_margin_wo_art_actn_actn', 'reg_margin_wo_art_actn_prev', 'incr_wo_art_margin')
]

ca_reg = 'is_ca == 1 and cus_type == "REGULAR"'
kg_reg = 'is_ca == 0 and cus_type == "REGULAR"'

df_incr = df_frmt_region_type[['frmt', 'region']].drop_duplicates().reset_index(drop=True)

for metric_actn, metric_prev, incr_name in incr_metrics:
    df_temp = get_incr(df_frmt_region_type, metric_actn, metric_prev, incr_name)
    df_incr = df_incr.merge(df_temp, on=['frmt', 'region'], how='left')

# Добавляем приросты обратно

df_frmt_region_type_new = df_frmt_region_type.merge(df_incr, on=['frmt', 'region'], how='left')

# Зануляем приросты для КГ
cols_incr = [x[2] for x in incr_metrics]
df_frmt_region_type_new.loc[df_frmt_region_type_new['is_ca'] == 0, cols_incr] = None

# Далее считаем доп.приросты

for incr_col, actn_col, prev_col, new_col in [
    ('incr_spend', 'reg_spend_actn', 'lfl_spend_actn', 'add_incr_spend'),
    ('incr_frq', 'reg_frq_actn', 'lfl_frq_actn', 'add_incr_frq'),
    ('incr_avg_cheque', 'reg_avg_cheque_actn', 'lfl_avg_cheque_actn', 'add_incr_avg_cheque'),
    ('incr_wo_art_spend', 'reg_spend_wo_art_actn_actn', 'lfl_spend_wo_art_actn_actn', 'add_incr_wo_art_spend'),
    ('incr_margin', 'reg_margin_actn', 'lfl_margin_actn', 'add_incr_margin'),
    ('incr_wo_art_margin', 'reg_margin_wo_art_actn_actn', 'lfl_margin_wo_art_actn_actn', 'add_incr_wo_art_margin')]:

    df_frmt_region_type_new[new_col] = (
        df_frmt_region_type_new[actn_col].combine_first(df_frmt_region_type_new[prev_col])
        - df_frmt_region_type_new[actn_col].combine_first(df_frmt_region_type_new[prev_col]) / (df_frmt_region_type_new[incr_col] + 1)
    )

    # Зануляем для КГ
    df_frmt_region_type_new.loc[df_frmt_region_type_new['is_ca'] == 0, new_col] = None

# Расчёт ДОП. РТО и Маржи
for col, add_col in [
    ('add_incr_spend', 'add_rto'),
    ('add_incr_wo_art_spend', 'add_rto_wo_art_actn'),
    ('add_incr_margin', 'add_margin'),
    ('add_incr_wo_art_margin', 'add_margin_wo_art')]:

    df_frmt_region_type_new[add_col] = (
        df_frmt_region_type_new['cnt_cus_actn'] * df_frmt_region_type_new[col] / 7 * actn_length
    )

# ДОП.РТО и Маржа по акционным товарам

df_frmt_region_type_new['add_rto_art_actn'] = df_frmt_region_type_new['add_rto'] - df_frmt_region_type_new['add_rto_wo_art_actn']
df_frmt_region_type_new['add_margin_art_actn'] = df_frmt_region_type_new['add_margin'] - df_frmt_region_type_new['add_margin_wo_art']

In [114]:
# Абсолютный прирост числа транзакций за всё время акции
df_frmt_region_type_new['add_cnt_txn'] = (
    df_frmt_region_type_new['cnt_cus_actn']      # клиентов, участвовавших в акции
    * df_frmt_region_type_new['add_incr_frq']    # доп. транзакций на клиента в неделю
    / 7                                          # перевод к 1-му дню
    * actn_length                                # × длительность акции (дн.)
)

df_frmt_region_type_new.loc[
    df_frmt_region_type_new['is_ca'] == 0,
    'add_cnt_txn'
] = None

df_frmt_region_type_new['impact_rto'] = (
df_frmt_region_type_new['add_rto']
/ df_frmt_region_type_new['opsum_frmt_region']
)

global_ca_mask = (df_frmt_region_type_new['is_ca']==1) & (df_frmt_region_type_new['cus_type']=='REGULAR')
df_global_ca = df_frmt_region_type_new[global_ca_mask]

if len(df_global_ca) > 0:
    row_ca_reg = df_global_ca.iloc[0]
    tmp_incr_avg = row_ca_reg['incr_avg_cheque'] # прирост ср.чека (ЦА vs КГ)
    tmp_avg_cheque_a = row_ca_reg['reg_avg_cheque_actn']
    tmp_avg_cheque_p = row_ca_reg['reg_avg_cheque_prev']

    if tmp_incr_avg is not None and tmp_incr_avg != 0:
        # res_4_val = (avg_cheque_actn - avg_cheque_actn/(1+incr)) / avg_cheque_prev
        res_4_val = (
            tmp_avg_cheque_a
            - tmp_avg_cheque_a/(tmp_incr_avg + 1)
        ) / tmp_avg_cheque_p
    else:
        res_4_val = 0.0

    tmp_incr_frq = row_ca_reg['incr_frq']  # прирост частоты (ЦА vs КГ)
    tmp_frq_actn = row_ca_reg['reg_frq_actn']
    tmp_frq_prev = row_ca_reg['reg_frq_prev']

    if tmp_incr_frq is not None and tmp_incr_frq != 0:
        # res_5_val = (frq_actn - frq_actn/(1+incr_frq)) / frq_prev
        res_5_val = (
            tmp_frq_actn
            - tmp_frq_actn/(tmp_incr_frq + 1)
        ) / tmp_frq_prev
    else:
        res_5_val = 0.0
else:
    # Если нет ни одной строки REGULAR & is_ca=1 вообще,
    # ставим оба 0 -> влияние на ср.чек/трафик будет 0
    res_4_val = 0.0
    res_5_val = 0.0


avg_spent = (
    (df_frmt_region_type_new['reg_spend_prev'] + df_frmt_region_type_new['reg_spend_actn'])
    / 2
    / 7
)


# Влияние на РТО (ср.чек)
df_frmt_region_type_new['impact_avg_txn'] = (
    df_frmt_region_type_new['add_incr_avg_cheque']
    * df_frmt_region_type_new['cnt_cus_actn']
    / 7
    * actn_length
) / df_frmt_region_type_new['opsum_frmt_region']

# Влияние на РТО (трафик)
df_frmt_region_type_new['impact_cnt_txn'] = (
    df_frmt_region_type_new['add_incr_frq']
    * df_frmt_region_type_new['cnt_cus_actn']
    / 7
    * actn_length
) / df_frmt_region_type_new['opsum_frmt_region']


df_frmt_region_type_new['margin_ratio_prev'] = (
    df_frmt_region_type_new['opsum_margin_prev']
    / df_frmt_region_type_new['opsum_prev']
)

df_frmt_region_type_new['margin_ratio_actn'] = (
    df_frmt_region_type_new['opsum_margin_actn']
    / df_frmt_region_type_new['opsum_actn']
)



def unify_columns(df, reg_col, new_col, ret_col):
    """
    Склеить 3 колонки (REGULAR, NEW, RETURNED) в одну.
    Возвращаем название новой колонки.
    """
    univ_col = reg_col.replace('reg_', '') + '_univ'

    df[univ_col] = (
        df[reg_col]
        .combine_first(df[new_col])
        .combine_first(df[ret_col])
    )
    return univ_col

col_groups = [
    ('reg_spend_actn', 'new_spend_actn', 'return_spend_actn', 'reg_spend_actn'),
    ('reg_frq_actn', 'new_frq_actn', 'return_frq_actn', 'reg_frq_actn'),
    ('reg_avg_cheque_actn','new_avg_cheque_actn','return_avg_cheque_actn','reg_avg_cheque_actn'),
    ('reg_margin_actn','new_margin_actn','return_margin_actn','reg_margin_actn'),
    ('reg_spend_wo_art_actn_actn','new_spend_wo_art_actn_actn','return_spend_wo_art_actn_actn','reg_spend_wo_art_actn_actn'),
    ('reg_margin_wo_art_actn_actn','new_margin_wo_art_actn_actn','return_margin_wo_art_actn_actn','reg_margin_wo_art_actn_actn')
]

for (reg_col, new_col, ret_col, final_col) in col_groups:
    # Проверим, есть ли эти колонки в df (чтобы не упасть)
    if all(c in df_frmt_region_type_new.columns for c in [reg_col, new_col, ret_col]):
        # 1. Склеиваем
        univ_col = unify_columns(df_frmt_region_type_new, reg_col, new_col, ret_col)

        # 2. Переименовываем univ_col -> final_col (например, spend_actn_univ -> reg_spend_actn)
        # но перед этим удалим final_col, если вдруг был, чтобы не конфликтовать
        if final_col in df_frmt_region_type_new.columns:
            df_frmt_region_type_new.drop(columns=[final_col], inplace=True)

        df_frmt_region_type_new.rename(columns={univ_col: final_col}, inplace=True)

        # 3. Удаляем исходные (new_col, ret_col), чтобы не мешались
        df_frmt_region_type_new.drop(columns=[new_col, ret_col], inplace=True, errors='ignore')
    else:
        print(f"Пропускаем объединение для {reg_col}, {new_col}, {ret_col} — не все колонки найдены в df.")

cols_for_export = [
    'frmt','region','cus_type','is_ca',
    'cnt_cus_actn','cnt_cus_lfl',
    'reg_spend_prev','reg_spend_actn','incr_spend',
    'reg_frq_prev','reg_frq_actn','incr_frq',
    'reg_avg_cheque_prev','reg_avg_cheque_actn','incr_avg_cheque',
    'add_rto', 'add_cnt_txn', 'add_rto_wo_art_actn','add_rto_art_actn',
    'add_margin','add_margin_wo_art','add_margin_art_actn',
    'impact_rto','impact_avg_txn','impact_cnt_txn',
    'opsum_frmt_region',
    'margin_ratio_prev','margin_ratio_actn'
]

df_frmt_region_cus_exp = df_frmt_region_type_new[cols_for_export].copy()

ind_kg = df_frmt_region_cus_exp.query('is_ca == 0').index
df_frmt_region_cus_exp.loc[ind_kg, [
    'add_cnt_txn',
    'incr_spend','incr_frq','incr_avg_cheque',
    'add_rto','add_rto_wo_art_actn','add_rto_art_actn',
    'add_margin','add_margin_wo_art','add_margin_art_actn',
    'impact_rto','impact_avg_txn','impact_cnt_txn',
    'opsum_frmt_region'
]] = None


df_frmt_region_cus_exp['is_ca'].replace({0:'КГ',1:'ЦА'}, inplace=True)


df_frmt_region_cus_exp = df_frmt_region_cus_exp.set_index(
    ['frmt','region','cus_type','is_ca']
).transpose()

e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\3300986955.py:159: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_frmt_region_cus_exp['is_ca'].replace({0:'КГ',1:'ЦА'}, inplace=True)

### Сводная Тотал

In [115]:
df_total = gp_connector.gp(f"""	--sql
with frmt_region_cus_type_metrics as (
    select
        frmt_id,
        region_id,
        cus_type,
        is_ca,
        is_cus_lfl,
        contact_id,
        sum(case when actn_period = 1 then opsum_wo_nds / cnt_day_wo_cross::float * 7 end)                          as spend_prev,
        sum(case when actn_period = 2 then opsum_wo_nds / cnt_day_wo_cross::float * 7 end)                          as spend_actn,
        sum(case when actn_period = 1 then (opsum_wo_nds - coalesce(opsum_wo_nds_art_actn, 0)) / cnt_day_wo_cross::float * 7 end) as spend_wo_art_actn_prev,
        sum(case when actn_period = 2 then (opsum_wo_nds - coalesce(opsum_wo_nds_art_actn, 0)) / cnt_day_wo_cross::float * 7 end) as spend_wo_art_actn_actn,
        sum(case when actn_period = 1 then cnt_trn / cnt_day_wo_cross::float * 7 end) / 
        count(distinct(case when actn_period = 1 then contact_id end)) 				                                as frq_prev,
        sum(case when actn_period = 2 then cnt_trn / cnt_day_wo_cross::float * 7 end) / 
        count(distinct(case when actn_period = 2 then contact_id end)) 				                                as frq_actn,
        sum(case when actn_period = 1 then opsum_wo_nds / cnt_day_wo_cross::float * 7 else 0 end)                   as opsum_wo_nds_week_prev,
        sum(case when actn_period = 2 then opsum_wo_nds / cnt_day_wo_cross::float * 7 else 0 end)                   as opsum_wo_nds_week_actn,
        sum(case when actn_period = 1 then cnt_trn / cnt_day_wo_cross::float * 7 else 0 end)                        as cnt_trn_week_prev,
        sum(case when actn_period = 2 then cnt_trn / cnt_day_wo_cross::float * 7 else 0 end)                        as cnt_trn_week_actn,
        sum(case when actn_period = 1 then (gross_margin_wo_nds_wo_logist*0.966) / cnt_day_wo_cross::float * 7 end) as margin_prev,
        sum(case when actn_period = 2 then (gross_margin_wo_nds_wo_logist*0.966) / cnt_day_wo_cross::float * 7 end) as margin_actn,
        sum(case when actn_period = 1 then ((gross_margin_wo_nds_wo_logist - 
                         coalesce(gross_margin_wo_nds_wo_logist_art_actn, 0)) *0.966) / cnt_day_wo_cross::float * 7 end) as margin_wo_art_actn_prev,
        sum(case when actn_period = 2 then ((gross_margin_wo_nds_wo_logist - 
                         coalesce(gross_margin_wo_nds_wo_logist_art_actn, 0)) *0.966) / cnt_day_wo_cross::float * 7 end) as margin_wo_art_actn_actn,
        sum(case when actn_period = 1 then disc end)                                                                as disc_prev,
        sum(case when actn_period = 2 then disc end)                                                                as disc_actn,
        max(cnt_cus_total)                                                                                          as cnt_cus_total
    from ba.t_zig_actn_margin
    where
        actn_name = '{actn_name}'
        and stat_test = 1
    group by 1,2,3,4,5,6
    ), opsum_total as (
    select sum(opsum_frmt_region) as opsum_frmt_region
    from ba.t_zig_opsum_frmt_region
    where actn_name = '{actn_name}'
    )
select
    a.is_ca,
    max(case when a.is_ca = 1 then cnt_cus_total end)                                                   as cnt_cus_total,
    count(distinct a.contact_id)                                                                        as cnt_cus_actn,
    count(distinct case when a.is_cus_lfl = 1 then a.contact_id end)                                    as cnt_cus_lfl,
/* Средние траты ДО акции (REGULAR, LFL) */
sum( case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then spend_prev end ) /
nullif( count( distinct case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then contact_id end ), 0 )
  as reg_spend_prev,

/* Средние траты ВО ВРЕМЯ акции */
sum( case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then spend_actn end ) /
nullif( count( distinct case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then contact_id end ), 0 )
  as reg_spend_actn,

/* Частота ДО акции */
sum( case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then frq_prev end ) /
nullif( count( distinct case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then contact_id end ), 0 )
  as reg_frq_prev,

/* Частота ВО ВРЕМЯ акции */
sum( case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then frq_actn end ) /
nullif( count( distinct case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then contact_id end ), 0 )
  as reg_frq_actn,
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then opsum_wo_nds_week_prev end) /
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then cnt_trn_week_prev end)               as reg_avg_cheque_prev,
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then opsum_wo_nds_week_actn end) /
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then cnt_trn_week_actn end)               as reg_avg_cheque_actn,
    sum(case when a.is_cus_lfl = 1 then opsum_wo_nds_week_actn end) /
    avg(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then margin_prev end)                     as reg_margin_prev,
    avg(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then margin_actn end)                     as reg_margin_actn,
    sum(disc_prev)                                                                                      as disc_prev,
    sum(disc_actn)                                                                                      as disc_actn,
    sum(spend_prev)                                                                                     as opsum_prev,
    sum(spend_actn)                                                                                     as opsum_actn,
    sum(margin_prev)                                                                                    as opsum_margin_prev,
    sum(margin_actn)                                                                                    as opsum_margin_actn,
    max(case when a.is_ca = 1 then f.opsum_frmt_region end)                                             as opsum_frmt_region
from frmt_region_cus_type_metrics a
join (select distinct frmt_id, frmt, region_id, region from dm.whs) w on w.frmt_id = a.frmt_id and w.region_id = a.region_id
join opsum_total f on 1=1
group by 1
order by 1
;""")

df_total.head(4)

,is_ca,cnt_cus_total,cnt_cus_actn,cnt_cus_lfl,reg_spend_prev,reg_spend_actn,reg_frq_prev,reg_frq_actn,reg_avg_cheque_prev,reg_avg_cheque_actn,reg_margin_prev,reg_margin_actn,disc_prev,disc_actn,opsum_prev,opsum_actn,opsum_margin_prev,opsum_margin_actn,opsum_frmt_region
0,0,NaN,272857,272857,1540.086501,1538.833483,2.075576,2.059044,742.004475,747.353445,9.564654e+05,452.190826,0.0,708.22,4.202234e+08,4.198815e+08,1.206313e+08,1.242571e+08,NaN
1,1,276837.0,258703,209516,2042.098120,2285.875265,2.704981,2.974223,754.939881,768.562144,1.203615e+06,442.237055,0.0,46019068.20,5.921306e+08,6.876640e+08,1.481742e+08,1.745531e+08,2.454468e+11

In [116]:
oborot_ap = gp_connector.gp(f"""
with stat as (
select distinct frmt_id, region_id
from ba.t_zig_actn_margin
where 1=1
and actn_name = '{actn_name}'
and stat_test = 1
)

select sum(opsum_frmt_region) as opsum_frmt_region
from ba.t_zig_opsum_frmt_region r
join stat s on s.frmt_id = r.frmt_id and s.region_id = r.region_id
where actn_name = '{actn_name}'
""")['opsum_frmt_region'][0]

df_total['opsum_frmt_region'] = oborot_ap

# Зануляем оборот АП для КГ
ind = df_total.query('is_ca == 0').index
df_total.loc[ind, ['opsum_frmt_region']] = None

In [117]:
# Чистый прирост Трат
df_11 = df_total.query('is_ca == 1')['reg_spend_actn'] / df_total.query('is_ca == 1')['reg_spend_prev']
df_12 = df_total.query('is_ca == 0')['reg_spend_actn'] / df_total.query('is_ca == 0')['reg_spend_prev']
res_1 = df_11.reset_index(drop=True) / df_12.reset_index(drop=True) - 1
res_1.name = 'incr_spend'

# Чистый прирост Частоты
df_21 = df_total.query('is_ca == 1')['reg_frq_actn'] / df_total.query('is_ca == 1')['reg_frq_prev']
df_22 = df_total.query('is_ca == 0')['reg_frq_actn'] / df_total.query('is_ca == 0')['reg_frq_prev']
res_2 = df_21.reset_index(drop=True) / df_22.reset_index(drop=True) - 1
res_2.name = 'incr_frq'

# Чистый прирост Ср.чек
df_31 = df_total.query('is_ca == 1')['reg_avg_cheque_actn'] / df_total.query('is_ca == 1')['reg_avg_cheque_prev']
df_32 = df_total.query('is_ca == 0')['reg_avg_cheque_actn'] / df_total.query('is_ca == 0')['reg_avg_cheque_prev']
res_3 = df_31.reset_index(drop=True) / df_32.reset_index(drop=True) - 1
res_3.name = 'incr_avg_cheque'

In [118]:
df_incr = pd.concat([res_1, res_2], axis=1)
df_incr = pd.concat([df_incr, res_3], axis=1)
df_incr

   incr_spend  incr_frq  incr_avg_cheque
0    0.120287  0.108364         0.010758

In [119]:
# Добавляю приросты в Таблицу
df_total = df_total.merge(df_incr, how='cross')

In [120]:
# Добавляю Доп.РТО и Доп.маржу в Таблицу
add_rto = df_frmt_region_type_new.groupby('is_ca')[['add_rto', 'add_rto_wo_art_actn', 'add_rto_art_actn', 'add_margin', 'add_margin_wo_art', 'add_margin_art_actn', 'add_cnt_txn']].sum()
df_total = pd.concat([df_total, add_rto], axis=1)

avg_spent = (df_total.reg_spend_actn + df_total.reg_spend_prev) / 2 / 7

# Рассчитываю влияние на РТО
df_total['impact_rto'] = df_total['add_rto'] / df_total['opsum_frmt_region']

# Рассчитываю влияние на Ср.чек
#res_4 = (df_total.query('is_ca == 1')['reg_spend_actn'] - df_total.query('is_ca == 1')['reg_spend_actn'] / (res_3.values + 1)) / df_total.query('is_ca == 1')['reg_spend_prev']
res_4 = (df_total.query('is_ca == 1')['reg_avg_cheque_actn'] - df_total.query('is_ca == 1')['reg_avg_cheque_actn'] / (res_3.values + 1)) / df_total.query('is_ca == 1')['reg_avg_cheque_prev']
df_total['impact_avg_txn'] = (avg_spent * df_total.cnt_cus_actn * actn_length * res_4.values) / df_total.opsum_frmt_region

# Рассчитываю влияние на Трафик
res_5 = (df_total.query('is_ca == 1')['reg_frq_actn'] - df_total.query('is_ca == 1')['reg_frq_actn'] / (res_2.values + 1)) / df_total.query('is_ca == 1')['reg_frq_prev']
df_total['impact_cnt_txn'] = (avg_spent * df_total.cnt_cus_actn * actn_length * res_5.values) / df_total.opsum_frmt_region

# Маржинальность
df_total['margin_ratio_prev'] = df_total.opsum_margin_prev / df_total.opsum_prev
df_total['margin_ratio_actn'] = df_total.opsum_margin_actn / df_total.opsum_actn

In [121]:
df_total_exp = df_total[[
    'is_ca', 'cnt_cus_total', 'cnt_cus_actn', 'cnt_cus_lfl',
    'reg_spend_prev', 'reg_spend_actn', 'incr_spend', 
    'reg_frq_prev', 'reg_frq_actn', 'incr_frq',
    'reg_avg_cheque_prev', 'reg_avg_cheque_actn', 'incr_avg_cheque',
    'add_rto', 'add_cnt_txn', 'add_rto_wo_art_actn', 'add_rto_art_actn',
    'add_margin', 'add_margin_wo_art', 'add_margin_art_actn',
    'impact_rto', 'impact_avg_txn', 'impact_cnt_txn',
    'opsum_frmt_region', 'margin_ratio_prev', 'margin_ratio_actn'
]]

In [122]:
# Зануляю приросты для КГ
ind = df_total_exp.query('is_ca == 0').index
df_total_exp.loc[ind, ['add_cnt_txn', 'incr_spend', 'incr_frq', 'incr_avg_cheque', 'add_rto', 'add_rto_wo_art_actn', 'add_rto_art_actn', 'add_margin',
            'add_margin_wo_art', 'add_margin_art_actn', 'impact_rto', 'impact_avg_txn', 'impact_cnt_txn', 'opsum_frmt_region']] = None

df_total_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)

e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\3072243207.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_total_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)
e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\3072243207.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)

In [123]:
df_total_exp = df_total_exp.set_index('is_ca').transpose()

In [124]:
df_total_exp

is_ca                           КГ            ЦА
cnt_cus_total                  NaN  2.768370e+05
cnt_cus_actn         272857.000000  2.587030e+05
cnt_cus_lfl          272857.000000  2.095160e+05
reg_spend_prev         1540.086501  2.042098e+03
reg_spend_actn         1538.833483  2.285875e+03
incr_spend                     NaN  1.202873e-01
reg_frq_prev              2.075576  2.704981e+00
reg_frq_actn              2.059044  2.974223e+00
incr_frq                       NaN  1.083637e-01
reg_avg_cheque_prev     742.004475  7.549399e+02
reg_avg_cheque_actn     747.353445  7.685621e+02
incr_avg_cheque                NaN  1.075781e-02
add_rto                        NaN  3.308944e+08
add_cnt_txn                    NaN  3.777371e+05
add_rto_wo_art_actn            NaN  3.308944e+08
add_rto_art_actn               NaN  0.000000e+00
add_margin                     NaN  7.192860e+07
add_margin_wo_art              NaN  7.192860e+07
add_margin_art_actn            NaN  0.000000e+00
impact_rto                     NaN  1.589441e-03
impact_avg_txn                 NaN  1.290381e-04
impact_cnt_txn                 NaN  1.280223e-03
opsum_frmt_region              NaN  2.081829e+11
margin_ratio_prev         0.287065  2.502390e-01
margin_ratio_actn         0.295934  2.538348e-01

### Сводная Тип клиента

In [125]:
df_cus_type = gp_connector.gp(f"""	--sql
with frmt_region_cus_type_metrics as (
    select
        frmt_id,
        region_id,
        cus_type,
        is_ca,
        is_cus_lfl,
        contact_id,
        sum(case when actn_period = 1 then opsum_wo_nds / cnt_day_wo_cross::float * 7 end)                          as spend_prev,
        sum(case when actn_period = 2 then opsum_wo_nds / cnt_day_wo_cross::float * 7 end)                          as spend_actn,
        sum(case when actn_period = 1 then (opsum_wo_nds - coalesce(opsum_wo_nds_art_actn, 0)) / cnt_day_wo_cross::float * 7 end) as spend_wo_art_actn_prev,
        sum(case when actn_period = 2 then (opsum_wo_nds - coalesce(opsum_wo_nds_art_actn, 0)) / cnt_day_wo_cross::float * 7 end) as spend_wo_art_actn_actn,
        sum(case when actn_period = 1 then cnt_trn / cnt_day_wo_cross::float * 7 end) / 
        count(distinct(case when actn_period = 1 then contact_id end)) 				                                as frq_prev,
        sum(case when actn_period = 2 then cnt_trn / cnt_day_wo_cross::float * 7 end) / 
        count(distinct(case when actn_period = 2 then contact_id end)) 				                                as frq_actn,
        sum(case when actn_period = 1 then opsum_wo_nds / cnt_day_wo_cross::float * 7 else 0 end)                   as opsum_wo_nds_week_prev,
        sum(case when actn_period = 2 then opsum_wo_nds / cnt_day_wo_cross::float * 7 else 0 end)                   as opsum_wo_nds_week_actn,
        sum(case when actn_period = 1 then cnt_trn / cnt_day_wo_cross::float * 7 else 0 end)                        as cnt_trn_week_prev,
        sum(case when actn_period = 2 then cnt_trn / cnt_day_wo_cross::float * 7 else 0 end)                        as cnt_trn_week_actn,
        sum(case when actn_period = 1 then (gross_margin_wo_nds_wo_logist*0.966) / cnt_day_wo_cross::float * 7 end) as margin_prev,
        sum(case when actn_period = 2 then (gross_margin_wo_nds_wo_logist*0.966) / cnt_day_wo_cross::float * 7 end) as margin_actn,
        sum(case when actn_period = 1 then ((gross_margin_wo_nds_wo_logist - 
                         coalesce(gross_margin_wo_nds_wo_logist_art_actn, 0)) *0.966) / cnt_day_wo_cross::float * 7 end) as margin_wo_art_actn_prev,
        sum(case when actn_period = 2 then ((gross_margin_wo_nds_wo_logist - 
                         coalesce(gross_margin_wo_nds_wo_logist_art_actn, 0)) *0.966) / cnt_day_wo_cross::float * 7 end) as margin_wo_art_actn_actn,
        sum(case when actn_period = 1 then disc end)                                                                as disc_prev,
        sum(case when actn_period = 2 then disc end)                                                                as disc_actn,
        max(cnt_cus_total)                                                                                          as cnt_cus_total
    from ba.t_zig_actn_margin
    where
        actn_name = '{actn_name}'
        and stat_test = 1
    group by 1,2,3,4,5,6
    ), opsum_total as (
    select sum(opsum_frmt_region) as opsum_frmt_region
    from ba.t_zig_opsum_frmt_region
    where actn_name = '{actn_name}'
    )
select
    a.is_ca,
    a.cus_type,
    max(case when a.is_ca = 1 then cnt_cus_total end)                                                   as cnt_cus_total,
    count(distinct a.contact_id)                                                                        as cnt_cus_actn,
    count(distinct case when a.is_cus_lfl = 1 then a.contact_id end)                                    as cnt_cus_lfl,
/* LFL — траты */
sum( case when a.is_cus_lfl = 1 then spend_prev end ) /
nullif( count( distinct case when a.is_cus_lfl = 1 then contact_id end ), 0 )
  as lfl_spend_prev,

sum( case when a.is_cus_lfl = 1 then spend_actn end ) /
nullif( count( distinct case when a.is_cus_lfl = 1 then contact_id end ), 0 )
  as lfl_spend_actn,

/* REGULAR — траты */
sum( case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then spend_prev end ) /
nullif( count( distinct case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then contact_id end ), 0 )
  as reg_spend_prev,

sum( case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then spend_actn end ) /
nullif( count( distinct case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then contact_id end ), 0 )
  as reg_spend_actn,

/* REGULAR — частота */
sum( case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then frq_prev end ) /
nullif( count( distinct case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then contact_id end ), 0 )
  as reg_frq_prev,

sum( case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then frq_actn end ) /
nullif( count( distinct case when a.cus_type='REGULAR' and a.is_cus_lfl=1 then contact_id end ), 0 )
  as reg_frq_actn,

/* LFL — частота */
sum( case when a.is_cus_lfl = 1 then frq_prev end ) /
nullif( count( distinct case when a.is_cus_lfl = 1 then contact_id end ), 0 )
  as lfl_frq_prev,

sum( case when a.is_cus_lfl = 1 then frq_actn end ) /
nullif( count( distinct case when a.is_cus_lfl = 1 then contact_id end ), 0 )
  as lfl_frq_actn,
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then opsum_wo_nds_week_prev end) /
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then cnt_trn_week_prev end)               as reg_avg_cheque_prev,
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then opsum_wo_nds_week_actn end) /
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then cnt_trn_week_actn end)               as reg_avg_cheque_actn,
    sum(case when a.is_cus_lfl = 1 then opsum_wo_nds_week_actn end) /
    sum(case when a.is_cus_lfl = 1 then cnt_trn_week_actn end)                                          as lfl_avg_cheque_actn,
    avg(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then margin_prev end)                     as reg_margin_prev,
    avg(case when a.is_cus_lfl = 1 then margin_prev end)                                                as lfl_margin_prev,
    avg(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then margin_actn end)                     as reg_margin_actn,
    avg(case when a.is_cus_lfl = 1 then margin_actn end)                                                as lfl_margin_actn,
    sum(disc_prev)                                                                                      as disc_prev,
    sum(disc_actn)                                                                                      as disc_actn,
    sum(spend_prev)                                                                                     as opsum_prev,
    sum(spend_actn)                                                                                     as opsum_actn,
    sum(margin_prev)                                                                                    as opsum_margin_prev,
    sum(margin_actn)                                                                                    as opsum_margin_actn,
    max(case when a.is_ca = 1 then f.opsum_frmt_region end)                                             as opsum_frmt_region
from frmt_region_cus_type_metrics a
join (select distinct frmt_id, frmt, region_id, region from dm.whs) w on w.frmt_id = a.frmt_id and w.region_id = a.region_id
join opsum_total f on 1=1
group by 1,2
order by 1,2
;""")

df_cus_type.head(4)

,is_ca,cus_type,cnt_cus_total,cnt_cus_actn,cnt_cus_lfl,lfl_spend_prev,lfl_spend_actn,reg_spend_prev,reg_spend_actn,reg_frq_prev,...,lfl_margin_prev,reg_margin_actn,lfl_margin_actn,disc_prev,disc_actn,opsum_prev,opsum_actn,opsum_margin_prev,opsum_margin_actn,opsum_frmt_region
0,0,REGULAR,NaN,272857,272857,1540.086501,1538.833483,1540.086501,1538.833483,2.075576,...,438.992858,452.190826,452.190826,0.0,708.22,4.202234e+08,4.198815e+08,1.206313e+08,1.242571e+08,NaN
1,1,NEW,276837.0,3161,2766,NaN,1535.970640,NaN,NaN,NaN,...,NaN,NaN,316.306108,0.0,364443.07,1.110172e+03,4.558302e+06,3.240990e+02,1.090814e+06,2.454468e+11
2,1,REGULAR,276837.0,247327,197506,2042.098120,2285.875265,2042.098120,2285.875265,2.704981,...,391.770613,442.237055,442.237055,0.0,43821082.84,5.921283e+08,6.601138e+08,1.481734e+08,1.675782e+08,2.454468e+11
3,1,RETURNED,276837.0,45664,19514,0.051860,810.613078,NaN,NaN,NaN,...,112.635600,NaN,193.398311,0.0,1833542.29,1.230746e+03,2.299195e+07,3.969922e+02,5.884055e+06,2.454468e+11

In [126]:
oborot_ap = gp_connector.gp(f"""
with stat as (
select distinct frmt_id, region_id
from ba.t_zig_actn_margin
where 1=1
and actn_name = '{actn_name}'
and stat_test = 1
)

select sum(opsum_frmt_region) as opsum_frmt_region
from ba.t_zig_opsum_frmt_region r
join stat s on s.frmt_id = r.frmt_id and s.region_id = r.region_id
where actn_name = '{actn_name}'
""")['opsum_frmt_region'][0]

In [127]:
df_cus_type['opsum_frmt_region'] = oborot_ap

# Зануляем оборот АП для КГ
ind = df_cus_type.query('is_ca == 0').index
df_cus_type.loc[ind, ['opsum_frmt_region']] = None

In [128]:
# Чистый прирост Трат
df_11 = df_cus_type.query(ca_reg)['reg_spend_actn'] / df_cus_type.query(ca_reg)['reg_spend_prev']
df_12 = df_cus_type.query(kg_reg)['reg_spend_actn'] / df_cus_type.query(kg_reg)['reg_spend_prev']
res_1 = df_11.reset_index(drop=True) / df_12.reset_index(drop=True) - 1
res_1.name = 'incr_spend'

# Чистый прирост Частоты
df_21 = df_cus_type.query(ca_reg)['reg_frq_actn'] / df_cus_type.query(ca_reg)['reg_frq_prev']
df_22 = df_cus_type.query(kg_reg)['reg_frq_actn'] / df_cus_type.query(kg_reg)['reg_frq_prev']
res_2 = df_21.reset_index(drop=True) / df_22.reset_index(drop=True) - 1
res_2.name = 'incr_frq'

# Чистый прирост Ср.чек
df_31 = df_cus_type.query(ca_reg)['reg_avg_cheque_actn'] / df_cus_type.query(ca_reg)['reg_avg_cheque_prev']
df_32 = df_cus_type.query(kg_reg)['reg_avg_cheque_actn'] / df_cus_type.query(kg_reg)['reg_avg_cheque_prev']
res_3 = df_31.reset_index(drop=True) / df_32.reset_index(drop=True) - 1
res_3.name = 'incr_avg_cheque'

In [129]:
df_incr = pd.concat([res_1, res_2], axis=1)
df_incr = pd.concat([df_incr, res_3], axis=1)
df_incr

   incr_spend  incr_frq  incr_avg_cheque
0    0.120287  0.108364         0.010758

In [130]:
# Добавляю приросты в Таблицу
df_cus_type = df_cus_type.merge(df_incr, how='cross')

In [131]:
# Добавляю Доп.РТО и Доп.маржу в Таблицу
cols = ['add_rto', 'add_cnt_txn', 'add_rto_wo_art_actn', 'add_rto_art_actn', 'add_margin', 'add_margin_wo_art', 'add_margin_art_actn']
add_rto = df_frmt_region_type_new.groupby(['is_ca', 'cus_type'])[cols].sum()
df_cus_type = pd.concat([df_cus_type, add_rto.reset_index()[cols]], axis=1)

avg_spent = (df_cus_type['lfl_spend_actn']) / 7

# Рассчитываю влияние на РТО
df_cus_type['impact_rto'] = df_cus_type['add_rto'] / df_cus_type['opsum_frmt_region']

# Рассчитываю влияние на Ср.чек
res_4 = (df_cus_type.query('is_ca == 1 & cus_type == "REGULAR"')['reg_avg_cheque_actn'].values[0] - df_cus_type.query('is_ca == 1 & cus_type == "REGULAR"')['reg_avg_cheque_actn'].values[0] /\
         (res_3.values + 1)) / df_cus_type.query('is_ca == 1 & cus_type == "REGULAR"')['reg_avg_cheque_prev'].values[0]
df_cus_type['impact_avg_txn'] = (avg_spent * df_cus_type.cnt_cus_actn * actn_length * res_4) / df_cus_type.opsum_frmt_region

# Рассчитываю влияние на Трафик
res_5 = (df_cus_type.query('is_ca == 1 & cus_type == "REGULAR"')['reg_frq_actn'].values[0] - df_cus_type.query('is_ca == 1 & cus_type == "REGULAR"')['reg_frq_actn'].values[0] /\
         (res_2.values + 1)) / df_cus_type.query('is_ca == 1 & cus_type == "REGULAR"')['reg_frq_prev'].values[0]
df_cus_type['impact_cnt_txn'] = (avg_spent * df_cus_type.cnt_cus_actn * actn_length * res_5) / df_cus_type.opsum_frmt_region

# Маржинальность
df_cus_type['margin_ratio_prev'] = df_cus_type.opsum_margin_prev / df_cus_type.opsum_prev
df_cus_type['margin_ratio_actn'] = df_cus_type.opsum_margin_actn / df_cus_type.opsum_actn

In [132]:
df_cus_type_exp = df_cus_type[[
    'cus_type', 'is_ca', 'cnt_cus_actn', 'cnt_cus_lfl',
    'lfl_spend_prev', 'lfl_spend_actn', 'incr_spend', 
    'lfl_frq_prev', 'lfl_frq_actn', 'incr_frq',
    'reg_avg_cheque_prev', 'lfl_avg_cheque_actn', 'incr_avg_cheque',
    'add_rto', 'add_cnt_txn', 'add_rto_wo_art_actn', 'add_rto_art_actn',
    'add_margin', 'add_margin_wo_art', 'add_margin_art_actn',
    'impact_rto', 'impact_avg_txn', 'impact_cnt_txn',
    'opsum_frmt_region', 'margin_ratio_prev', 'margin_ratio_actn'
]]

In [133]:
# Зануляю приросты для КГ
ind = df_cus_type_exp.query('is_ca == 0').index
df_cus_type_exp.loc[ind, ['add_cnt_txn', 'incr_spend', 'incr_frq', 'incr_avg_cheque','add_rto', 'add_rto_wo_art_actn', 'add_rto_art_actn',
                      'add_margin', 'add_margin_wo_art', 'add_margin_art_actn', 'impact_rto', 'impact_avg_txn', 'impact_cnt_txn', 'opsum_frmt_region']] = None

df_cus_type_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)

e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\2606487396.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cus_type_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)
e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\2606487396.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cus_type_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)

In [134]:
df_cus_type_exp['row_num'] = [1 if i == 'REGULAR' else 2 for i in df_cus_type_exp['cus_type']]
df_cus_type_exp = df_cus_type_exp.sort_values(by=['row_num', 'is_ca']).reset_index(drop=True).drop(columns='row_num')

e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\465319928.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cus_type_exp['row_num'] = [1 if i == 'REGULAR' else 2 for i in df_cus_type_exp['cus_type']]

In [135]:
df_cus_type_exp = df_cus_type_exp.set_index(['cus_type', 'is_ca']).transpose()

In [136]:
df_cus_type_exp

cus_type                   REGULAR                         NEW      RETURNED
is_ca                           КГ            ЦА            ЦА            ЦА
cnt_cus_actn         272857.000000  2.473270e+05  3.161000e+03  4.566400e+04
cnt_cus_lfl          272857.000000  1.975060e+05  2.766000e+03  1.951400e+04
lfl_spend_prev         1540.086501  2.042098e+03           NaN  5.185988e-02
lfl_spend_actn         1538.833483  2.285875e+03  1.535971e+03  8.106131e+02
incr_spend                     NaN  1.202873e-01  1.202873e-01  1.202873e-01
lfl_frq_prev              2.075576  2.704981e+00           NaN  8.967920e-05
lfl_frq_actn              2.059044  2.974223e+00  1.893803e+00  9.519882e-01
incr_frq                       NaN  1.083637e-01  1.083637e-01  1.083637e-01
reg_avg_cheque_prev     742.004475  7.549399e+02           NaN           NaN
lfl_avg_cheque_actn     747.353445  7.685621e+02  8.110511e+02  8.514949e+02
incr_avg_cheque                NaN  1.075781e-02  1.075781e-02  1.075781e-02
add_rto                        NaN  3.127014e+08  2.650208e+06  1.554279e+07
add_cnt_txn                    NaN  3.613877e+05  2.731378e+03  1.361802e+04
add_rto_wo_art_actn            NaN  3.127014e+08  2.650208e+06  1.554279e+07
add_rto_art_actn               NaN  0.000000e+00  0.000000e+00  0.000000e+00
add_margin                     NaN  6.736883e+07  6.178410e+05  3.941927e+06
add_margin_wo_art              NaN  6.736883e+07  6.178410e+05  3.941927e+06
add_margin_art_actn            NaN  0.000000e+00  0.000000e+00  0.000000e+00
impact_rto                     NaN  1.502051e-03  1.273019e-05  7.465929e-05
impact_avg_txn                 NaN  1.303124e-04  1.119101e-06  8.531972e-06
impact_cnt_txn                 NaN  1.292866e-03  1.110291e-05  8.464808e-05
opsum_frmt_region              NaN  2.081829e+11  2.081829e+11  2.081829e+11
margin_ratio_prev         0.287065  2.502388e-01  2.919357e-01  3.225622e-01
margin_ratio_actn         0.295934  2.538626e-01  2.393027e-01  2.559181e-01

### Сводная Формат

In [137]:
df_frmt = gp_connector.gp(f"""	--sql
with frmt_region_cus_type_metrics as (
    select
        frmt_id,
        region_id,
        cus_type,
        is_ca,
        is_cus_lfl,
        contact_id,
        sum(case when actn_period = 1 then opsum_wo_nds / cnt_day_wo_cross::float * 7 end)                          as spend_prev,
        sum(case when actn_period = 2 then opsum_wo_nds / cnt_day_wo_cross::float * 7 end)                          as spend_actn,
        sum(case when actn_period = 1 then (opsum_wo_nds - coalesce(opsum_wo_nds_art_actn, 0)) / cnt_day_wo_cross::float * 7 end) as spend_wo_art_actn_prev,
        sum(case when actn_period = 2 then (opsum_wo_nds - coalesce(opsum_wo_nds_art_actn, 0)) / cnt_day_wo_cross::float * 7 end) as spend_wo_art_actn_actn,
        sum(case when actn_period = 1 then cnt_trn / cnt_day_wo_cross::float * 7 end) / 
        count(distinct(case when actn_period = 1 then contact_id end)) 				                                as frq_prev,
        sum(case when actn_period = 2 then cnt_trn / cnt_day_wo_cross::float * 7 end) / 
        count(distinct(case when actn_period = 2 then contact_id end)) 				                                as frq_actn,
        sum(case when actn_period = 1 then opsum_wo_nds / cnt_day_wo_cross::float * 7 else 0 end)                   as opsum_wo_nds_week_prev,
        sum(case when actn_period = 2 then opsum_wo_nds / cnt_day_wo_cross::float * 7 else 0 end)                   as opsum_wo_nds_week_actn,
        sum(case when actn_period = 1 then cnt_trn / cnt_day_wo_cross::float * 7 else 0 end)                        as cnt_trn_week_prev,
        sum(case when actn_period = 2 then cnt_trn / cnt_day_wo_cross::float * 7 else 0 end)                        as cnt_trn_week_actn,
        sum(case when actn_period = 1 then (gross_margin_wo_nds_wo_logist*0.966) / cnt_day_wo_cross::float * 7 end) as margin_prev,
        sum(case when actn_period = 2 then (gross_margin_wo_nds_wo_logist*0.966) / cnt_day_wo_cross::float * 7 end) as margin_actn,
        sum(case when actn_period = 1 then ((gross_margin_wo_nds_wo_logist - 
                         coalesce(gross_margin_wo_nds_wo_logist_art_actn, 0)) *0.966) / cnt_day_wo_cross::float * 7 end) as margin_wo_art_actn_prev,
        sum(case when actn_period = 2 then ((gross_margin_wo_nds_wo_logist - 
                         coalesce(gross_margin_wo_nds_wo_logist_art_actn, 0)) *0.966) / cnt_day_wo_cross::float * 7 end) as margin_wo_art_actn_actn,
        sum(case when actn_period = 1 then disc end)                                                                as disc_prev,
        sum(case when actn_period = 2 then disc end)                                                                as disc_actn,
        max(cnt_cus_total)                                                                                          as cnt_cus_total
    from ba.t_zig_actn_margin
    where
        actn_name = '{actn_name}'
        and stat_test = 1
    group by 1,2,3,4,5,6
    ), opsum_total as (
    select sum(opsum_frmt_region) as opsum_frmt_region
    from ba.t_zig_opsum_frmt_region
    where actn_name = '{actn_name}'
    )
select
    w.frmt,
    a.is_ca,
    max(case when a.is_ca = 1 then cnt_cus_total end)                                                   as cnt_cus_total,
    count(distinct a.contact_id)                                                                        as cnt_cus_actn,
    count(distinct case when a.is_cus_lfl = 1 then a.contact_id end)                                    as cnt_cus_lfl,
/*--- LFL: средние траты ---*/
sum( case when a.is_cus_lfl = 1 then spend_prev end ) /
nullif( count( distinct case when a.is_cus_lfl = 1 then contact_id end ), 0 )
    as lfl_spend_prev,

sum( case when a.is_cus_lfl = 1 then spend_actn end ) /
nullif( count( distinct case when a.is_cus_lfl = 1 then contact_id end ), 0 )
    as lfl_spend_actn,

/*--- REGULAR: средние траты ---*/
sum( case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then spend_prev end ) /
nullif( count( distinct case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then contact_id end ), 0 )
    as reg_spend_prev,

sum( case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then spend_actn end ) /
nullif( count( distinct case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then contact_id end ), 0 )
    as reg_spend_actn,

/*--- REGULAR: частота ---*/
sum( case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then frq_prev end ) /
nullif( count( distinct case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then contact_id end ), 0 )
    as reg_frq_prev,

sum( case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then frq_actn end ) /
nullif( count( distinct case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then contact_id end ), 0 )
    as reg_frq_actn,
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then opsum_wo_nds_week_prev end) /
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then cnt_trn_week_prev end)               as reg_avg_cheque_prev,
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then opsum_wo_nds_week_actn end) /
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then cnt_trn_week_actn end)               as reg_avg_cheque_actn,
    sum(case when a.is_cus_lfl = 1 then opsum_wo_nds_week_actn end) /
    avg(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then margin_prev end)                     as reg_margin_prev,
    avg(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then margin_actn end)                     as reg_margin_actn,
    sum(disc_prev)                                                                                      as disc_prev,
    sum(disc_actn)                                                                                      as disc_actn,
    sum(spend_prev)                                                                                     as opsum_prev,
    sum(spend_actn)                                                                                     as opsum_actn,
    sum(margin_prev)                                                                                    as opsum_margin_prev,
    sum(margin_actn)                                                                                    as opsum_margin_actn,
    max(case when a.is_ca = 1 then f.opsum_frmt_region end)                                             as opsum_frmt_region
from frmt_region_cus_type_metrics a
join (select distinct frmt_id, frmt, region_id, region from dm.whs) w on w.frmt_id = a.frmt_id and w.region_id = a.region_id
join opsum_total f on 1=1
group by 1,2
order by 1,2
;""")

df_frmt.head(4)

,frmt,is_ca,cnt_cus_total,cnt_cus_actn,cnt_cus_lfl,lfl_spend_prev,lfl_spend_actn,reg_spend_prev,reg_spend_actn,reg_frq_prev,...,reg_avg_cheque_actn,reg_margin_prev,reg_margin_actn,disc_prev,disc_actn,opsum_prev,opsum_actn,opsum_margin_prev,opsum_margin_actn,opsum_frmt_region
0,БФ,0,NaN,36919,36919,1709.312167,1806.633835,1709.312167,1806.633835,1.477214,...,1163.699299,142369.687224,514.448114,0.0,0.00,6.310610e+07,6.669911e+07,1.729674e+07,1.899342e+07,NaN
1,БФ,1,276837.0,71003,39000,1522.409582,1843.437301,1742.082591,1968.634421,1.477088,...,1196.619546,168600.270746,488.730588,0.0,6391621.32,8.255094e+07,9.995391e+07,2.019007e+07,2.483585e+07,2.454468e+11
2,МД,0,NaN,174696,174696,1837.683133,1797.714645,1837.683133,1797.714645,2.634962,...,704.944675,604141.193896,521.264777,0.0,0.00,3.210359e+08,3.140536e+08,9.081252e+07,9.106183e+07,NaN
3,МД,1,276837.0,231520,173472,1789.606393,2039.610478,1879.931862,2080.068482,2.646440,...,724.054752,752149.901116,520.205114,0.0,32870593.32,4.525217e+08,5.122480e+08,1.144566e+08,1.296682e+08,2.454468e+11

In [138]:
oborot_ap = gp_connector.gp(f"""
with stat as (
select distinct frmt_id, region_id
from ba.t_zig_actn_margin m
where 1=1
and actn_name = '{actn_name}'
and stat_test = 1
)

select frmt, sum(opsum_frmt_region) as opsum_frmt_region
from ba.t_zig_opsum_frmt_region r
join stat s on s.frmt_id = r.frmt_id and s.region_id = r.region_id
join (select distinct frmt_id, frmt from dm.whs) w on w.frmt_id = r.frmt_id
where actn_name = '{actn_name}'
group by 1
""")

In [139]:
df_frmt = df_frmt.drop('opsum_frmt_region', axis=1)

In [140]:
df_frmt = df_frmt.merge(oborot_ap, on='frmt')
# Зануляем оборот АП для КГ
ind = df_frmt.query('is_ca == 0').index
df_frmt.loc[ind, ['opsum_frmt_region']] = None

In [141]:
df_incr = df_frmt.query('is_ca == 1')['frmt'].reset_index(drop=True)

# Чистый прирост Трат
df_11 = df_frmt.query('is_ca == 1')['reg_spend_actn'] / df_frmt.query('is_ca == 1')['reg_spend_prev']
df_12 = df_frmt.query('is_ca == 0')['reg_spend_actn'] / df_frmt.query('is_ca == 0')['reg_spend_prev']
res_1 = df_11.reset_index(drop=True) / df_12.reset_index(drop=True) - 1
res_1.name = 'incr_spend'

# Чистый прирост Частоты
df_21 = df_frmt.query('is_ca == 1')['reg_frq_actn'] / df_frmt.query('is_ca == 1')['reg_frq_prev']
df_22 = df_frmt.query('is_ca == 0')['reg_frq_actn'] / df_frmt.query('is_ca == 0')['reg_frq_prev']
res_2 = df_21.reset_index(drop=True) / df_22.reset_index(drop=True) - 1
res_2.name = 'incr_frq'

# Чистый прирост Ср.чек
df_31 = df_frmt.query('is_ca == 1')['reg_avg_cheque_actn'] / df_frmt.query('is_ca == 1')['reg_avg_cheque_prev']
df_32 = df_frmt.query('is_ca == 0')['reg_avg_cheque_actn'] / df_frmt.query('is_ca == 0')['reg_avg_cheque_prev']
res_3 = df_31.reset_index(drop=True) / df_32.reset_index(drop=True) - 1
res_3.name = 'incr_avg_cheque'

In [142]:
df_incr = pd.concat([df_incr, res_1], axis=1)
df_incr = pd.concat([df_incr, res_2], axis=1)
df_incr = pd.concat([df_incr, res_3], axis=1)
df_incr

  frmt  incr_spend  incr_frq  incr_avg_cheque
0   БФ    0.069172  0.059782         0.008861
1   МД    0.131059  0.121638         0.008399
2   МК    0.125113  0.059794         0.061634

In [143]:
# Добавляю приросты в Таблицу
df_frmt = df_frmt.merge(df_incr, how='left', on=['frmt'])

In [144]:
# Добавляю Доп.РТО и Доп.маржу в Таблицу
cols = ['add_rto', 'add_cnt_txn', 'add_rto_wo_art_actn', 'add_rto_art_actn', 'add_margin', 'add_margin_wo_art', 'add_margin_art_actn']
add_rto = df_frmt_region_type_new.groupby(['frmt', 'is_ca'])[cols].sum()
df_frmt = pd.concat([df_frmt, add_rto.reset_index()[cols]], axis=1)

avg_spent = (df_frmt.reg_spend_actn + df_frmt.reg_spend_prev) / 2 / 7

# Рассчитываю влияние на РТО
df_frmt['impact_rto'] = df_frmt['add_rto'] / df_frmt['opsum_frmt_region']

# Рассчитываю влияние на Ср.чек
res_4 = (df_frmt.query('is_ca == 1')['reg_avg_cheque_actn'] - df_frmt.query('is_ca == 1')['reg_avg_cheque_actn'] /\
         (res_3.values + 1)) / df_frmt.query('is_ca == 1')['reg_avg_cheque_prev']
df_frmt['impact_avg_txn'] = (avg_spent * df_frmt.cnt_cus_actn * actn_length * res_4) / df_frmt.opsum_frmt_region

# Рассчитываю влияние на Трафик
res_5 = (df_frmt.query('is_ca == 1')['reg_frq_actn'] - df_frmt.query('is_ca == 1')['reg_frq_actn'] /\
         (res_2.values + 1)) / df_frmt.query('is_ca == 1')['reg_frq_prev']
df_frmt['impact_cnt_txn'] = (avg_spent * df_frmt.cnt_cus_actn * actn_length * res_5) / df_frmt.opsum_frmt_region

# Маржинальность
df_frmt['margin_ratio_prev'] = df_frmt.opsum_margin_prev / df_frmt.opsum_prev
df_frmt['margin_ratio_actn'] = df_frmt.opsum_margin_actn / df_frmt.opsum_actn

In [145]:
df_frmt_exp = df_frmt[[
    'frmt', 'is_ca', 'cnt_cus_actn', 'cnt_cus_lfl',
    'reg_spend_prev', 'reg_spend_actn', 'incr_spend', 
    'reg_frq_prev', 'reg_frq_actn', 'incr_frq',
    'reg_avg_cheque_prev', 'reg_avg_cheque_actn', 'incr_avg_cheque',
    'add_rto', 'add_cnt_txn', 'add_rto_wo_art_actn', 'add_rto_art_actn',
    'add_margin', 'add_margin_wo_art', 'add_margin_art_actn',
    'impact_rto', 'impact_avg_txn', 'impact_cnt_txn',
    'opsum_frmt_region', 'margin_ratio_prev', 'margin_ratio_actn'
]]

In [146]:
# Зануляю приросты для КГ
ind = df_frmt_exp.query('is_ca == 0').index
df_frmt_exp.loc[ind, ['add_cnt_txn', 'incr_spend', 'incr_frq', 'incr_avg_cheque', 'add_rto', 'add_rto_wo_art_actn', 'add_rto_art_actn',
    'add_margin', 'add_margin_wo_art', 'add_margin_art_actn', 'impact_rto', 'impact_avg_txn', 'impact_cnt_txn', 'opsum_frmt_region']] = None

df_frmt_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)

e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\3054858855.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_frmt_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)
e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\3054858855.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frmt_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)

In [147]:
df_frmt_exp['row_num'] = [1 if i == 'МД' else 2 for i in df_frmt_exp['frmt']]
df_frmt_exp = df_frmt_exp.sort_values(by=['row_num', 'frmt', 'is_ca']).reset_index(drop=True).drop(columns='row_num')

e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\877243675.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_frmt_exp['row_num'] = [1 if i == 'МД' else 2 for i in df_frmt_exp['frmt']]

In [148]:
df_frmt_exp = df_frmt_exp.set_index(['frmt', 'is_ca']).transpose()

### Сводная Округ

In [149]:
df_region = gp_connector.gp(f"""	--sql
with frmt_region_cus_type_metrics as (
    select
        frmt_id,
        region_id,
        cus_type,
        is_ca,
        is_cus_lfl,
        contact_id,
        sum(case when actn_period = 1 then opsum_wo_nds / cnt_day_wo_cross::float * 7 end)                          as spend_prev,
        sum(case when actn_period = 2 then opsum_wo_nds / cnt_day_wo_cross::float * 7 end)                          as spend_actn,
        sum(case when actn_period = 1 then (opsum_wo_nds - coalesce(opsum_wo_nds_art_actn, 0)) / cnt_day_wo_cross::float * 7 end) as spend_wo_art_actn_prev,
        sum(case when actn_period = 2 then (opsum_wo_nds - coalesce(opsum_wo_nds_art_actn, 0)) / cnt_day_wo_cross::float * 7 end) as spend_wo_art_actn_actn,
        sum(case when actn_period = 1 then cnt_trn / cnt_day_wo_cross::float * 7 end) / 
        count(distinct(case when actn_period = 1 then contact_id end)) 				                                as frq_prev,
        sum(case when actn_period = 2 then cnt_trn / cnt_day_wo_cross::float * 7 end) / 
        count(distinct(case when actn_period = 2 then contact_id end)) 				                                as frq_actn,
        sum(case when actn_period = 1 then opsum_wo_nds / cnt_day_wo_cross::float * 7 else 0 end)                   as opsum_wo_nds_week_prev,
        sum(case when actn_period = 2 then opsum_wo_nds / cnt_day_wo_cross::float * 7 else 0 end)                   as opsum_wo_nds_week_actn,
        sum(case when actn_period = 1 then cnt_trn / cnt_day_wo_cross::float * 7 else 0 end)                        as cnt_trn_week_prev,
        sum(case when actn_period = 2 then cnt_trn / cnt_day_wo_cross::float * 7 else 0 end)                        as cnt_trn_week_actn,
        sum(case when actn_period = 1 then (gross_margin_wo_nds_wo_logist*0.966) / cnt_day_wo_cross::float * 7 end) as margin_prev,
        sum(case when actn_period = 2 then (gross_margin_wo_nds_wo_logist*0.966) / cnt_day_wo_cross::float * 7 end) as margin_actn,
        sum(case when actn_period = 1 then ((gross_margin_wo_nds_wo_logist - 
                         coalesce(gross_margin_wo_nds_wo_logist_art_actn, 0)) *0.966) / cnt_day_wo_cross::float * 7 end) as margin_wo_art_actn_prev,
        sum(case when actn_period = 2 then ((gross_margin_wo_nds_wo_logist - 
                         coalesce(gross_margin_wo_nds_wo_logist_art_actn, 0)) *0.966) / cnt_day_wo_cross::float * 7 end) as margin_wo_art_actn_actn,
        sum(case when actn_period = 1 then disc end)                                                                as disc_prev,
        sum(case when actn_period = 2 then disc end)                                                                as disc_actn,
        max(cnt_cus_total)                                                                                          as cnt_cus_total
    from ba.t_zig_actn_margin
    where
        actn_name = '{actn_name}'
        and stat_test = 1
    group by 1,2,3,4,5,6
    ), opsum_total as (
    select sum(opsum_frmt_region) as opsum_frmt_region
    from ba.t_zig_opsum_frmt_region
    where actn_name = '{actn_name}'
    )
select
    w.region,
    a.is_ca,
    max(case when a.is_ca = 1 then cnt_cus_total end)                                                   as cnt_cus_total,
    count(distinct a.contact_id)                                                                        as cnt_cus_actn,
    count(distinct case when a.is_cus_lfl = 1 then a.contact_id end)                                    as cnt_cus_lfl,
/* LFL: траты */
sum( case when a.is_cus_lfl = 1 then spend_prev end ) /
nullif( count( distinct case when a.is_cus_lfl = 1 then contact_id end ), 0 )
    as lfl_spend_prev,

sum( case when a.is_cus_lfl = 1 then spend_actn end ) /
nullif( count( distinct case when a.is_cus_lfl = 1 then contact_id end ), 0 )
    as lfl_spend_actn,

/* REGULAR: траты */
sum( case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then spend_prev end ) /
nullif( count( distinct case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then contact_id end ), 0 )
    as reg_spend_prev,

sum( case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then spend_actn end ) /
nullif( count( distinct case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then contact_id end ), 0 )
    as reg_spend_actn,

/* REGULAR: частота */
sum( case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then frq_prev end ) /
nullif( count( distinct case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then contact_id end ), 0 )
    as reg_frq_prev,

sum( case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then frq_actn end ) /
nullif( count( distinct case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then contact_id end ), 0 )
    as reg_frq_actn,
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then opsum_wo_nds_week_prev end) /
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then cnt_trn_week_prev end)               as reg_avg_cheque_prev,
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then opsum_wo_nds_week_actn end) /
    sum(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then cnt_trn_week_actn end)               as reg_avg_cheque_actn,
    sum(case when a.is_cus_lfl = 1 then opsum_wo_nds_week_actn end) /
    avg(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then margin_prev end)                     as reg_margin_prev,
    avg(case when a.cus_type = 'REGULAR' and a.is_cus_lfl = 1 then margin_actn end)                     as reg_margin_actn,
    sum(disc_prev)                                                                                      as disc_prev,
    sum(disc_actn)                                                                                      as disc_actn,
    sum(spend_prev)                                                                                     as opsum_prev,
    sum(spend_actn)                                                                                     as opsum_actn,
    sum(margin_prev)                                                                                    as opsum_margin_prev,
    sum(margin_actn)                                                                                    as opsum_margin_actn,
    max(case when a.is_ca = 1 then f.opsum_frmt_region end)                                             as opsum_frmt_region
from frmt_region_cus_type_metrics a
join (select distinct frmt_id, frmt, region_id, region from dm.whs) w on w.frmt_id = a.frmt_id and w.region_id = a.region_id
join opsum_total f on 1=1
group by 1,2
order by 1,2
;""")

df_region.head(4)

,region,is_ca,cnt_cus_total,cnt_cus_actn,cnt_cus_lfl,lfl_spend_prev,lfl_spend_actn,reg_spend_prev,reg_spend_actn,reg_frq_prev,...,reg_avg_cheque_actn,reg_margin_prev,reg_margin_actn,disc_prev,disc_actn,opsum_prev,opsum_actn,opsum_margin_prev,opsum_margin_actn,opsum_frmt_region
0,Волжский округ,0,NaN,57720,57720,1507.772058,1493.440027,1507.772058,1493.440027,2.173943,...,696.332316,204693.840934,431.488956,0.0,0.00,8.702860e+07,8.620136e+07,2.448369e+07,2.508547e+07,NaN
1,Волжский округ,1,276837.0,53390,44076,1887.960028,2186.572467,1991.885448,2223.584306,2.815313,...,719.572234,253483.539363,426.656558,0.0,9167936.62,1.228942e+08,1.420006e+08,3.026187e+07,3.536963e+07,2.454468e+11
2,Кавказский округ,0,NaN,27352,27352,1542.486662,1561.677280,1542.486662,1561.677280,1.996435,...,779.919748,98383.541978,453.614500,0.0,0.00,4.219010e+07,4.271500e+07,1.198738e+07,1.252430e+07,NaN
3,Кавказский округ,1,276837.0,23673,20300,2072.364475,2446.408276,2220.703064,2494.946271,2.813378,...,800.340921,126040.026463,446.172194,0.0,4449158.58,5.660457e+07,6.692220e+07,1.413063e+07,1.698393e+07,2.454468e+11

In [150]:
oborot_ap = gp_connector.gp(f"""
with stat as (
select distinct frmt_id, region_id
from ba.t_zig_actn_margin m
where 1=1
and actn_name = '{actn_name}'
and stat_test = 1
)

select region, sum(opsum_frmt_region) as opsum_frmt_region
from ba.t_zig_opsum_frmt_region r
join stat s on s.frmt_id = r.frmt_id and s.region_id = r.region_id
join (select distinct region_id, region from dm.whs) w on w.region_id = r.region_id
where actn_name = '{actn_name}'
group by 1
""")

In [151]:
df_region = df_region.drop('opsum_frmt_region', axis=1)

In [152]:
df_region = df_region.merge(oborot_ap, on='region')
# Зануляем оборот АП для КГ
ind = df_region.query('is_ca == 0').index
df_region.loc[ind, ['opsum_frmt_region']] = None

In [153]:
df_incr = df_region.query('is_ca == 1')['region'].reset_index(drop=True)

# Чистый прирост Трат
df_11 = df_region.query('is_ca == 1')['reg_spend_actn'] / df_region.query('is_ca == 1')['reg_spend_prev']
df_12 = df_region.query('is_ca == 0')['reg_spend_actn'] / df_region.query('is_ca == 0')['reg_spend_prev']
res_1 = df_11.reset_index(drop=True) / df_12.reset_index(drop=True) - 1
res_1.name = 'incr_spend'

# Чистый прирост Частоты
df_21 = df_region.query('is_ca == 1')['reg_frq_actn'] / df_region.query('is_ca == 1')['reg_frq_prev']
df_22 = df_region.query('is_ca == 0')['reg_frq_actn'] / df_region.query('is_ca == 0')['reg_frq_prev']
res_2 = df_21.reset_index(drop=True) / df_22.reset_index(drop=True) - 1
res_2.name = 'incr_frq'

# Чистый прирост Ср.чек
df_31 = df_region.query('is_ca == 1')['reg_avg_cheque_actn'] / df_region.query('is_ca == 1')['reg_avg_cheque_prev']
df_32 = df_region.query('is_ca == 0')['reg_avg_cheque_actn'] / df_region.query('is_ca == 0')['reg_avg_cheque_prev']
res_3 = df_31.reset_index(drop=True) / df_32.reset_index(drop=True) - 1
res_3.name = 'incr_avg_cheque'

In [154]:
df_incr = pd.concat([df_incr, res_1], axis=1)
df_incr = pd.concat([df_incr, res_2], axis=1)
df_incr = pd.concat([df_incr, res_3], axis=1)
df_incr

                  region  incr_spend  incr_frq  incr_avg_cheque
0         Волжский округ    0.127034  0.112576         0.012996
1       Кавказский округ    0.109688  0.104770         0.004451
2       Московский округ    0.123004  0.115073         0.007113
3  Северо-Западный округ    0.110707  0.107122         0.003239
4        Сибирский округ    0.154836  0.130465         0.021558
5        Уральский округ    0.086967  0.058847         0.026558
6      Центральный округ    0.122493  0.107685         0.013369
7            Южный округ    0.110025  0.099717         0.009373

In [155]:
# Добавляю приросты в Таблицу
df_region = df_region.merge(df_incr, how='left', on=['region'])

In [156]:
# Добавляю Доп.РТО и Доп.маржу в Таблицу
cols = ['add_rto', 'add_cnt_txn', 'add_rto_wo_art_actn', 'add_rto_art_actn', 'add_margin', 'add_margin_wo_art', 'add_margin_art_actn']
add_rto = df_frmt_region_type_new.groupby(['region', 'is_ca'])[cols].sum()
df_region = pd.concat([df_region, add_rto.reset_index()[cols]], axis=1)

avg_spent = (df_region.reg_spend_actn + df_region.reg_spend_prev) / 2 / 7

# Рассчитываю влияние на РТО
df_region['impact_rto'] = df_region['add_rto'] / df_region['opsum_frmt_region']

# Рассчитываю влияние на Ср.чек
res_4 = (df_region.query('is_ca == 1')['reg_avg_cheque_actn'] - df_region.query('is_ca == 1')['reg_avg_cheque_actn'] /\
         (res_3.values + 1)) / df_region.query('is_ca == 1')['reg_avg_cheque_prev']
df_region['impact_avg_txn'] = (avg_spent * df_region.cnt_cus_actn * actn_length * res_4) / df_region.opsum_frmt_region

# Рассчитываю влияние на Трафик
res_5 = (df_region.query('is_ca == 1')['reg_frq_actn'] - df_region.query('is_ca == 1')['reg_frq_actn'] /\
         (res_2.values + 1)) / df_region.query('is_ca == 1')['reg_frq_prev']
df_region['impact_cnt_txn'] = (avg_spent * df_region.cnt_cus_actn * actn_length * res_5) / df_region.opsum_frmt_region

# Маржинальность
df_region['margin_ratio_prev'] = df_region.opsum_margin_prev / df_region.opsum_prev
df_region['margin_ratio_actn'] = df_region.opsum_margin_actn / df_region.opsum_actn

In [157]:
df_region_exp = df_region[[
    'region', 'is_ca', 'cnt_cus_actn', 'cnt_cus_lfl',
    'reg_spend_prev', 'reg_spend_actn', 'incr_spend', 
    'reg_frq_prev', 'reg_frq_actn', 'incr_frq',
    'reg_avg_cheque_prev', 'reg_avg_cheque_actn', 'incr_avg_cheque',
    'add_rto', 'add_cnt_txn', 'add_rto_wo_art_actn', 'add_rto_art_actn',
    'add_margin', 'add_margin_wo_art', 'add_margin_art_actn',
    'impact_rto', 'impact_avg_txn', 'impact_cnt_txn',
    'opsum_frmt_region', 'margin_ratio_prev', 'margin_ratio_actn'
]]

In [158]:
# Зануляю приросты для КГ
ind = df_region_exp.query('is_ca == 0').index
df_region_exp.loc[ind, ['add_cnt_txn', 'incr_spend', 'incr_frq', 'incr_avg_cheque', 'add_rto', 'add_rto_wo_art_actn', 'add_rto_art_actn', 'add_margin',
                        'add_margin_wo_art', 'add_margin_art_actn', 'impact_rto', 'impact_avg_txn', 'impact_cnt_txn', 'opsum_frmt_region']] = None

df_region_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)

e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\1849478705.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_region_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)
e:\users\meshchaninov_av\AppData\Local\Temp\ipykernel_5412\1849478705.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_region_exp['is_ca'].replace({0:'КГ', 1:'ЦА'}, inplace=True)

In [159]:
df_region_exp = df_region_exp.set_index(['region', 'is_ca']).transpose()

In [160]:
df_region_exp

region              Волжский округ               Кавказский округ  \
is_ca                           КГ            ЦА               КГ
cnt_cus_actn          57720.000000  5.339000e+04     27352.000000
cnt_cus_lfl           57720.000000  4.407600e+04     27352.000000
reg_spend_prev         1507.772058  1.991885e+03      1542.486662
reg_spend_actn         1493.440027  2.223584e+03      1561.677280
incr_spend                     NaN  1.270343e-01              NaN
reg_frq_prev              2.173943  2.815313e+00         1.996435
reg_frq_actn              2.144723  3.090147e+00         2.002356
incr_frq                       NaN  1.125756e-01              NaN
reg_avg_cheque_prev     693.565534  7.075184e+02       772.620387
reg_avg_cheque_actn     696.332316  7.195722e+02       779.919748
incr_avg_cheque                NaN  1.299574e-02              NaN
add_rto                        NaN  7.018017e+07              NaN
add_cnt_txn                    NaN  8.461982e+04              NaN
add_rto_wo_art_actn            NaN  7.018017e+07              NaN
add_rto_art_actn               NaN  0.000000e+00              NaN
add_margin                     NaN  1.397689e+07              NaN
add_margin_wo_art              NaN  1.397689e+07              NaN
add_margin_art_actn            NaN  0.000000e+00              NaN
impact_rto                     NaN  1.894361e-03              NaN
impact_avg_txn                 NaN  1.755164e-04              NaN
impact_cnt_txn                 NaN  1.494016e-03              NaN
opsum_frmt_region              NaN  3.704689e+10              NaN
margin_ratio_prev         0.281329  2.462432e-01         0.284128
margin_ratio_actn         0.291010  2.490808e-01         0.293206

region                            Московский округ                \
is_ca                          ЦА               КГ            ЦА
cnt_cus_actn         2.367300e+04     39754.000000  4.301300e+04
cnt_cus_lfl          2.030000e+04     39754.000000  3.284200e+04
reg_spend_prev       2.220703e+03      1561.246861  1.941756e+03
reg_spend_actn       2.494946e+03      1546.246489  2.159648e+03
incr_spend           1.096879e-01              NaN  1.230040e-01
reg_frq_prev         2.813378e+00         2.093962  2.547175e+00
reg_frq_actn         3.117354e+00         2.062493  2.797601e+00
incr_frq             1.047704e-01              NaN  1.150730e-01
reg_avg_cheque_prev  7.893370e+02       745.594562  7.623174e+02
reg_avg_cheque_actn  8.003409e+02       749.697738  7.719645e+02
incr_avg_cheque      4.451105e-03              NaN  7.112582e-03
add_rto              3.082717e+07              NaN  5.110845e+07
add_cnt_txn          3.493150e+04              NaN  6.071085e+04
add_rto_wo_art_actn  3.082717e+07              NaN  5.110845e+07
add_rto_art_actn     0.000000e+00              NaN  0.000000e+00
add_margin           6.668615e+06              NaN  1.147949e+07
add_margin_wo_art    6.668615e+06              NaN  1.147949e+07
add_margin_art_actn  0.000000e+00              NaN  0.000000e+00
impact_rto           1.854447e-03              NaN  1.115239e-03
impact_avg_txn       6.681298e-05              NaN  6.096100e-05
impact_cnt_txn       1.562550e-03              NaN  9.661359e-04
opsum_frmt_region    1.662338e+10              NaN  4.582734e+10
margin_ratio_prev    2.496376e-01         0.284407  2.394612e-01
margin_ratio_actn    2.537863e-01         0.291406  2.430969e-01

region              Северо-Западный округ               Сибирский округ  \
is_ca                                  КГ            ЦА              КГ
cnt_cus_actn                 17015.000000  1.943200e+04    24199.000000
cnt_cus_lfl                  17015.000000  1.524500e+04    24199.000000
reg_spend_prev                1642.198301  1.931645e+03     1632.027976
reg_spend_actn                1629.989923  2.129542e+03     1633.904308
incr_spend                            NaN  1.107074e-01             NaN
reg_frq_prev                     2.265920  2.608676e+00        2.186588
reg_frq_actn                     2.232690  2.845768e+00        2.165536
incr_frq                              NaN  1.071216e-01             NaN
reg_avg_cheque_prev            724.738059  7.404694e+02      746.381010
reg_avg_cheque_actn            730.056429  7.483190e+02      754.503404
incr_avg_cheque                       NaN  3.238798e-03             NaN
add_rto                               NaN  1.994828e+07             NaN
add_cnt_txn                           NaN  2.529800e+04             NaN
add_rto_wo_art_actn                   NaN  1.994828e+07             NaN
add_rto_art_actn                      NaN  0.000000e+00             NaN
add_margin                            NaN  4.418333e+06             NaN
add_margin_wo_art                     NaN  4.418333e+06             NaN
add_margin_art_actn                   NaN  0.000000e+00             NaN
impact_rto                            NaN  9.256305e-04             NaN
impact_avg_txn                        NaN  2.645426e-05             NaN
impact_cnt_txn                        NaN  8.558498e-04             NaN
opsum_frmt_region                     NaN  2.155102e+10             NaN
margin_ratio_prev                0.289097  2.546311e-01        0.276592
margin_ratio_actn                0.293214  2.545889e-01        0.284461

region                            Уральский округ                \
is_ca                          ЦА              КГ            ЦА
cnt_cus_actn         2.592200e+04    13688.000000  2.388200e+04
cnt_cus_lfl          2.103900e+04    13688.000000  1.277100e+04
reg_spend_prev       1.944329e+03     1209.140512  1.363467e+03
reg_spend_actn       2.247963e+03     1272.909701  1.560206e+03
incr_spend           1.548359e-01             NaN  8.696750e-02
reg_frq_prev         2.551040e+00        1.206677  1.327909e+00
reg_frq_actn         2.856096e+00        1.297018  1.511319e+00
incr_frq             1.304650e-01             NaN  5.884680e-02
reg_avg_cheque_prev  7.621710e+02     1002.041251  1.026777e+03
reg_avg_cheque_actn  7.870752e+02      981.412614  1.032347e+03
incr_avg_cheque      2.155836e-02             NaN  2.655786e-02
add_rto              3.766060e+07             NaN  1.304275e+07
add_cnt_txn          4.003393e+04             NaN  8.526707e+03
add_rto_wo_art_actn  3.766060e+07             NaN  1.304275e+07
add_rto_art_actn     0.000000e+00             NaN  0.000000e+00
add_margin           7.820741e+06             NaN  3.118827e+06
add_margin_wo_art    7.820741e+06             NaN  3.118827e+06
add_margin_art_actn  0.000000e+00             NaN  0.000000e+00
impact_rto           2.259028e-03             NaN  1.327501e-03
impact_avg_txn       3.145607e-04             NaN  4.093151e-04
impact_cnt_txn       1.865006e-03             NaN  9.953512e-04
opsum_frmt_region    1.667115e+10             NaN  9.825039e+09
margin_ratio_prev    2.396237e-01        0.287477  2.325203e-01
margin_ratio_actn    2.413174e-01        0.302079  2.445067e-01

region              Центральный округ                 Южный округ  \
is_ca                              КГ            ЦА            КГ
cnt_cus_actn             34177.000000  3.206300e+04  58970.000000
cnt_cus_lfl              34177.000000  2.611200e+04  58970.000000
reg_spend_prev            1572.290622  2.095620e+03   1546.829494
reg_spend_actn            1555.253855  2.326830e+03   1554.095668
incr_spend                        NaN  1.224935e-01           NaN
reg_frq_prev                 2.154461  2.813818e+00      2.058464
reg_frq_actn                 2.119378  3.066069e+00      2.046629
incr_frq                          NaN  1.076848e-01           NaN
reg_avg_cheque_prev        729.783882  7.447603e+02    751.448389
reg_avg_cheque_actn        733.825754  7.588970e+02    759.344121
incr_avg_cheque                   NaN  1.336905e-02           NaN
add_rto                           NaN  4.321625e+07           NaN
add_cnt_txn                       NaN  4.903097e+04           NaN
add_rto_wo_art_actn               NaN  4.321625e+07           NaN
add_rto_art_actn                  NaN  0.000000e+00           NaN
add_margin                        NaN  9.659103e+06           NaN
add_margin_wo_art                 NaN  9.659103e+06           NaN
add_margin_art_actn               NaN  0.000000e+00           NaN
impact_rto                        NaN  1.513570e-03           NaN
impact_avg_txn                    NaN  1.478275e-04           NaN
impact_cnt_txn                    NaN  1.164877e-03           NaN
opsum_frmt_region                 NaN  2.855253e+10           NaN
margin_ratio_prev            0.288786  2.534383e-01      0.298526
margin_ratio_actn            0.299065  2.581970e-01      0.307661

region
is_ca                          ЦА
cnt_cus_actn         4.741100e+04
cnt_cus_lfl          4.073600e+04
reg_spend_prev       2.267767e+03
reg_spend_actn       2.529102e+03
incr_spend           1.100247e-01
reg_frq_prev         3.001809e+00
reg_frq_actn         3.282160e+00
incr_frq             9.971697e-02
reg_avg_cheque_prev  7.554668e+02
reg_avg_cheque_actn  7.705602e+02
incr_avg_cheque      9.373077e-03
add_rto              6.491070e+07
add_cnt_txn          7.458532e+04
add_rto_wo_art_actn  6.491070e+07
add_rto_art_actn     0.000000e+00
add_margin           1.478660e+07
add_margin_wo_art    1.478660e+07
add_margin_art_actn  0.000000e+00
impact_rto           2.023050e-03
impact_avg_txn       1.486561e-04
impact_cnt_txn       1.556059e-03
opsum_frmt_region    3.208556e+10
margin_ratio_prev    2.664926e-01
margin_ratio_actn    2.706289e-01

### Сохраняю отчет

In [165]:
import datetime
print('Обновление данных в Плоской таблице')
# шаблон для выгрузки отчёта в excel
template_file = 'Шаблон_Расчет эффекта.xlsx'
promo_start_date = datetime.datetime.strptime(promo_start_date, '%Y-%m-%d')
promo_end_date = datetime.datetime.strptime(promo_end_date, '%Y-%m-%d')
calc_date = datetime.datetime.today()

# Определение периода
def define_period(start_date, end_date):
    if start_date.month == end_date.month and (end_date - start_date).days >= 27:
        return start_date.strftime("%B")  # название месяца
    elif (end_date - start_date).days < 27:
        weeks = ((end_date - start_date).days + 1) // 7
        return f"{weeks}нед"
    else:
        return "Финал"

# Определение типа расчета
def define_calc_type(end_date, calc_date):
    if calc_date <= end_date + datetime.timedelta(days=15):
        return "пром"
    else:
        return "пересч"

period = define_period(promo_start_date, promo_end_date)
calc_type = define_calc_type(promo_end_date, calc_date)
calc_date_str = calc_date.strftime("%d.%m.%Y")

# Функция для формирования имени файла
def create_file_name(actn_name, period, calc_type, calc_date_str):
    return f"{actn_name}_{period}_{calc_type}_{calc_date_str}.xlsx"

# Создание имени файла
new_file_name = create_file_name(actn_name, period, calc_type, calc_date_str)
wb = xw.Book(file)
# Акция
wb.sheets('Общий эффект').range('B4:C27').expand('table').api.Clear()
wb.sheets('Общий эффект').range('B4').options(index=False, header=False).value=df_total_exp
wb.sheets('Общий эффект').range('B4:C8;B13:C14').number_format = "# ##0"
wb.sheets('Общий эффект').range('B10:C11').number_format = "0,0"
wb.sheets('Общий эффект').range('B9:C9;B12:C12;B15:C15;B27:C28').number_format = "0,0%"
wb.sheets('Общий эффект').range('C23:C25').number_format = "0,00%"
wb.sheets('Общий эффект').range('C16:C22;C26:C26').number_format = "# ##0 K"
# Тип клиента
wb.sheets('Общий эффект').range('B33:E55').expand('table').api.Clear()
wb.sheets('Общий эффект').range('B33').options(index=False, header=False).value=df_cus_type_exp
wb.sheets('Общий эффект').range('B33:E36;B41:E42').number_format = "# ##0"
wb.sheets('Общий эффект').range('B38:E39').number_format = "0,0"
wb.sheets('Общий эффект').range('B37:E37;B40:E40;B43:E43;B54:E56').number_format = "0,0%"
wb.sheets('Общий эффект').range('C50:E53').number_format = "0,00%"
wb.sheets('Общий эффект').range('C44:E50;C54:E54').number_format = "# ##0 K"
# Формат
wb.sheets('Общий эффект').range('B61:I83').expand('table').api.Clear()
wb.sheets('Общий эффект').range('B61').options(index=False, header=False).value=df_frmt_exp
wb.sheets('Общий эффект').range('B61:I64;B69:I70').number_format = "# ##0"
wb.sheets('Общий эффект').range('B66:I67').number_format = "0,0"
wb.sheets('Общий эффект').range('B65:I65;B68:I68;B71:I71;B82:I84').number_format = "0,0%"
wb.sheets('Общий эффект').range('C78:I81').number_format = "0,00%"
wb.sheets('Общий эффект').range('C72:I78;C82:I82').number_format = "# ##0 K"
# Округ
wb.sheets('Общий эффект').range('B89:Q111').expand('table').api.Clear()
wb.sheets('Общий эффект').range('B89').options(index=False, header=False).value=df_region_exp
wb.sheets('Общий эффект').range('B89:Q92;B97:Q98').number_format = "# ##0"
wb.sheets('Общий эффект').range('B94:Q95').number_format = "0,0"
wb.sheets('Общий эффект').range('B93:Q93;B96:Q96;B99:Q99;B111:Q112').number_format = "0,0%"
wb.sheets('Общий эффект').range('C106:Q109').number_format = "0,00%"
wb.sheets('Общий эффект').range('C100:Q106;C110:Q110').number_format = "# ##0 K"
# Формат–Округ–Тип клиента
wb.sheets('Общий эффект').range('B115:CZ142').expand('table').api.Clear()
wb.sheets('Общий эффект').range('B115').options(index=True, header=True).value = df_frmt_region_cus_exp
wb.sheets('Общий эффект').range('C119:CZ122;C127:CZ128').number_format = "# ##0"
wb.sheets('Общий эффект').range('C124:CZ125').number_format = "0,0"
wb.sheets('Общий эффект').range('C123:CZ123;C126:CZ126;C129:CZ129;C141:CZ142').number_format = "0,0%"
wb.sheets('Общий эффект').range('C137:CZ139').number_format = "0,00%"
wb.sheets('Общий эффект').range('C130:CZ136;D140:CZ140').number_format = "# ##0 K"

wb.save(new_file_name)
#wb.close()

Обновление данных в Плоской таблице